<uib-tabset active="active" id="FormID" type="tabs" class="h-100" cg-busy="t.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">测试查询</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <button class= "btn btn-sm btn-success " ng-click= "t.Insert() "><i class= "glyphicon glyphicon-plus "></i>新增</button>
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="t.Ser.aPARAMETERNAME" placeholder="名称">
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "t.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                <button class= "btn btn-sm btn-success " ng-click= "t.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>
            </div>
        </div>
        <div class= "padder-md ">
<div file-upload file-data="file.UploadFile2" file-type=".xls,.xlsx"></div>
            <div class="col-md-12 scroll-x no-padder" >
                <table class= "table pad-xs" >
                    <thead>
                        <tr>
                            <td style= "width:60px">操作</td>
                            <td style= "width:100px ">a_PARAMETER_NAME</td>
                            <td style= "width:100px ">a_PARAMETER_VALUE</td>
                            <td style= "width:100px ">a_PARAMETER_DESC</td>
                            <td style= "width:100px ">a_ACOUNTNO</td>
                        </tr>
                    </thead>
                    <tr ng-if="t.IsInsert" ng-form="t.InsertForm">
                        <td>
                            <button class="btn btn-xs btn-success" ng-disabled="t.InsertForm.$invalid" ng-click="t.SaveInsert()"><i class="glyphicon glyphicon-save"></i></button>
                            <button class="btn btn-xs btn-warning" ng-click="t.IsInsert=false" ><i class="fa fa-undo"></i></button>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': t.InsertForm.PARAMETER_NAME.$invalid }">
                                <input autocomplete="off"  type="text" name="PARAMETER_NAME" class="form-control" placeholder="a_PARAMETER_NAME" ng-model="t.NewItem.PARAMETER_NAME" required />
                            </div>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': t.InsertForm.PARAMETER_VALUE.$invalid }">
                                <input autocomplete="off"  type="text" name="PARAMETER_VALUE" class="form-control" placeholder="a_PARAMETER_VALUE" ng-model="t.NewItem.PARAMETER_VALUE" required />
                            </div>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': t.InsertForm.PARAMETER_DESC.$invalid }">
                                <input autocomplete="off"  type="text" name="PARAMETER_DESC" class="form-control" placeholder="a_PARAMETER_DESC" ng-model="t.NewItem.PARAMETER_DESC" required />
                            </div>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': t.InsertForm.ACOUNTNO.$invalid }">
                                <input autocomplete="off"  type="text" name="ACOUNTNO" class="form-control" placeholder="a_ACOUNTNO" ng-model="t.NewItem.ACOUNTNO" required />
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat= "item in t.List " ng-form="item.ItemForm">
                        <td>
                            <span ng-if="!item.IsEdit">
                                <button class="btn btn-xs btn-primary" ng-click="t.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                                <button class="btn btn-xs btn-danger" ng-confirm="{text:'确定要删除吗'}" ng-click="t.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                            </span>
                            <span ng-if="item.IsEdit">
                                <button class="btn btn-xs btn-success" ng-disabled="item.ItemForm.$invalid" ng-click="t.SaveEdit($index)"><i class="glyphicon glyphicon-save"></i></button>
                                <button class="btn btn-xs btn-warning" ng-click="item.IsEdit=false"><i class="fa fa-undo"></i></button>
                            </span>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.PARAMETER_NAME }}</span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_PARAMETER_NAME.$invalid }">
                                 <input autocomplete="off"  type="text" name="item_PARAMETER_NAME" class="form-control" placeholder="a_PARAMETER_NAME" ng-model="t.EditItem.PARAMETER_NAME" required />
                            </div>

                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.PARAMETER_VALUE }}</span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_PARAMETER_VALUE.$invalid }">
                                 <input autocomplete="off"  type="text" name="item_PARAMETER_VALUE" class="form-control" placeholder="a_PARAMETER_VALUE" ng-model="t.EditItem.PARAMETER_VALUE" required />
                            </div>

                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.PARAMETER_DESC }}</span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_PARAMETER_DESC.$invalid }">
                                 <input autocomplete="off"  type="text" name="item_PARAMETER_DESC" class="form-control" placeholder="a_PARAMETER_DESC" ng-model="t.EditItem.PARAMETER_DESC" required />
                            </div>

                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.ACOUNTNO }}</span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_ACOUNTNO.$invalid }">
                                 <input autocomplete="off"  type="text" name="item_ACOUNTNO" class="form-control" placeholder="a_ACOUNTNO" ng-model="t.EditItem.ACOUNTNO" required />
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
            <div class= "col-md-12 text-center " ng-if= "t.page.total>t.page.size ">
                <div uib-pagination total-items= "t.page.total " ng-model= "t.page.index " items-per-page= "t.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "t.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>