<uib-tabset active="active" type="tabs" class="h-100" cg-busy="mo.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">工单软件兼容</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <button class= "btn btn-sm btn-success " ng-click= "mo.Insert() "><i class= "glyphicon glyphicon-plus "></i>新增</button>
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="mo.Ser.aWorkOrder" placeholder="工单号">
                </div>
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="mo.Ser.aMateCode" placeholder="工单料号">
                </div>
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="mo.Ser.aMateName" placeholder="工单料名">
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "mo.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                <button class= "btn btn-sm btn-success " ng-click= "mo.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>
            </div>
        </div>
        <div class= "padder-md ">
            <div class="col-md-12 scroll-x no-padder" >
                <table class= "table pad-xs" >
                    <thead>
                        <tr>
                            <td style= "width:60px">操作</td>
                            <td style= "width:100px ">工单号</td>
                            <td style= "width:100px ">料号</td>
                            <td style= "width:100px ">料名</td>
                            <td style= "width:100px ">状态</td>
                            <td style="width:150px ">兼容软件版本</td>
                            <td style= "width:100px ">备注说明</td>
                            <td style= "width:100px ">申请人</td>
                            <td style= "width:100px ">申请时间</td>
                            <td style= "width:100px ">OA流程编号</td>
                        </tr>
                    </thead>
                    <tr ng-repeat= "item in mo.List " ng-form="item.ItemForm">
                        <td>
                            <button class="btn btn-xs btn-primary" ng-click="mo.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                            <button class="btn btn-xs btn-danger" ng-if="item.State == '0'" ng-confirm="{text:'确定要删除吗'}" ng-click="mo.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                        </td>
                        <td title="{{ item.WorkOrder }}">{{ item.WorkOrder }}</td>
                        <td title="{{ item.MateCode }}">{{ item.MateCode }}</td>
                        <td title="{{ item.MateName }}">{{ item.MateName }}</td>
                        <td title="{{ item.StateDesc }}">
                            <div ng-class="{'bg-info':item.State == '1', 'bg-success':item.State == '3', 'bg-danger':item.State == '2'}">
                                {{ item.StateDesc }}
                            </div>
                        </td>
                        <td title="{{ item.Dtl }}">
                            <div ng-repeat="soft in item.Dtl" class="text-left">
                                <i class="glyphicon glyphicon-hand-right"></i>&nbsp; <span class="font-v3">{{ soft.SoftVersion }}</span>
                            </div>
                        </td>
                        <td title="{{ item.Remark }}">{{ item.Remark }}</td>
                        <td title="{{ item.Creator }}">{{ item.Creator }}</td>
                        <td title="{{ item.CreateDate }}">{{ item.CreateDate }}</td>
                        <td title="{{ item.OAFlowNO }}">
                            <a title="点击打开OA流程:{{ item.OAFlowNO }}" ng-if="item.OAFlowID" class="text-info font-v3" ng-click="mo.OpenOAUrl(item)">
                                <!--{{ item.OAFlowNO }}-->
                                打开OA流程
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class= "col-md-12 text-center " ng-if= "mo.page.total>mo.page.size ">
                <div uib-pagination total-items= "mo.page.total " ng-model= "mo.page.index " items-per-page= "mo.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "mo.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
