<!--<div class="container w-auto-xs wrapper-md" >
    <uib-tabset active="sign.indextab" type="tabs" class="h-100" cg-busy="bind.promise">
        <uib-tab index="0">
            <uib-tab-heading class="h5 bg-info">注册协议</uib-tab-heading>
            <div class="panel panel-default" ng-form="sign.Form">
                <div class="panel-body">
                    <div class="scroll-y" style="height:500px">
                        <div data-ng-include="'Access/SignUpProtocol.html' "></div>
                        <div class="checkbox m-b-md m-t-none text-center" ng-class="{ 'has-error' : sign.Form.Agree.$invalid }">
                            <label class="i-checks">
                                <input type="checkbox" name="Agree" ng-model="reg.agree" ng-change="sign.Next()" required><i></i> 同意协议
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" disable="sign.Form.$invalid">
            <uib-tab-heading class="h5">账号信息</uib-tab-heading>
            <div class="panel panel-default" ng-form="sign.OneForm">
                <div class="panel-body">
                    <div class="col-md-6 col-md-offset-3">
                        <h3 class="navbar-brand block m-t">AUCTUS注册账号</h3>
                        <div class="panel m-t-xxl">
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">注册账号:</label>
                                        <div class="col-md-9" ng-class="{ 'has-error' : sign.OneForm.Account.$invalid }">
                                            <input placeholder="请填写账号" name="Account" class="form-control" ng-minlength="8" ng-maxlength="16" ng-model="sign.Item.Account"
                                                   ng-pattern="/^(?![^a-zA-Z]+$)|(?!\D+$)/" ng-change="sign.checkAccount()" required>
                                            <div ng-messages="sign.OneForm.Account.$error" class="help-block h6" role="alert">
                                                <div ng-message="minlength">账号必须大于8位</div>
                                                <div ng-message="maxlength">账号必须小于16位</div>
                                                <div ng-message="pattern">账号必须为8-16位字母、数字</div>
                                                <div ng-message="isExists">账号已经存在</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">密码:</label>
                                        <div class="col-md-9" ng-class="{ 'has-error' : sign.OneForm.Password.$invalid }">
                                            <input type="password" name="Password" class="form-control" ng-minlength="8" ng-maxlength="16" placeholder="密码" ng-model="sign.Item.Password"
                                                   ng-pattern="/^(?![^a-zA-Z]+$)(?!\D+$)/" ng-change="sign.checkPwdSign()" required>
                                            <div ng-messages="sign.OneForm.Password.$error" class="help-block h6" role="alert">
                                                <div ng-message="minlength">密码必须大于8位</div>
                                                <div ng-message="maxlength">密码必须小于16位</div>
                                                <div ng-message="pattern">密码必须为8-16位字母、数字</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">确认密码:</label>
                                        <div class="col-md-9" ng-class="{ 'has-error' : sign.OneForm.PasswordSign.$invalid }">
                                            <input type="password" name="PasswordSign" class="form-control" ng-minlength="8" ng-maxlength="16" placeholder="密码确认" ng-model="sign.Item.PasswordSign"
                                                   ng-pattern="/^(?![^a-zA-Z]+$)(?!\D+$)/" ng-change="sign.checkPwdSign()" required>
                                            <div ng-messages="sign.OneForm.PasswordSign.$error" class="help-block h6" role="alert">
                                                <div ng-message="minlength">密码必须大于8位</div>
                                                <div ng-message="maxlength">密码必须小于16位</div>
                                                <div ng-message="pattern">密码必须为8-16位字母、数字</div>
                                                <div ng-message="check">密码不一致</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-lg-9">
                                        <button type="button" ng-disabled="sign.OneForm.$invalid" class="btn btn-sm btn-success pull-right" ng-click="sign.Next()">下一步</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2" disable="sign.OneForm.$invalid">
            <uib-tab-heading class="h5">注册协议</uib-tab-heading>
            <div class="row form-group">
                <div class="form-group"></div>
                <label class="control-label col-md-3">账号:</label>
                <div class="col-md-9" ng-class="{ 'has-error' : reg.form.name.$invalid }">
                    <input placeholder="请填写账号" name="name" class="form-control" ng-model="reg.name" required>
                    <div ng-messages="reg.form.name.$error">
                        <label class="control-label" ng-message="required">账号不能为空</label>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading class="h5">公司信息</uib-tab-heading>
            <div class="row form-group">
                <div class="form-group"></div>
                <label class="control-label col-md-3">账号:</label>
                <div class="col-md-9" ng-class="{ 'has-error' : reg.form.name.$invalid }">
                    <input placeholder="请填写账号" name="name" class="form-control" ng-model="reg.name" required>
                    <div ng-messages="reg.form.name.$error">
                        <label class="control-label" ng-message="required">账号不能为空</label>
                    </div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>-->

<style>
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
    }

    #myTab li {
        width: 25%;
        float: left;
        height: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #myTab li img {
            float: left;
            height: 40px;
        }

        #myTab li a {
            color: white;
            text-align: center;
            position: relative;
            display: block;
            padding: 10px 15px;
        }

    .blue {
        background: #0f9af2;
    }

    .gray {
        background: #dfdfdf;
    }

    .tabPaneUl {
        width: 700px;
        margin: 0 auto;
        list-style: none;
    }

        .tabPaneUl li {
            height: 40px;
            line-height: 40px;
        }

    .tab-pane {
        margin-top: 50px;
    }
</style>



<div id="page-inner" class="container">
    <div class="row" style="margin-top:30px">
        <ul id="myTab" role="tablist">
            <li class="active blue">
                <a ng-click="sign.Next(1)" role="tab" data-toggle="tab">
                    1.协议阅读
                </a>
            </li>
            <li class="gray">
                <img ng-src="Content/images/process2.png"/>
                <a role="tab" ng-click="sign.Next(2)" data-toggle="tab">
                    2.账号信息
                </a>
            </li>
            <li id="step3Li" class="gray">
                <img src="Content/images/process1.png" />
                <button class="btn btn-link" disabled role="tab" ng-click="sign.Next(3)" data-toggle="tab">
                    3.公司信息
                </button>
            </li>
            <li class="gray">
                <img id="step4Img" src="Content/images/process1.png" />
                <a role="tab" data-toggle="tab">
                    4.完成注册
                </a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div id="step1" class="tab-pane fade" ng-class="{ 'active in' : sign.indextab == 0 }">
                <div class="panel panel-default" ng-form="sign.Form">
                    <div class="panel-body">
                        <div class="scroll-y" style="height:500px">
                            <div data-ng-include="'Access/SignUpProtocol.html' "></div>
                            <div class="checkbox m-b-md m-t-none text-center" ng-class="{ 'has-error' : sign.Form.Agree.$invalid }">
                                <label class="i-checks">
                                    <input type="checkbox" name="Agree" ng-model="reg.agree" ng-change="sign.Next()" required><i></i> 同意协议
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step2" class="tab-pane fade" ng-class="{ 'active in' : sign.indextab == 1 }">
                22
            </div>
            <div id="step3" class="tab-pane fade" ng-class="{ 'active in' : sign.indextab == 2 }">

                33
            </div>
            <div id="step4" class="tab-pane fade" ng-class="{ 'active in' : sign.indextab == 3 }">
                444
            </div>
        </div>
    </div>
</div>
