<uib-tabset active="active" type="tabs" class="h-100" cg-busy="tc.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">下拉选项维护</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <button class= "btn btn-sm btn-success " ng-click= "tc.Insert() "><i class= "glyphicon glyphicon-plus "></i>新增</button>
                <div class="form-group">
                    <input type="text" class="form-control"  ng-model="tc.Ser.a_TbName" placeholder="主表名">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  ng-model="tc.Ser.a_ClName" placeholder="栏位名">
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "tc.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                <button class= "btn btn-sm btn-success " ng-click= "tc.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>
            </div>
        </div>
        <div class= "padder-md ">
            <div class="col-md-12 scroll-x no-padder">
                <table class= "table pad-xs" >
                    <thead>
                        <tr>
                            <td style= "width:60px">操作</td>
                            <td style= "width:100px ">主表名</td>
                            <td style= "width:100px ">栏位名</td>
                            <td style= "width:100px ">列表编码</td>
                            <td style= "width:100px ">列表文字</td>
                            <td style= "width:100px ">排序</td>
                            <td style= "width:100px ">使用状态</td>
                        </tr>
                    </thead>
                    <tr ng-if="tc.IsInsert" ng-form="tc.InsertForm">
                        <td>
                            <button class="btn btn-xs btn-success" ng-disabled="tc.InsertForm.$invalid" ng-click="tc.SaveInsert()"><i class="glyphicon glyphicon-save"></i></button>
                            <button class="btn btn-xs btn-warning" ng-click="tc.IsInsert=false" ><i class="fa fa-undo"></i></button>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': tc.InsertForm.TbName.$invalid }">
                                <input type="text" name="TbName" class="form-control" placeholder="主表名" ng-model="tc.NewItem.TbName" required />
                            </div>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': tc.InsertForm.ClName.$invalid }">
                                <input type="text" name="ClName" class="form-control" placeholder="栏位名" ng-model="tc.NewItem.ClName" required />
                            </div>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': tc.InsertForm.ClInf.$invalid }">
                                <input type="text" name="ClInf" class="form-control" placeholder="列表编码" ng-model="tc.NewItem.ClInf" required />
                            </div>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': tc.InsertForm.ClDesc.$invalid }">
                                <input type="text" name="ClDesc" class="form-control" placeholder="列表文字" ng-model="tc.NewItem.ClDesc" required />
                            </div>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': tc.InsertForm.ClOrder.$invalid }">
                                <input type="number" name="ClOrder" class="form-control" placeholder="排序" ng-model="tc.NewItem.ClOrder" required />
                            </div>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': tc.InsertForm.ClSts.$invalid }">
                                <div toggle-switch ng-model="tc.NewItem.ClSts" class="w-xxs switch-success" on-label="是" off-label="否" on-value = "S" off-value ="E"></div>
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat= "item in tc.List " ng-form="item.ItemForm">
                        <td>
                            <span ng-if="!item.IsEdit">
                                <button class="btn btn-xs btn-primary" ng-click="tc.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                                <button class="btn btn-xs btn-danger" ng-confirm="{text:'确定要删除吗'}" ng-click="tc.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                            </span>
                            <span ng-if="item.IsEdit">
                                <button class="btn btn-xs btn-success" ng-disabled="item.ItemForm.$invalid" ng-click="tc.SaveEdit($index)"><i class="glyphicon glyphicon-save"></i></button>
                                <button class="btn btn-xs btn-warning" ng-click="item.IsEdit=false"><i class="fa fa-undo"></i></button>
                            </span>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.TbName }}</span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_TbName.$invalid }">
                                 <input type="text" name="item_TbName" class="form-control" placeholder="主表名" ng-model="tc.EditItem.TbName" required />
                            </div>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.ClName }}</span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_ClName.$invalid }">
                                 <input type="text" name="item_ClName" class="form-control" placeholder="栏位名" ng-model="tc.EditItem.ClName" required />
                            </div>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.ClInf }}</span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_ClInf.$invalid }">
                                 <input type="text" name="item_ClInf" class="form-control" placeholder="列表编码" ng-model="tc.EditItem.ClInf" required />
                            </div>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.ClDesc }}</span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_ClDesc.$invalid }">
                                 <input type="text" name="item_ClDesc" class="form-control" placeholder="列表文字" ng-model="tc.EditItem.ClDesc" required />
                            </div>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.ClOrder }}</span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_ClOrder.$invalid }">
                                 <input type="number" name="item_ClOrder" class="form-control" placeholder="排序" ng-model="tc.EditItem.ClOrder" required />
                            </div>
                        </td>
                        <td>
                            <div ng-if="!item.IsEdit">
                                 <div toggle-switch ng-model="item.ClSts" class="w-xxs switch-success" on-label="是" off-label="否" on-value = "S" off-value ="E" is-disabled="true"></div>
                            </div>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_ClSts.$invalid }">
                                 <div toggle-switch ng-model="tc.EditItem.ClSts" class="w-xxs switch-success" on-label="是" off-label="否" on-value = "S" off-value ="E" is-disabled="!item.IsEdit"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class= "col-md-12 text-center " ng-if= "tc.page.total>tc.page.size ">
                <div uib-pagination total-items= "tc.page.total " ng-model= "tc.page.index " items-per-page= "tc.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "tc.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
