<uib-tabset active="active" type="tabs" class="h-100" cg-busy="BLMOPKCtrl.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">外部标签对应箱产品查询</uib-tab-heading>
        <div class="wrapper-xs">
            <div class="form-inline">
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="BLMOPKCtrl.Ser.aOSNCode" placeholder="外箱标签编号">
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "BLMOPKCtrl.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                <button class= "btn btn-sm btn-success " ng-click= "BLMOPKCtrl.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>
            </div>
        </div>
        <div class= "padder-xs ">
            <div class="col-md-12 scroll-x no-padder">
                <table class= "table " >
                    <thead>
                        <tr>
                            <td title="外箱标签编号" style= "width:100px ">外箱标签编号</td>
                            <td title="SN码" style= "width:100px ">SN码</td>
                            <td title="箱号" style= "width:100px ">箱号</td>
                        </tr>
                    </thead>
                    <tr ng-repeat= "item in BLMOPKCtrl.List ">
                        <td title="{{ item.OSNCode }}">{{ item.OSNCode }}</td>
                        <td title="{{ item.BOXNO.SNCODE.SNCode }}">{{ item.BOXNO.SNCODE.SNCode }}</td>
                        <td title="{{ item.BOXNO.BoxNumber }}">{{ item.BOXNO.BoxNumber }}</td>
                    </tr>
                </table>
            </div>
            <div class= "col-md-12 text-center " ng-if= "BLMOPKCtrl.page.total>BLMOPKCtrl.page.size ">
                <div uib-pagination total-items= "BLMOPKCtrl.page.total " ng-model= "BLMOPKCtrl.page.index " items-per-page= "BLMOPKCtrl.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "BLMOPKCtrl.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
