<uib-tabset active="active" type="tabs" class="h-100" cg-busy="mo.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">工单物料损耗</uib-tab-heading>
        <div class="wrapper-xs">
            <div class="form-inline">
                <button class="btn btn-sm btn-success " ng-click="mo.Open({}) "><i class="glyphicon glyphicon-plus "></i>新增</button>
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="mo.Ser.aWorkOrder" placeholder="生产订单">
                </div>
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="mo.Ser.aProCode" placeholder="品号">
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "mo.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                <button class= "btn btn-sm btn-success " ng-click= "mo.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>
            </div>
        </div>
        <div class= "padder-xs ">
            <div class="col-md-12 scroll-x no-padder">
                <table class= "table " >
                    <thead>
                        <tr>
                            <td style="width:40px ">详细</td>
                            <td title="生产订单" style= "width:100px ">生产订单</td>
                            <td title="品号" style= "width:100px ">品号</td>
                            <td title="品名" style= "width:100px ">品名</td>
                            <td title="工单数量" style= "width:100px ">工单数量</td>
                            <td title="来源订单" style= "width:100px ">来源订单</td>
                            <td title="需求分类号" style= "width:100px ">需求分类号</td>
                            <td title="累计完工" style= "width:100px ">累计完工</td>
                            <td title="累计入库" style= "width:100px ">累计入库</td>
                            <td title="完工日期" style= "width:100px ">完工日期</td>
                        </tr>
                    </thead>
                    <tr ng-repeat= "item in mo.List ">
                        <td title="查看详细">
                            <a class="text-info" ng-click="mo.Open(item)"><i class="glyphicon glyphicon-search "></i></a>
                        </td>
                        <td title="{{ item.WorkOrder }}">{{ item.WorkOrder }}</td>
                        <td title="{{ item.ProCode }}">{{ item.ProCode }}</td>
                        <td title="{{ item.ProName }}">{{ item.ProName }}</td>
                        <td title="{{ item.ProductQty }}">{{ item.ProductQty }}</td>
                        <td title="{{ item.SrcDoc_SrcDocNo }}">{{ item.SrcDoc_SrcDocNo }}</td>
                        <td title="{{ item.DemandCode }}">{{ item.DemandCode }}</td>
                        <td title="{{ item.TotalCompleteQty }}">{{ item.TotalCompleteQty }}</td>
                        <td title="{{ item.TotalRcvQty }}">{{ item.TotalRcvQty }}</td>
                        <td title="{{ item.CompleteDate }}">{{ item.CompleteDate | date:'yyyy-MM-dd' }}</td>
                    </tr>
                </table>
            </div>
            <div class= "col-md-12 text-center " ng-if= "mo.page.total>mo.page.size ">
                <div uib-pagination total-items= "mo.page.total " ng-model= "mo.page.index " items-per-page= "mo.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "mo.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
