<uib-tabset active="active" type="tabs" class="h-100" cg-busy="inCode.promise">
    <uib-tab index="0" select="inCode.SelectTab(0)" deselect="inCode.SelectTab(-1)">
        <uib-tab-heading class="h5">内部码解绑</uib-tab-heading>
        <div class="wrapper-md">
            <div class="col-sm-6">
                <div class="panel panel-default" ng-form="inCode.DeleteForm">
                    <div class="panel-heading font-bold">解绑</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">内部码</label>
                                <div class="col-lg-8" ng-class="{ 'has-error' : inCode.DeleteForm.InCode.$invalid }">
                                    <input type="text" class="form-control" ui-focus="inCode.Focus == 0" name="InCode" ng-model="inCode.DeleteItem.InternalCode" placeholder="生产条码" ng-keyup="inCode.KeyDonwInCode($event)" required>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">备注</label>
                                <div class="col-lg-8" ng-class="{ 'has-error' : inCode.DeleteForm.remark.$invalid }">
                                    <ui-select name="remark" ng-model="inCode.DeleteItem.Remark" theme="bootstrap" search-enabled="true" ng-required="true">
                                        <ui-select-match placeholder="选择类型..." class="h6">{{ $select.selected.Remark }}</ui-select-match>
                                        <ui-select-choices repeat="item.Remark as item in inCode.ItemRemarkList | filter: $select.search track by item.Id">
                                            <div ng-bind-html="item.ShortName | highlight: $select.search"></div>
                                            <small ng-bind-html="item.Remark | highlight: $select.search"></small>
                                        </ui-select-choices>
                                    </ui-select>

                                    <!--<textarea class="form-control" rows="3" maxlength="255" ng-model="inCode.DeleteItem.Remark" placeholder="输入备注信息"></textarea>-->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="checkbox col-md-5">
                                        <label class="i-checks">
                                            <input type="checkbox" ng-model="inCode.IsAuto"><i></i> 自动解绑
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-sm btn-success" ng-click="inCode.DeleteCode()" ng-disabled="inCode.DeleteForm.$invalid || inCode.IsAuto">解绑</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default scroll-y" style="max-height:600px">
                    <div class="panel-heading font-bold text-center">解绑记录</div>
                    <div class="panel-body">
                        <div class="list-group">
                            <ul class="list-group bg-white">
                                <li class="list-group-item" ng-repeat="item in inCode.MesList track by item.Id" ng-class="{ 'text-danger' : !item.IsOk, 'text-success':item.IsOk }">
                                    <span herf class="pull-left">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                    <div class="clear">
                                        <div>{{ item.Msg }}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1">
        <uib-tab-heading class="h5">已解绑列表</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ui-focus="inCode.Focus == -1" ng-model="inCode.Ser.InternalCode" placeholder="内部码">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="inCode.Ser.WorkOrder" placeholder="工单号">
                </div>
                <div class="form-group">
                    <div class="col-md-4" user-select ng-model="inCode.Ser.DeleteBy" clear="true" placeholder="请选择操作者"></div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" date-time-picker class="form-control" placeholder="开始解绑日" ng-model="inCode.Ser.StartDate" option="inCode.StartOption" />
                        <span class="input-group-addon">
                            <a><i ng-click="inCode.Ser.StartDate = undefined" class="glyphicon glyphicon-calendar"></i></a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" date-time-picker class="form-control"  placeholder="结束解绑日" ng-model="inCode.Ser.EndDate" option="inCode.EndOption" />
                        <span class="input-group-addon">
                            <a><i ng-click="inCode.Ser.EndDate = undefined" class="glyphicon glyphicon-calendar"></i></a>
                        </span>
                    </div>
                </div>
                <button class="btn btn-sm btn-info" ng-click="inCode.Search()"><i class="glyphicon glyphicon-search"></i>查询</button>
                <button class="btn btn-sm btn-success" ng-click="inCode.ExportExcel()"><i class="glyphicon glyphicon-export"></i> 导出</button>
            </div>
        </div>
        <div class="padder-md">
            <table class="table">
                <tr>
                    <td style="width:10%">内部码</td>
                    <td style="width:13%">原工单</td>
                    <td style="width:15%">原品名</td>
                    <td style="width:13%">现工单</td>
                    <td style="width:15%">现品名</td>
                    <td style="width:8%">操作者</td>
                    <td style="width:13%">操作时间</td>
                    <td style="width:12%">备注</td>
                </tr>
                <tr ng-repeat="item in inCode.DeleteList">
                    <td>{{ item.InternalCode }}</td>
                    <td>{{ item.WorkOrder }}</td>
                    <td>{{ item.MaterialName }}</td>
                    <td>{{ item.Plan.Order.WorOrder }}</td>
                    <td>{{ item.Plan.Order.MaterialName }}</td>
                    <td>{{ item.Emp.Name }}</td>
                    <td>{{ item.DeleteDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td>{{ item.Remark }}</td>
                </tr>
            </table>
            <div class="col-md-12 text-center" ng-if="inCode.page.total>inCode.page.size">
                <div uib-pagination total-items="inCode.page.total" ng-model="inCode.page.index" items-per-page="inCode.page.size" max-size="10" first-text="第一页" previous-text="上一页"
                     ng-change="inCode.PageChange()" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="true"></div>
            </div>
        </div>
        <!--<pre>{{ inCode.Ser | json }}</pre>-->
    </uib-tab>
    <uib-tab index="2">
        <uib-tab-heading class="h5">解绑理由</uib-tab-heading>
        <div class="wrapper-xs">
            <div class="col-md-8 col-md-offset-2">
                <div class="wrapper-md">
                    <div class="form-horizontal">
                        <div class="form-group" uib-collapse="!inCode.isAddItemType">
                            <div class="col-sm-12" ng-form="inCode.NewItemTypeForm">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="input-group" ng-class="{ 'has-error' : inCode.NewItemTypeForm.NewRemak.$invalid }">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" ng-click="inCode.InsertItemRemark()" ng-disabled="inCode.NewItemTypeForm.$invalid">
                                                    <i class="glyphicon glyphicon-plus text-success"></i>
                                                </button>
                                            </span>
                                            <input type="text" name="NewRemak" class="form-control" placeholder="备注原因" ng-model="inCode.NewItemType.Remark" required />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="input-group" ng-class="{ 'has-error' : inCode.NewItemTypeForm.ShortName.$invalid }">
                                            <input type="text" name="ShortName" class="form-control" placeholder="简写" ng-model="inCode.NewItemType.ShortName" required>
                                            <span class="input-group-btn">
                                                <button class="btn btn-light" ng-click="inCode.isAddItemType=!inCode.isAddItemType"><i class="icon icon-action-undo"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" uib-collapse="inCode.isAddItemType">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="input-group col-md-9 col-md-offset-1">
                                        <span class="input-group-btn">
                                            <button class="btn btn-success" ng-click="inCode.isAddItemType=!inCode.isAddItemType">
                                                <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </span>
                                        <input type="text" class="form-control" placeholder="查询" ng-model="inCode.itemRemarkQuenry">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" disabled>
                                                <i class="glyphicon glyphicon-search text-success"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group bg-white">
                        <li class="list-group-item" ng-repeat="type in inCode.ItemRemarkList | filter:inCode.itemRemarkQuenry ">
                            <a herf class="pull-left">
                                <b class="badge bg-success h2"><i class="fa fa-dot-circle-o"></i></b>
                            </a>
                            <div class="clear">
                                <div>
                                    <a ng-click='inCode.DeleteItemRemark(type)' class="pull-right hover text-muted h4"><i class="fa fa-times text-danger"></i></a>
                                    <div class="text-info h4">{{ type.Remark }}</div>
                                </div>
                                <small class="text-muted">{{ type.ShortName }}</small>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
