<div class="wrapper-xs">
    <div class="col-sm-4">
        <div class="panel panel-default" ng-form="order.PackageForm">
            <div class="panel-heading font-bold text-center">扫描内部码或输入</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">工单号</label>
                        <div class="col-lg-8">
                            <input type="text" ng-disabled="order.IsEdit"  ng-model="order.WorOrder" uib-typeahead="order as order.WorOrder for order in order.OrderList | filter:$viewValue | limitTo:8"
                                   class="form-control" placeholder="工单号" ng-keyup="order.KeyDonwOrder($event)">
                        </div>
                    </div>
                </div>
                <!--<pre>{{ order.WorOrder | json }}</pre>-->
            </div>
        </div>
        <div class="panel panel-default scroll-y" style="max-height:350px">
            <div class="panel-heading font-bold text-center">信息显示</div>
            <div class="panel-body">
                <div class="list-group">
                    <ul class="list-group bg-white">
                        <li class="list-group-item" ng-repeat="item in order.MesList track by item.Id" ng-class="{ 'text-danger' : !item.IsOk, 'text-success':item.IsOk }">
                            <span herf class="pull-left">
                                <i class="glyphicon glyphicon-remove"></i>
                            </span>
                            <div class="clear">
                                <div>{{ item.Msg }}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="panel panel-default scroll-y" style="max-height:600px">
            <div class="panel-heading font-bold text-center">
                工单{{ order.ItemData.WorOrder }}信息
            </div>
            <div class="panel-body h5" ng-if="order.ItemData.ID">
                <div class="form-horizontal col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-5 font-bold text-info">产品编号:</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{order.ItemData.MaterialCode}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5 font-bold text-info">Erp销售单号:</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{order.ItemData.ERPSO}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5 font-bold text-info">客户名称:</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{order.ItemData.CustomerName}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5 font-bold text-info">数量:</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{order.ItemData.Quantity}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-5 font-bold text-info">产品名称:</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{ order.ItemData.MaterialName }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5 font-bold text-info">Erp订单数量:</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{ order.ItemData.ERPQuantity }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5 font-bold text-info">出货地名称:</label>
                        <div class="col-sm-7">
                            <p class="form-control-static">{{order.ItemData.SendPlaceName}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center" ng-if="order.ItemData.ID">
                <button class="btn btn-success" type="button" ng-confirm="{text:'确定要返还工吗'}" ng-click="order.Save()">反完工</button>
            </div>
            <!--<pre>{{ order.ItemData | json }}</pre>-->
        </div>
    </div>
</div>
