<div class="modal-header text-center">
    <button class="btn btn-sm btn-warning pull-left" type="button" ng-click="pa.Cancel()">取消</button>
    <h3 class="modal-title">人员线别工资</h3>
</div>
<div class="modal-body wrapper-xs h6" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body padder-xs padder-v-xxs">
            <div class="wrapper-sm">
                <div class="form-inline">
                    <button class= "btn btn-sm btn-info " ng-click= "pa.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                </div>
            </div>
            <div class="padder-sm table-responsive">
                <table class="table one-line">
                    <thead>
                        <tr>
                            <td title="生成日期" style= "width:100px ">生成日期</td>
                            <td title="工号" style= "width:100px ">工号</td>
                            <td title="姓名" style= "width:100px ">姓名</td>
                            <td title="线别" style= "width:100px ">线别</td>
                            <td title="定额计件工资" style= "width:100px ">定额计件工资</td>
                            <td title="超产奖" style= "width:100px ">超产奖</td>
                            <td title="异常工时" style= "width:100px ">异常工时</td>
                            <td title="异常工时工资" style= "width:100px ">异常工时工资</td>
                            <td title="分摊维修费" style= "width:100px ">分摊维修费</td>
                            <td title="产线总维修费" style= "width:100px ">产线总维修费</td>
                            <td title="备注" style= "width:100px ">备注</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in pa.List " ng-click="pa.OK(item)">
                        <td title="{{ item.WorkDate }}">{{ item.WorkDate | date:'yyyy-MM-dd' }}</td>
                        <td title="{{ item.HrUserNo }}">{{ item.HrUserNo }}</td>
                        <td title="{{ item.HrUserName }}">{{ item.HrUserName }}</td>
                        <td title="{{ item.Line.Name }}">{{ item.Line.Name }}</td>
                        <td title="{{ item.StandAmount }}">{{ item.StandAmount }}</td>
                        <td title="{{ item.OverAmount }}">{{ item.OverAmount }}</td>
                        <td title="{{ item.UnusualHour }}">{{ item.UnusualHour }}</td>
                        <td title="{{ item.UnusualAmount }}">{{ item.UnusualAmount }}</td>
                        <td title="{{ item.RepairAmount }}">{{ item.RepairAmount }}</td>
                        <td title="{{ item.LineRepairAmount }}">{{ item.LineRepairAmount }}</td>
                        <td title="{{ item.Remark }}">{{ item.Remark }}</td>
                    </tr>
                </table>
                <div class= "col-md-12 text-center " ng-if= "pa.page.total>pa.page.size ">
                    <div uib-pagination total-items= "pa.page.total " ng-model= "pa.page.index " items-per-page= "pa.page.size " max-size= "10 " first-text= "<< " previous-text= "< "
                     ng-change= "pa.PageChange() " next-text= "> " last-text= ">> " boundary-links= "true " boundary-link-numbers= "true "></div>
                </div>
            </div>
        </div>
    </div>
</div>
