<div class="modal-header text-center">
    <button class="btn btn-sm btn-warning pull-left" type="button" ng-click="bc.Cancel()">取消</button>
    <h3 class="modal-title">价格修改历史</h3>
</div>
<div class="modal-body wrapper-xs h6" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body padder-xs padder-v-xxs">
            <div class="padder-sm table-responsive">
                <table class="table one-line">
                    <thead>
                        <tr>
                            <td title="单价类型" style= "width:100px ">单价类型</td>
                            <td title="一般价" style= "width:100px ">一般价</td>
                            <td title="超产价" style= "width:100px ">超产价</td>
                            <td title="周末价" style= "width:100px ">周末价</td>
                            <td title="法定价" style= "width:100px ">法定价</td>
                            <td title="修改人" style= "width:100px ">修改人</td>
                            <td title="修改时间" style= "width:100px ">修改时间</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in bc.List " ng-click="bc.OK(item)">
                        <td title="{{ item.Name }}">{{ item.Name }}</td>
                        <td title="{{ item.Price }}">{{ item.Price }}</td>
                        <td title="{{ item.OverPrice }}">{{ item.OverPrice }}</td>
                        <td title="{{ item.WeekPrice }}">{{ item.WeekPrice }}</td>
                        <td title="{{ item.LegalPrice }}">{{ item.LegalPrice }}</td>
                        <td title="{{ item.Creator }}">{{ item.Creator }}</td>
                        <td title="{{ item.CreateDate }}">{{ item.CreateDate }}</td>
                    </tr>
                </table>
                <div class= "col-md-12 text-center " ng-if= "bc.page.total>bc.page.size ">
                    <div uib-pagination total-items= "bc.page.total " ng-model= "bc.page.index " items-per-page= "bc.page.size " max-size= "5 " first-text= "<< " previous-text= "< "
                     ng-change= "bc.PageChange() " next-text= "> " last-text= ">> " boundary-links= "true " boundary-link-numbers= "true "></div>
                </div>
            </div>
        </div>
    </div>
</div>