<div class="modal-header text-center">
    <span class="modal-title h3">销售明细{{ qsdc.form.title }}</span>    
        <button class="btn btn-warning pull-right" type="button" ng-click="qsdc.Cancel()">取消</button>
</div>

<div class="modal-body wrapper-xs">

    <div class="panel-default" cg-busy="qsdc.promise">
        <div class="panel-body no-padder m-t-xxs">
            <div class="col-sm-6 padder-xs">
                <div class="panel panel-default" ng-form="qsdc.OrderForm">
                    <div class="panel-heading font-bold  text-center">销售单[<span class="font-bold text-info">{{ qsdc.Item.DocNo }}</span>]扫码操作</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group-xs col-md-12">
                                <label class="col-lg-3 control-label padder-xxs">销售单号:</label>
                                <div class="col-lg-9 form-control-static text-info font-bold">
                                    {{ qsdc.Item.DocNo }}
                                </div>
                            </div>
                            <div class="form-group-xs col-md-12">
                                <label class="col-lg-3 control-label padder-xxs">客户:</label>
                                <div class="col-lg-9 form-control-static">
                                    {{ qsdc.Item.SOAgentName }}({{ qsdc.Item.SOAgentName }})
                                </div>
                            </div>
                            <div class="form-group-xs col-md-12">
                                <label class="col-lg-3 control-label padder-xxs">料号:</label>
                                <div class="col-lg-9 form-control-static">
                                    {{ qsdc.Item.MaterialCode }}<span class="text-danger font-bold">/</span>{{ qsdc.Item.MaterialName }}
                                </div>
                            </div>
                            <div class="form-group-xs col-md-12">
                                <label class="col-lg-3 control-label padder-xxs">销售单数量:</label>
                                <div class="col-lg-3 form-control-static">
                                    {{ qsdc.Item.Quantity }}
                                </div>
                                <label class="col-lg-3 control-label padder-xxs">已扫数量:</label>
                                <div class="col-lg-3 form-control-static h4 text-success">
                                    {{ qsdc.Item.HavePackQty }}
                                </div>
                            </div>
                            <div class="form-group-xs col-md-12">
                                <label class="col-lg-3 control-label padder-xxs">SN码/箱号:</label>
                                <div class="col-lg-9" ng-class="{ 'has-error' : qsdc.OrderForm.BSN.$invalid }">
                                    <input ng-disabled="qsdc.Item.Status=='1'" autocomplete="off" type="text" class="form-control" name="BSN" ng-model="qsdc.Item.BSN" placeholder="SN/箱号"
                                           ng-keypress="qsdc.KeyDonwSnCode($event)" required>
                                    <div class="h6 text-danger">注:扫描枪请设定自动回车功能，如果手动输入则需按回车键。</div>
                                </div>
                            </div>
                            <div class="form-group-xs col-md-12">
                                <div class="col-lg-offset-3 col-lg-9 padder-md">
                                    <button type="submit" ng-disabled="qsdc.Item.HavePackQty==0||qsdc.Item.Status=='1'" class="btn btn-success" ng-click="qsdc.Done(true)">
                                        完成销售单
                                    </button>
                                    <!--<button type="submit" ng-if="qsdc.Item.HavePackQty"  class="btn btn-success" ng-click="qsdc.Done(true)" ng-confirm="{text:'强制包装会自动根据已包装数量更新包装箱的包装数量并结束包装'}"
                                            ng-disabled="!qsdc.Item.HavePackQty || qsdc.Item.HavePackQty == 0">
                                        强制完成销售单
                                    </button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading font-bold text-center">
                        信息显示
                    </div>
                    <div class="panel-body scroll-y" style="max-height:250px">
                        <div class="list-group">
                            <ul class="list-group bg-white">
                                <li class="list-group-item" ng-repeat="item in qsdc.MesList | limitTo:100" ng-class="{ 'text-danger' : !item.IsOk, 'text-success':item.IsOk }">
                                    <span herf class="pull-left">
                                        <i class="glyphicon" ng-class="{ 'glyphicon-remove' : !item.IsOk, 'glyphicon-ok':item.IsOk }"></i>
                                    </span>
                                    <div class="clear">
                                        <div>{{ item.Msg }}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 padder-xs">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold text-center">
                        销售单SN列表
                        <span title="清空所有SN"><a class="text-danger" ng-confirm="{text:'确定要清空所有SN吗'}" ng-click="qsdc.ClearBSN()"><i class="glyphicon glyphicon-remove"></i></a></span>
                    </div>
                    <div class="panel-body padder-xs" style="min-height:400px">
                        <div class="input-group no-padder col-md-offset-1 col-md-10">
                            <input autocomplete="off" type="text" class="form-control input-sm" ng-model="qsdc.SerBSN" />
                            <span class="text-success input-group-btn" ng-click="qsdc.Search()">
                                <button type="submit" class="btn btn-sm btn-success">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                        <div class="scroll-y m-t-xs" style="max-height:530px">
                            <div class="list-group">
                                <div class="list-group-item text-center" ng-repeat="sn in qsdc.SNList">
                                    <span class="pull-left badge badge-sm bg-danger pull-left">{{ sn.RN }}</span>
                                    <span ng-class="{ 'font-bold text-success' : sn.BSN==qsdc.StaticBSN }">{{ sn.BSN }}</span>
                                    <span class="pull-right"><a class="text-danger" ng-click="qsdc.ClearBSN(sn.BSN)" ng-confirm="{text:'确定移除该SN吗'}"><i class="glyphicon glyphicon-remove"></i></a></span>
                                </div>
                            </div>
                            <div class="col-md-12 m-t-n-md text-center " ng-if="qsdc.page.total>qsdc.page.size ">
                                <div uib-pagination total-items="qsdc.page.total " ng-model="qsdc.page.index " items-per-page="qsdc.page.size " max-size="5" first-text="<<" previous-text="< "
                                     ng-change="qsdc.GetSODetail() " next-text="> " last-text=">> " boundary-links="false " boundary-link-numbers="true "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal-footer">
    <div class="col-md-12 text-center">
        <button class="btn btn-warning pull-none" type="button" ng-click="qsdc.Cancel()">取消</button>
    </div>
</div>-->
