<div class="modal-header text-center">
    <button class="btn btn-sm btn-warning pull-left" type="button" ng-click="bl.Cancel()">取消</button>
    <h3 class="modal-title">外部标签管理</h3>
</div>
<div class="modal-body wrapper-xs h6">
    <div class="panel panel-default panel-body padder-xxs padder-v-xxs">        
        <div class="col-sm-7 padder-xxs">
            <div class="panel panel-default">
                <div class="panel-heading text-center">外箱SN绑定信息</div>
                <div class="panel-body padder-xs padder-v-xs">
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="bl.Ser.aOSNCode" placeholder="输入外箱标签编号">
                        </div>
                        <button class="btn btn-sm btn-info " ng-click="bl.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
                    </div>
                    <table class="table m-t-xs">
                        <thead>
                            <tr>
                                <td title="操作" style="width:60px ">操作</td>
                                <td title="外部标签编号" style="width:120px ">外部标签编号</td>
                                <td title="是否已经打印" style="width:60px ">是否已打印</td>
                                <td title="打印次数" style="width:60px ">打印次数</td>
                                <td title="提交人" style="width:60px ">提交人</td>
                                <td title="提交时间" style="width:80px ">提交时间</td>
                                <td title="更新人" style="width:60px ">更新人</td>
                                <td title="更新时间" style="width:80px ">更新时间</td>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in bl.List">
                            <td>
                                <button title="预览标签" class="btn btn-xs btn-success" ng-click="bl.Select(item)"><i class="glyphicon glyphicon-search"></i></button>
                                <button class="btn btn-xs btn-danger" ng-disabled="item.IsPrint" ng-confirm="{text:'确定要删除吗'}" ng-click="bl.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                            </td>
                            <td title="{{ item.OSNCode }}">{{ item.OSNCode }}</td>
                            <td title="{{ item.IsPrint }}" ng-class="{ 'text-success' : item.IsPrint }">{{ item.IsPrint ? '是':'否' }}</td>
                            <td title="{{ item.PrintCount }}">{{ item.PrintCount  }}</td>
                            <td title="{{ item.Creator }}">{{ item.Creator }}</td>
                            <td title="{{ item.CreateDate }}">{{ item.CreateDate | date : 'yyyy-MM-dd HH:mm:ss' }}</td>
                            <td title="{{ item.Modify }}">{{ item.Modify }}</td>
                            <td title="{{ item.ModifyDate }}">{{ item.ModifyDate | date : 'yyyy-MM-dd HH:mm:ss'  }}</td>
                        </tr>
                    </table>
                    <div class="col-md-12 text-center " ng-if="bl.page.total>bl.page.size ">
                        <div uib-pagination total-items="bl.page.total " ng-model="bl.page.index " items-per-page="bl.page.size " max-size="10 " first-text="<< " previous-text="< "
                             ng-change="bl.PageChange() " next-text="> " last-text=">> " boundary-links="true " boundary-link-numbers="true "></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 padder-xxs">
            <div class="panel panel-default scroll-y" ng-form="bl.DialogForm">
                <div class="panel-heading text-center">工单信息</div>
                <div class="panel-body  padder-xs padder-v-xs">
                    <div class="form-horizontal no-padder">
                        <div class="form-group-xs col-xs-12 padder-xs">
                            <label class="col-xs-2 control-label">工单号:</label>
                            <div class="col-xs-4 no-padder">
                                <p class="form-control-static font-bold text-success">{{ bl.ItemData.Order.WorkOrder }}</p>
                            </div>
                            <label class="col-xs-2 control-label">料号:</label>
                            <div class="col-xs-4 no-padder">
                                <p class="form-control-static font-bold text-success">{{ bl.ItemData.Order.MaterialCode }}</p>
                            </div>
                        </div>
                        <div class="form-group-xs col-xs-12 padder-xs">
                            <label class="col-xs-2 control-label">工单数量:</label>
                            <div class="col-xs-4 no-padder">
                                <p class="form-control-static font-bold text-success">{{ bl.ItemData.Order.Quantity }}</p>
                            </div>
                            <label class="col-xs-2 control-label">料名:</label>
                            <div class="col-xs-4 no-padder">
                                <p class="form-control-static font-bold text-success">{{ bl.ItemData.Order.MaterialName }}</p>
                            </div>
                        </div>
                        <div class="form-group-xs col-xs-12 padder-xs">
                            <label class="col-xs-2 control-label">每箱数量:</label>
                            <div class="col-xs-4 no-padder">
                                <p class="form-control-static font-bold text-success">{{ bl.ItemData.PackMain.PerBoxQuantity }}</p>
                            </div>
                            <label class="col-xs-2 control-label">总箱数:</label>
                            <div class="col-xs-4 no-padder">
                                <p class="form-control-static font-bold text-success">{{ bl.CalToBox(bl.ItemData.Order.Quantity,bl.ItemData.PackMain.PerBoxQuantity) }}</p>
                            </div>
                        </div>
                        <div class="form-group-xs col-xs-12 padder-xs">
                            <label class="col-xs-2 control-label">箱/外箱数:</label>
                            <div class="col-xs-4 no-padder" ng-class="{ 'has-error' : bl.DialogForm.PerPackNum.$invalid }">
                                <input type="number" min="1" name="PerPackNum" class="form-control" placeholder="多少箱对应一个外箱标签" ng-model="bl.ItemData.PerPackNum" required />
                            </div>
                            <label class="col-xs-2 control-label">打印数量:</label>
                            <div class="col-xs-4 no-padder" ng-class="{ 'has-error' : bl.DialogForm.PrintNum.$invalid }">
                                <input type="number" min="1" name="PrintNum" class="form-control" placeholder="打印数量" ng-model="bl.ItemData.PrintNum" required />
                            </div>
                        </div>
                        <div class="form-group-xs col-xs-12 padder-xs m-t-xs">
                            <label class="col-xs-2 control-label"></label>
                            <div class="col-xs-4 no-padder">
                                <button class="btn btn-sm btn-success " ng-disabled="bl.DialogForm.$invalid" ng-click="bl.SaveEdit() "><i class="glyphicon glyphicon-search "></i>保存修改</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="panel panel-default scroll-y m-t-n-sm">
                <div class="panel-heading text-center">标签浏览</div>
                <div class="panel-body  padder-xs padder-v-xs">
                    <embed embed-src="{{ bl.ShowSn }}" type="application/pdf" width="100%" height="350px" internalinstanceid="81" />
                </div>
            </div>
        </div>
    </div>
</div>
