<uib-tabset active="active" type="tabs" class="h-100" cg-busy="ho.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">申报审核</uib-tab-heading>
        <div class="wrapper-xs">
            <div class="form-inline">
                <div class="form-group">
                    <ui-select ng-model="ho.Ser.DataType" theme="bootstrap">
                        <ui-select-match placeholder="申报类型">{{ $select.selected.Name }}</ui-select-match>
                        <ui-select-choices repeat="item.value as item in ho.TypeList | filter: $select.search">
                            <div ng-bind-html="item.Name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="form-group">
                    <div config-select ng-model="ho.Ser.aState" tb="UnusualHour" col="State" placeholder="选择状态" clear="true"></div>
                </div>
                <div class="form-group">
                    <div basic-select="AssemblyLine" placeholder="选择线别" ng-model="ho.Ser.LineID" clear="true"></div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="选择日期" date-picker ng-model="ho.Ser.ApplyDate" format="Y-m-d" option="ho.DaOption" />
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "ho.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                <!--<button class= "btn btn-sm btn-success " ng-click= "ho.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>-->
            </div>
        </div>
        <div class= "padder-xs ">
            <div class="col-md-12 scroll-x no-padder">
                <table class= "table " >
                    <thead>
                        <tr>
                            <td style="width:60px">审核</td>
                            <td style="width:100px ">日期</td>
                            <td title="线别" style= "width:100px ">线别</td>
                            <td title="申报类型" style="width:100px ">申报类型</td>
                            <td title="异常工时" style= "width:100px ">数值</td>
                            <!--<td title="工单" style="width:100px ">工单</td>-->
                            <td title="备注" style= "width:100px ">备注</td>
                            <td title="状态" style= "width:100px ">状态</td>
                            <td title="申请人" style= "width:100px ">申请人</td>
                            <td title="申请时间" style= "width:100px ">申请时间</td>
                            <td title="审核人" style= "width:100px ">审核人</td>
                            <td title="审核时间" style= "width:100px ">审核时间</td>
                        </tr>
                    </thead>
                    <tr ng-repeat= "item in ho.List ">
                        <td>
                            <button class="btn btn-xs btn-success" ng-if="ho.Ser.aState != '0'" title="反审" ng-confirm="{text:'确定反审吗'}" ng-click="ho.Sign(item, '0')"><i class="fa fa-undo"></i></button>
                            <button class="btn btn-xs btn-success" ng-if="ho.Ser.aState == '0'" title="核准" ng-confirm="{text:'确定核准吗'}" ng-click="ho.Sign(item, '1')"><i class="glyphicon glyphicon-ok-sign"></i></button>
                            <button class="btn btn-xs btn-danger" ng-if="ho.Ser.aState == '0'" title="作废" ng-confirm="{text:'确定作废吗'}" ng-click="ho.Sign(item,'2')"><i class="glyphicon glyphicon-remove-sign"></i></button>
                        </td>
                        <td>{{ item.ApplyDate | date:'yyyy-MM-dd' }}</td>
                        <td title="{{ item.Line.Name }}">{{ item.Line.Name }}</td>
                        <td title="申报类型">{{ item.DataType =='U'?'异常工时':'维修费用' }}</td>
                        <td title="{{ item.UnusualHour }}">{{ item.UnusualHour }}</td>
                        <td title="{{ item.Remark }}">{{ item.Remark }}</td>
                        <td title="{{ item.StateText }}">{{ item.StateText }}</td>
                        <td title="{{ item.Creator }}">{{ item.Creator }}</td>
                        <td title="{{ item.CreateDate | date:'yyyy-MM-dd HH:mm:ss'}}">{{ item.CreateDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td title="{{ item.SignUserName }}">{{ item.SignUserName }}</td>
                        <td title="{{ item.SignDate  | date:'yyyy-MM-dd HH:mm:ss'}}">{{ item.SignDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    </tr>
                </table>
            </div>
            <div class= "col-md-12 text-center " ng-if= "ho.page.total>ho.page.size ">
                <div uib-pagination total-items= "ho.page.total " ng-model= "ho.page.index " items-per-page= "ho.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "ho.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
