<!--<div class="wrapper-sm">
    <div class="form-inline">
        <div class="form-group">
            <input autocomplete="off" type="text" class="form-control" ng-model="wo.Ser.WorkOrder" placeholder="工单号">
        </div>
        <div class="form-group">
            <label class="i-checks i-checks"><input autocomplete="off" type="checkbox" ng-model="wo.Ser.IsNow"><i></i>只显示未完工</label>
        </div>
        <button class="btn btn-sm btn-info " ng-click="wo.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
        <button class="btn btn-sm btn-success " ng-click="wo.ExportExcel() "><i class="glyphicon glyphicon-export "></i> 导出</button>
    </div>
</div>-->
<div class="padder-xs" cg-busy="wo.promise">
    <div class="col-sm-3 padder-xs">
        <div class="panel panel-success m-t-xxs">
            <div class="panel-heading text-center h4">
                查询条件
                <button class="btn btn-sm btn-info pull-right m-t-n-xs" ng-click="wo.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
            </div>
            <div class="panel-body padder-xxs padder-v-xs">
                <div class="form-horizontal">
                    <div class="form-group-xs col-md-12 padder-xs">
                        <label class="col-sm-3 control-label padder-xs text-info">工单:</label>
                        <div class="col-sm-9 padder-xs">
                            <input autocomplete="off" type="text" class="form-control" ng-model="wo.Ser.WorkOrder" placeholder="工单号">
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12 padder-xs">
                        <label class="col-sm-3 padder-xs control-label text-info">料号:</label>
                        <div class="col-sm-9 padder-xs">
                            <label class="i-checks i-checks"><input autocomplete="off" type="checkbox" ng-model="wo.Ser.IsNow"><i></i>只显示未完工</label>
                        </div>
                    </div>
                    <!--<div class="form-group-xs col-md-12 padder-xs">
                        <div class="col-sm-3 col-sm-offset-9">
                            <button class="btn btn-sm btn-info " ng-click="wo.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="panel panel-success m-t-xxs">
            <div class="panel-heading text-center h4">工单信息</div>
            <div class="panel-body padder-xxs padder-v-xs">
                <div class="form-horizontal">
                    <div class="form-group-xs col-md-12 padder-xs">
                        <label class="col-sm-3 control-label padder-xs text-info">工单:</label>
                        <div class="col-sm-9 padder-xs">
                            <input type="text" disabled class="form-control" ng-model="wo.OrderData.WorkOrder" />
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12 padder-xs">
                        <label class="col-sm-3 padder-xs control-label text-info">料号:</label>
                        <div class="col-sm-9 padder-xs">
                            <input type="text" disabled class="form-control" ng-model="wo.OrderData.MateCode" />
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12 padder-xs">
                        <label class="col-sm-3 padder-xs control-label text-info">名称:</label>
                        <div class="col-sm-9 padder-xs">
                            <textarea rows="2" type="text" disabled class="form-control" ng-model="wo.OrderData.MateName" />
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12 padder-xs">
                        <label class="col-sm-3 padder-xs control-label text-info">数量:</label>
                        <div class="col-sm-9 padder-xs">
                            <input type="text" disabled class="form-control" ng-model="wo.OrderData.Quantity" />
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12 padder-xs">
                        <label class="col-sm-3 padder-xs control-label text-info">累计开工:</label>
                        <div class="col-sm-9 padder-xs">
                            <input type="text" disabled class="form-control" ng-model="wo.OrderData.StartQuantity" />
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12 padder-xs">
                        <label class="col-sm-3 padder-xs control-label text-info">已完工:</label>
                        <div class="col-sm-9 padder-xs">
                            <input type="text" disabled class="form-control" ng-model="wo.OrderData.FinishNum" />
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12 padder-xs">
                        <label class="col-sm-3 padder-xs control-label text-info">未完工:</label>
                        <div class="col-sm-9 padder-xs">
                            <input type="text" disabled class="form-control" ng-model="wo.OrderData.NotFinishNum" />
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12 padder-xs">
                        <label class="col-sm-3 padder-xs control-label text-info">在产不良数:</label>
                        <div class="col-sm-9 padder-xs">
                            <input type="text" disabled class="form-control" ng-model="wo.OrderData.NgNum" />
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12 padder-xs">
                        <label class="col-sm-3 padder-xs control-label text-info">在产已维修:</label>
                        <div class="col-sm-9 padder-xs">
                            <input type="text" disabled class="form-control" ng-model="wo.OrderData.RepairNum" />
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12 padder-xs">
                        <label class="col-sm-3 padder-xs control-label text-info">在产待维修:</label>
                        <div class="col-sm-9 padder-xs">
                            <input type="text" disabled class="form-control" ng-model="wo.OrderData.NotRepairNum" />
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12 padder-xs">
                        <label class="col-sm-3 padder-xs control-label text-info">报废数:</label>
                        <div class="col-sm-9 padder-xs">
                            <input type="text" disabled class="form-control" ng-model="wo.OrderData.DumpNum" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 no-padder">
        <div class="panel panel-info padder-xxs">
            <div class="panel-heading text-center">
                内控码信息
                <button class="btn btn-sm btn-success pull-left  m-t-n-xs" ng-disabled="!wo.OrderData" ng-click="wo.ExportExcel() "><i class="glyphicon glyphicon-export "></i> 导出</button>
            </div>
            <div class="panel-body padder-xxs padder-v-xxs">
                <div class="col-md-12 no-padder scroll-x">
                    <table class="table" style="width:1400px">
                        <thead>
                            <tr>
                                <td title="BSN" style="width:60px ">BSN</td>
                                <td title="状况" style="width:40px ">状况</td>
                                <td title="投入时间" style="width:100px ">投入时间</td>
                                <td title="当前工序" style="width:100px ">当前工序</td>
                                <td title="BSN状态" style="width:60px ">BSN状态</td>
                                <td title="操作人员" style="width:60px ">操作人员</td>
                                <td title="操作时间" style="width:100px ">操作时间</td>
                                <td title="维修情况" style="width:80px ">维修情况</td>
                                <td title="维修时间" style="width:100px ">维修时间</td>
                                <td title="原因" style="width:100px ">原因</td>
                                <td title="维修结果" style="width:60px ">维修结果</td>
                                <td title="维修人员" style="width:80px ">维修人员</td>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in wo.List ">
                            <td class="padder-xxs" title="{{ item.InternalCode }}">{{ item.InternalCode }}</td>
                            <td class="padder-xxs" title="{{ item.Finish }}">{{ item.Finish }}</td>
                            <td class="padder-xxs" title="{{ item.TS }}">{{ item.TS }}</td>
                            <td class="padder-xxs" title="{{ item.ProcedureName }}">{{ item.ProcedureName }}</td>
                            <td class="padder-xxs" title="{{ item.OpPass }}">{{ item.OpPass }}</td>
                            <td class="padder-xxs" title="{{ item.CreateBy }}">{{ item.CreateBy }}</td>
                            <td class="padder-xxs" title="{{ item.OperatorDate }}">{{ item.OperatorDate }}</td>
                            <td class="padder-xxs" title="{{ item.BadRepair }}">{{ item.BadRepair }}</td>
                            <td class="padder-xxs" title="{{ item.RepairTime }}">{{ item.RepairTime }}</td>
                            <td class="padder-xxs" title="{{ item.WorkPartName }}">{{ item.WorkPartName }}</td>
                            <td class="padder-xxs" title="{{ item.ProcessingMode }}">{{ item.ProcessingMode }}</td>
                            <td class="padder-xxs" title="{{ item.BadCreateBy }}">{{ item.BadCreateBy }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-12 m-t-n-md text-center " ng-if="wo.page.total>wo.page.size ">
                    <div uib-pagination total-items="wo.page.total " ng-model="wo.page.index " items-per-page="wo.page.size " max-size="10 " first-text="第一页 " previous-text="上一页 "
                         ng-change="wo.PageChange() " next-text="下一页 " last-text="最后页 " boundary-links="true " boundary-link-numbers="true "></div>
                </div>
            </div>
        </div>
    </div>
</div>
