<div class="modal-header text-center">
    <span class="modal-title h3">测试弹出窗{{ t.form.title }}</span>
</div>
<div class="modal-body wrapper-xs">
    <div class="panel panel-default scroll-y" ng-form="t.DialogForm">
        <div class="panel-body  padder-xxs padder-v-xxs">
            <div class="form-horizontal no-padder">
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_IMEI_ClName</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.IMEI_ClName.$invalid }">
                        <input type="text" name="IMEI_ClName" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_IMEI_ClName" ng-model="t.Item.IMEI_ClName"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_IMEI_TbName</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.IMEI_TbName.$invalid }">
                        <input type="text" name="IMEI_TbName" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_IMEI_TbName" ng-model="t.Item.IMEI_TbName"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_IsBox</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.IsBox.$invalid }">
                        <div toggle-switch ng-model="t.NewItem.IsBox"  is-disabled="t.form.index == 2"  class="w-xxs switch-success" on-label="是" off-label="否" on-value = "1" off-value ="0"></div>
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_IsCanChangePO</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.IsCanChangePO.$invalid }">
                        <div toggle-switch ng-model="t.NewItem.IsCanChangePO"  is-disabled="t.form.index == 2"  class="w-xxs switch-success" on-label="是" off-label="否" on-value = "1" off-value ="0"></div>
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_Layer_card</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.Layer_card.$invalid }">
                        <input type="text" name="Layer_card" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_Layer_card" ng-model="t.Item.Layer_card" required />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_LowerFPY</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.LowerFPY.$invalid }">
                        <input type="text" name="LowerFPY" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_LowerFPY" ng-model="t.Item.LowerFPY" required />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_MaterialCode</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.MaterialCode.$invalid }">
                        <input type="text" name="MaterialCode" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_MaterialCode" ng-model="t.Item.MaterialCode" required />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">产品名称</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.MaterialName.$invalid }">
                        <input type="text" name="MaterialName" ng-disabled="t.form.index == 2" class="form-control" placeholder="产品名称" ng-model="t.Item.MaterialName" required />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_MaterialTypeID</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.MaterialTypeID.$invalid }">
                        <div basic-select="MaterialType"  ng-disabled="t.form.index == 2"  ng-name="MaterialTypeID" placeholder="a_MaterialTypeID" ng-model="t.Item.MaterialTypeID"  ng-required ="true"></div>
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_AgeingTime</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.AgeingTime.$invalid }">
                        <input type="text" date-time-picker ng-disabled="t.form.index == 2"  name="AgeingTime" class="form-control" placeholder="a_AgeingTime" ng-model="t.Item .AgeingTime" option="t.DateOption"   />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_Box_Layer</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.Box_Layer.$invalid }">
                        <input type="text" name="Box_Layer" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_Box_Layer" ng-model="t.Item.Box_Layer"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_BoxCount</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.BoxCount.$invalid }">
                        <input type="number" name="BoxCount" ng-disabled="t.form.index == 2"  class="form-control" placeholder="a_BoxCount" ng-model="t.Item.BoxCount"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_BoxWeight</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.BoxWeight.$invalid }">
                        <input type="text" name="BoxWeight" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_BoxWeight" ng-model="t.Item.BoxWeight"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_Brand</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.Brand.$invalid }">
                        <input type="text" name="Brand" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_Brand" ng-model="t.Item.Brand"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_ClName</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.ClName.$invalid }">
                        <input type="text" name="ClName" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_ClName" ng-model="t.Item.ClName"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_Color</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.Color.$invalid }">
                        <input type="text" name="Color" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_Color" ng-model="t.Item.Color"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_ColorBoxCount</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.ColorBoxCount.$invalid }">
                        <input type="text" name="ColorBoxCount" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_ColorBoxCount" ng-model="t.Item.ColorBoxCount"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_ColorBoxPrintNum</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.ColorBoxPrintNum.$invalid }">
                        <input type="text" name="ColorBoxPrintNum" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_ColorBoxPrintNum" ng-model="t.Item.ColorBoxPrintNum"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_OverRate</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.OverRate.$invalid }">
                        <input type="text" name="OverRate" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_OverRate" ng-model="t.Item.OverRate"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_PalletRoughWeight</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.PalletRoughWeight.$invalid }">
                        <input type="text" name="PalletRoughWeight" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_PalletRoughWeight" ng-model="t.Item.PalletRoughWeight"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_PalletSumWight</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.PalletSumWight.$invalid }">
                        <input type="text" name="PalletSumWight" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_PalletSumWight" ng-model="t.Item.PalletSumWight"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_PassSwitch</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.PassSwitch.$invalid }">
                        <input type="text" name="PassSwitch" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_PassSwitch" ng-model="t.Item.PassSwitch"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_PerBoxCount</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.PerBoxCount.$invalid }">
                        <input type="text" name="PerBoxCount" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_PerBoxCount" ng-model="t.Item.PerBoxCount"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_PersonCount</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.PersonCount.$invalid }">
                        <input type="text" name="PersonCount" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_PersonCount" ng-model="t.Item.PersonCount"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_ProductSwitch</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.ProductSwitch.$invalid }">
                        <input type="text" name="ProductSwitch" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_ProductSwitch" ng-model="t.Item.ProductSwitch"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">备注</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.Remark.$invalid }">
                        <input type="text" name="Remark" ng-disabled="t.form.index == 2" class="form-control" placeholder="备注" ng-model="t.Item.Remark"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">规格描述</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.Spec.$invalid }">
                        <input type="text" name="Spec" ng-disabled="t.form.index == 2" class="form-control" placeholder="规格描述" ng-model="t.Item.Spec"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_State</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.State.$invalid }">
                        <input type="text" name="State" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_State" ng-model="t.Item.State"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_TbName</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.TbName.$invalid }">
                        <input type="text" name="TbName" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_TbName" ng-model="t.Item.TbName"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_Texture</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.Texture.$invalid }">
                        <input type="text" name="Texture" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_Texture" ng-model="t.Item.Texture"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_Unit</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.Unit.$invalid }">
                        <input type="text" name="Unit" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_Unit" ng-model="t.Item.Unit"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_UPPH</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.UPPH.$invalid }">
                        <input type="text" name="UPPH" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_UPPH" ng-model="t.Item.UPPH" required />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_Weight</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.Weight.$invalid }">
                        <input type="text" name="Weight" ng-disabled="t.form.index == 2" class="form-control" placeholder="a_Weight" ng-model="t.Item.Weight"  />
                    </div>
                </div>
                <div class="form-group-xs  col-xs-6 no-padder">
                    <label class="col-xs-4 control-label">a_CreateBy</label>
                    <div class="col-xs-8 no-padder" ng-class="{ 'has-error' : t.DialogForm.CreateBy.$invalid }">
                        <input type="text" name="CreateBy" ng-disabled="t.form.index == 1" || t.form.index == 2" class="form-control" placeholder="a_CreateBy" ng-model="t.Item.CreateBy" required />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-12 text-center">
        <button class="btn btn-success pull-none" type="button" ng-disabled="t.DialogForm.$invalid" ng-click="t.Save()">储存</button>
        <button class="btn btn-warning pull-none" type="button" ng-click="t.Cancel()">取消</button>
    </div>
</div>
