<div class="modal-header text-center" cg-busy="ll.promise">
    <button class="btn btn-warning pull-left" type="button" ng-click="ll.Cancel()">关闭</button>
    <h3 class="modal-title">领料单优先备料调整</h3>
</div>
<div class="modal-body wrapper-xs" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body padder-xs padder-v-xxs">
            <div class="wrapper-sm padder-xxs">
                <div class="form-horizontal" ng-form="ll.MainForm">
                    <div class="form-group-xs col-sm-12">
                        <label class="col-sm-1 padder-xs control-label text-success">{{ !ll.InItem.DocNo ? '领料单号':'扫描单号' }}：</label>
                        <div class="col-sm-2 no-padder" ng-class="{ 'has-error' : ll.MainForm.DocNo.$invalid }">
                            <input autocomplete="off" type="text" ng-disabled="ll.InItem.PickDocNo" name="DocNo" class="form-control" ng-model="ll.ThisForm.DocNo" required placeholder="扫描单号" ng-keyup="ll.KeyDonwOrder($event)" />
                        </div>
                        <label class="col-sm-2 padder-xs control-label">以旧换新：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ ll.ThisForm.IsOldToNew }}</p>
                        </div>
                        <label class="col-sm-1 padder-xs control-label">单据日期：</label>
                        <div class="col-sm-1 no-padder">
                            <p class="form-control-static font-bold  text-danger-lter">{{ ll.ThisForm.CreatedOn | date:'yyyy-MM-dd' }}</p>
                        </div>
                        <label class="col-sm-2 padder-xs control-label">发料确认日：</label>
                        <div class="col-sm-1 no-padder">
                            <p class="form-control-static font-bold text-danger-lter">{{ ll.ThisForm.IssueItemOn | date:'yyyy-MM-dd HH:mm:ss' }}</p>
                        </div>
                    </div>
                    <div class="form-group-xs col-sm-12 m-t-xxs">
                        <label class="col-sm-1 padder-xs control-label">单据线别：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ ll.ThisForm.LineName }}</p>
                        </div>
                        <label class="col-sm-2 padder-xs control-label">单据类型：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold h4 text-danger-lter">{{ ll.ThisForm.DocTypeName }}</p>
                        </div>
                        <label class="col-sm-1 padder-xs control-label">超额领料：</label>
                        <div class="col-sm-1 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ ll.ThisForm.IsSpecialIssue ?'是':'否' }}</p>
                        </div>
                        <label class="col-sm-2 padder-xs control-label">单据确认人：</label>
                        <div class="col-sm-1 no-padder">
                            <p class="form-control-static font-bold h4 text-danger-lter">{{ ll.ThisForm.IssueItemBy }}</p>
                        </div>
                    </div>
                    <div class="form-group-xs col-sm-12 m-t-xxs" ng-if="ll.InItem.PickDocNo">
                        <label class="col-sm-1 padder-xs control-label">生产订单：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ ll.ThisForm.WorkOrder }}</p>
                        </div>
                        <label class="col-sm-2 padder-xs control-label">产品编号：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold h4 text-danger-lter">{{ ll.ThisForm.MOMateCode }}</p>
                        </div>
                        <label class="col-sm-1 padder-xs control-label">产品名称：</label>
                        <div class="col-sm-4 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ ll.ThisForm.MOMateName }}</p>
                        </div>
                    </div>
                    <div class="form-group-xs col-sm-12 m-t-xxs" ng-if="ll.InItem.PickDocNo">
                        <label class="col-sm-1 padder-xs control-label">登记人：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ ll.InItem.Creator }}</p>
                        </div>
                        <label class="col-sm-2 padder-xs control-label">登记时间：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold h4 text-danger-lter">{{ ll.InItem.RegTime | date:'yyyy-MM-dd HH:mm' }}</p>
                        </div>
                        <label class="col-sm-1 padder-xs control-label">需求时间：</label>
                        <div class="col-sm-4 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ ll.InItem.NeedTime | date:'yyyy-MM-dd HH:mm' }}</p>
                        </div>
                    </div>
                    <div class="form-group-xs col-sm-12 m-t-xxs" ng-if="ll.InItem.PickDocNo">
                        <label class="col-sm-1 padder-xs control-label">备料人：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ ll.InItem.PreByName }}</p>
                        </div>
                        <label class="col-sm-2 padder-xs control-label">开始备料时间：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold h4 text-danger-lter">{{ ll.InItem.StPreTime | date:'yyyy-MM-dd HH:mm' }}</p>
                        </div>
                        <label class="col-sm-1 padder-xs control-label">完成时间：</label>
                        <div class="col-sm-4 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ ll.InItem.EdPreTime | date:'yyyy-MM-dd HH:mm'}}</p>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal" ng-form="ll.SaveForm" ng-if="ll.ThisForm.ID && !ll.InItem.DocNo">
                    <div class="form-group-xs col-sm-12 m-t-sm">
                        <label class="col-sm-1 padder-xs control-label">初始需求：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold h4 text-danger-lter">{{ ll.InItem.NeedTime | date:'yyyy-MM-dd HH:mm' }}</p>
                        </div>
                        <label class="col-sm-2 padder-xs control-label">需求时间：</label>
                        <div class="col-sm-2 no-padder" ng-class="{ 'has-error' : ll.SaveForm.NeedTime.$invalid }">
                            <input autocomplete="off" date-time-picker type="text" readonly option="ll.op" format="Y-m-d H:i" step="30" name="NeedTime" class="form-control" ng-model="ll.ChaData.NeedTime" required placeholder="需求时间" />
                        </div>
                        <label class="col-sm-1 padder-xs control-label">紧急程度：</label>
                        <div class="col-sm-3 no-padder" ng-class="{ 'has-error' : ll.SaveForm.DocType.$invalid }">
                            <div config-select tb="WMSPickingHisFlow" col="DocType" auto-first="true" ng-name="DocType" ng-model="ll.ChaData.DocType"></div>
                        </div>
                    </div>
                    <div class="form-group-xs col-sm-12 m-t-sm">
                        <label class="col-sm-1 padder-xs control-label">变更原因：</label>
                        <div class="col-sm-10 no-padder">
                            <textarea rows="1" autocomplete="off" type="text" class="form-control" ng-model="ll.ChaData.Remark" placeholder="变更原因" />
                        </div>
                    </div>
                    <div class="form-group-xs col-sm-12 m-b-lg">
                        <label class="col-sm-1 padder-xs control-label">确认调整：</label>
                        <div class="col-sm-4 no-padder">
                            <button type="button" ng-disabled="ll.SaveForm.$invalid" ng-confirm="{text:'确定要变更吗'}" class="btn btn-lg btn-success m-t-xs" ng-click="ll.Save()">
                                <i class="glyphicon glyphicon-ok"></i>
                                确认优先备料
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--<pre>{{ ll.InItem | json }}</pre>-->
        </div>
    </div>
</div>