<div class="modal-header text-center">
    <button class="btn btn-sm btn-warning pull-left" type="button" ng-click="ll.Cancel()">取消</button>
    <h3 class="modal-title">仓库领料单发料变更历史</h3>
</div>
<div class="modal-body wrapper-xs h6" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body padder-xs padder-v-xxs">
            
            <div class="padder-sm table-responsive">
                <table class="table one-line">
                    <thead>
                        <tr>
                            <td title="变更时间" style= "width:120px ">变更时间</td>
                            <td title="变更人" style= "width:80px ">变更人</td>
                            <td title="紧急程度" style= "width:80px ">紧急程度</td>
                            <td title="领料单号" style= "width:130px ">领料单号</td>
                            <td title="初始需求时间" style= "width:120px ">初始需求时间</td>
                            <td title="变更后需求时间" style= "width:120px ">变更后需求时间</td>
                            <td title="变更原因" style= "width:100px ">变更原因</td>
                            <td title="工单" style= "width:120px ">工单</td>
                            <td title="品号" style= "width:100px ">品号</td>
                            <td title="品名" style= "width:100px ">品名</td>
                            <td title="规格" style= "width:100px ">规格</td>
                            <td title="仓库登记时间" style= "width:100px ">仓库登记时间</td>
                            <td title="开始备料时间" style= "width:100px ">开始备料时间</td>
                            <td title="MES 提交人账号" style= "width:100px ">MES 提交人账号</td>
                            <td title="OA审核后回写时间" style= "width:100px ">OA审核后回写时间</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in ll.List ">
                        <td title="{{ item.CreateDate }}">{{ item.CreateDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td title="{{ item.Creator }}">{{ item.Creator }}</td>
                        <td title="{{ item.DocTypeName }}">{{ item.DocTypeName }}</td>
                        <td title="{{ item.PickDocNo }}">{{ item.PickDocNo }}</td>
                        <td title="{{ item.OriNeedTime }}">{{ item.OriNeedTime | date:'yyyy-MM-dd HH:mm' }}</td>
                        <td title="{{ item.NeedTime }}">{{ item.NeedTime | date:'yyyy-MM-dd HH:mm' }}</td>
                        <td title="{{ item.Remark }}">{{ item.Remark }}</td>
                        <td title="{{ item.WorkOrder }}">{{ item.WorkOrder }}</td>
                        <td title="{{ item.MateCode }}">{{ item.MateCode }}</td>
                        <td title="{{ item.MateName }}">{{ item.MateName }}</td>
                        <td title="{{ item.MateSpecs }}">{{ item.MateSpecs }}</td>
                        <td title="{{ item.RegTime }}">{{ item.RegTime  | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td title="{{ item.StPreTime }}">{{ item.StPreTime  | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td title="{{ item.CreateBy }}">{{ item.CreateBy }}</td>
                        <td title="{{ item.OATime }}">{{ item.OATime  | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    </tr>
                </table>
                <div class= "col-md-12 text-center " ng-if= "ll.page.total>ll.page.size ">
                    <div uib-pagination total-items= "ll.page.total " ng-model= "ll.page.index " items-per-page= "ll.page.size " max-size= "10 " first-text= "<< " previous-text= "< "
                     ng-change= "ll.PageChange() " next-text= "> " last-text= ">> " boundary-links= "true " boundary-link-numbers= "true "></div>
                </div>
            </div>
        </div>
    </div>
</div>
