<div class="modal-header text-center">
    <button class="btn btn-sm btn-warning pull-left" type="button" ng-click="us.Cancel()">取消</button>
    <h3 class="modal-title">系统用户查询选择</h3>
</div>
<div class="modal-body wrapper-xs h6" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body padder-xs padder-v-xxs">
            <div class="wrapper-sm">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control"  ng-model="us.Ser.aEmpNo" placeholder="员工编号">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"  ng-model="us.Ser.aChiFirstName" placeholder="姓名">
                    </div>
                    <div class="form-group">
                        <div toggle-switch ng-model="us.Ser.aState" class="w-xxs switch-success" on-label="是" off-label="否" on-value = "S" off-value ="E"></div >
                    </div>
                    <button class= "btn btn-sm btn-info " ng-click= "us.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                </div>
            </div>
            <div class="padder-sm table-responsive">
                <table class="table one-line">
                    <thead>
                        <tr>
                            <td title="员工编号" style= "width:100px ">员工编号</td>
                            <td title="姓名" style= "width:100px ">姓名</td>
                            <td title="性别" style= "width:100px ">性别</td>
                            <td title="账号状态" style= "width:100px ">账号状态</td>
                            <td title="a_UserType" style= "width:100px ">a_UserType</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in us.List " ng-click="us.OK(item)">
                        <td title="{{ item.UserNo }}">{{ item.UserNo }}</td>
                        <td title="{{ item.ChiFirstName }}">{{ item.ChiFirstName }}</td>
                        <td title="{{ item.Sex }}">{{ item.Sex == 'M'?'男':'女' }}</td>
                        <td title="{{ item.State }}">{{ item.State== 'S'?'启用':'停用' }}</td>
                        <td title="{{ item.UserType }}">{{ item.UserType }}</td>
                    </tr>
                </table>
                <div class= "col-md-12 text-center " ng-if= "us.page.total>us.page.size ">
                    <div uib-pagination total-items= "us.page.total " ng-model= "us.page.index " items-per-page= "us.page.size " max-size= "5 " first-text= "<< " previous-text= "< "
                     ng-change= "us.PageChange() " next-text= "> " last-text= ">> " boundary-links= "true " boundary-link-numbers= "true "></div>
                </div>
            </div>
        </div>
    </div>
</div>