<div class="modal-header text-center">
    <button class="btn btn-sm btn-success pull-left" type="button" ng-click="wo.Save()">
        <i class="glyphicon glyphicon-save"></i>
        保存
    </button>
    <button class="btn btn-sm btn-warning pull-right" type="button" ng-click="wo.Cancel()">关闭</button>
    <h3 class="modal-title">工单物料损耗</h3>
</div>
<div class="modal-body wrapper-xs" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body padder-xs padder-v-xxs">
            <div class="wrapper-sm padder-xxs">
                <div class="form-horizontal" ng-form="wo.MainForm">
                    <div class="form-group-xs col-sm-12">
                        <label class="col-sm-1 padder-xs control-label text-success">{{ !wo.InItem.WorkOrder ? '生产订单':'扫描单号' }}：</label>
                        <div class="col-sm-6 no-padder" ng-class="{ 'has-error' : wo.MainForm.DocNo.$invalid }">
                            <input autocomplete="off" type="text" ng-disabled="wo.InItem.WorkOrder" name="DocNo" class="form-control" ng-model="wo.ThisForm.DocNo" required placeholder="扫描单号" ng-keyup="wo.KeyDonwOrder($event)" />
                        </div>
                    </div>
                    <div class="form-group-xs col-sm-12 m-t-xxs">
                        <label class="col-sm-1 padder-xs control-label">生产订单：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ wo.ThisForm.DocNo }}</p>
                        </div>
                        <label class="col-sm-1 padder-xs control-label">产品编号：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold h4 text-danger-lter">{{ wo.ThisForm.ProCode }}</p>
                        </div>
                        <label class="col-sm-2 padder-xs control-label">产品名称：</label>
                        <div class="col-sm-4 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ wo.ThisForm.ProName }}</p>
                        </div>
                    </div>
                    <div class="form-group-xs col-sm-12 m-t-xxs">
                        <label class="col-sm-1 padder-xs control-label">产品规格：</label>
                        <div class="col-sm-11 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ wo.ThisForm.ProSPES }}</p>
                        </div>
                    </div>
                    <div class="form-group-xs col-sm-12 m-t-xxs">
                        <label class="col-sm-1 padder-xs control-label">累计完工：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ wo.ThisForm.TotalCompleteQty }}</p>
                        </div>
                        <label class="col-sm-1 padder-xs control-label">累计入库：</label>
                        <div class="col-sm-2 no-padder">
                            <p class="form-control-static font-bold h4 text-danger-lter">{{ wo.ThisForm.TotalRcvQty }}</p>
                        </div>
                        <label class="col-sm-2 padder-xs control-label">需求分类：</label>
                        <div class="col-sm-4 no-padder">
                            <p class="form-control-static font-bold  h4 text-danger-lter">{{ wo.ThisForm.DemandCode }}</p>
                        </div>
                    </div>
                </div>
                <table class="table pad-xss padder-v-xxs" style="table-layout:fixed" ng-if="wo.ThisForm.ID">
                    <colgroup>
                        <col style="width:40px "    />
                        <col style="width:60px "    />
                        <col style="width:100px "   />
                        <col style="width:200px "   />
                        <col style="width:80px "    />
                        <col style="width:80px "    />
                        <col style="width:120px "   />
                    </colgroup>
                    <thead>
                        <tr>
                            <td title="查询" colspan="7">
                                <div class="input-group col-md-12">
                                    <input autocomplete="off" type="text" name="DocNo" class="form-control" ng-model="wo.DtlSer" placeholder="查询" />
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td title="行号" style="width:40px ">行号</td>
                            <td title="物料编号" style="width:60px ">品号</td>
                            <td title="物料名称" style="width:100px ">品名</td>
                            <td title="物料规格" style="width:200px ">规格</td>
                            <td title="应发数量" style="width:80px ">应发数量</td>
                            <td title="实发数量" style="width:80px ">实发数量</td>
                            <td title="损耗数量" style="width:120px ">损耗数量</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in wo.DtlList|filter:wo.DtlSer">
                        <td title="{{ item.RowNo }}">{{ item.RowNo }}</td>
                        <td>{{ item.MateCode }}</td>
                        <td class="text-left one-line" title="{{ item.MateName }}">{{ item.MateName }}</td>
                        <td class="text-left one-line" title="{{ item.MateSPECS }}">{{ item.MateSPECS }}</td>
                        <td title="{{ item.IssueQty }}">{{ item.IssueQty }}</td>
                        <td title="{{ item.IssuedQty }}">{{ item.IssuedQty }}</td>
                        <td title="{{ item.DumpNum }}">
                            <input type="number" min="0" class="form-control"  ng-model="item.DumpNum"/>
                        </td>
                    </tr>
                </table>
                
            </div>
            <!--<pre>{{ wo.ThisForm | json }}</pre>-->
        </div>
    </div>
</div>
