<div class="modal-header text-center">
    <button class="btn btn-sm btn-warning pull-left" type="button" ng-click="arr.Cancel()">取消</button>
    <h3 class="modal-title">排班人员查询</h3>
</div>
<div class="modal-body wrapper-xs h6" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body padder-xs padder-v-xxs">
            <div class="wrapper-sm">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control"  ng-model="arr.Ser.aHrUserNo" placeholder="员工编号">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"  ng-model="arr.Ser.aHrUserName" placeholder="员工姓名">
                    </div>
                    <button class= "btn btn-sm btn-info " ng-click= "arr.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                </div>
            </div>
            <div class="padder-sm table-responsive">
                <table class="table one-line">
                    <thead>
                        <tr>
                            <td title="工号" style= "width:100px ">工号</td>
                            <td title="姓名" style= "width:100px ">姓名</td>
                            <td title="员工类型" style= "width:100px ">员工类型</td>
                            <td title="作业工序" style= "width:100px ">作业工序</td>
                            <td title="开始时间" style= "width:100px ">开始时间</td>
                            <td title="结束时间" style= "width:100px ">结束时间</td>
                            <td title="绩效系数" style= "width:100px ">绩效系数</td>
                            <td title="备注" style= "width:100px ">备注</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in arr.List " ng-click="arr.OK(item)">
                        <td title="{{ item.HrUserNo }}">{{ item.HrUserNo }}</td>
                        <td title="{{ item.HrUserName }}">{{ item.HrUserName }}</td>
                        <td title="{{ item.EmpTypeText }}">{{ item.EmpTypeText }}</td>
                        <td title="{{ item.Procedure.Name }}">{{ item.Procedure.Name }}</td>
                        <td title="{{ item.StartTime }}">{{ item.StartTime }}</td>
                        <td title="{{ item.EndTime }}">{{ item.EndTime }}</td>
                        <td title="{{ item.Merits }}">{{ item.Merits }}</td>
                        <td title="{{ item.Remark }}">{{ item.Remark }}</td>
                    </tr>
                </table>
                <div class= "col-md-12 text-center " ng-if= "arr.page.total>arr.page.size ">
                    <div uib-pagination total-items= "arr.page.total " ng-model= "arr.page.index " items-per-page= "arr.page.size " max-size= "10 " first-text= "<< " previous-text= "< "
                     ng-change= "arr.PageChange() " next-text= "> " last-text= ">> " boundary-links= "true " boundary-link-numbers= "true "></div>
                </div>
            </div>
        </div>
    </div>
</div>
