<div class="modal-header text-center">
    <button class="btn btn-sm btn-warning pull-left" type="button" ng-click="fo.Cancel()">取消</button>
    <h4 class="modal-title text-center"><span class="text-info font-bold">{{ fo.ItemData.ThisArea.AreaName }}</span>栏位编辑设定</h4>
</div>
<div class="modal-body wrapper-xs h6" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body padder-xs padder-v-xxs">
            <div class="col-md-2 text-xs no-padder scroll-y" style="max-height:400px">
                <table class="table pad-xs col-md-12 one-line">
                    <thead>
                        <tr>
                            <td class="col-md-3 pad-xss" style="text-align:left">
                                <label class="i-checks i-checks-sm">
                                    <input autocomplete="off" type="checkbox" ng-change="fun.IsColAll()" ng-model="fun.IsAll"><i></i>
                                </label>
                            </td>
                            <td class="col-md-9">栏名</td>
                        </tr>
                    </thead>
                    <tr class="text-left" ng-repeat="col in fo.ItemData.ColumnList">
                        <!--<td>{{ col.ColumnText }}</td>-->
                        <td class="text-left">
                            <label class="i-checks i-checks-sm">
                                <input autocomplete="off" type="checkbox" ng-change="fun.IsColChange(col)" ng-model="col.IsShow"><i></i>
                            </label>
                        </td>
                        <td title="{{ col.ColumnName }}" ng-class="{'bg-warning':col.ColumnType == '3'}">{{ col.ColumnName }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-10 wrapper-xs no-padder scroll-y" ng-form="fun.ColForm" style="max-height:400px; min-height:350px">
                <table class="table pad-xs no-padder">
                    <thead>
                        <tr>
                            <td style="width:30px"></td>
                            <td style="width:80px">栏名</td>
                            <td style="width:110px">中文名</td>
                            <td style="width:50px">宽度</td>
                            <td style="width:80px" ng-if="fun.ThisFun.FunType=='B'">编辑栏</td>
                            <td style="width:80px" ng-if="fun.ThisFun.FunType=='B'">类型</td>
                            <td style="width:80px" ng-if="fun.ThisFun.FunType=='B'">属性</td>
                            <td style="width:50px" ng-if="fun.ThisFun.FunType=='B'">验重</td>
                            <td style="width:30px"></td>
                        </tr>
                    </thead>
                    <tr class="text-left h6" ng-repeat="show in fun.ThisFun.ColList" ng-drop="true" ng-drop-success="fun.Drop($data,$index)">
                        <td class="text-center h4">
                            <i class="glyphicon glyphicon-move text-info" ng-drag="true"
                               ng-drag-data="show" ng-drag-success="fun.Drag($data,$index)"></i>
                        </td>
                        <td class="one-line" ng-class="{'bg-warning':show.ColumnType == '3'}" title="{{ show.ColumnName }}">
                            <div style="width:80px" class="width-fix">{{ show.ColumnName }}</div>
                        </td>
                        <td class="multi-line"><input autocomplete="off" type="text" name="ColumnText" class="form-control padder-xxs" placeholder="中文栏名" ng-model="show.ColumnText" /></td>
                        <td class="multi-line"><input autocomplete="off" type="text" name="Width" class="form-control padder-xxs" placeholder="宽度" ng-model="show.Width" /></td>
                        <td class="text-center multi-line" ng-if="fun.ThisFun.FunType=='B'">
                            <div ng-class="{ 'has-error' : fun.ColForm.editCol.$invalid }">
                                <ui-select name="editCol" ng-model="show.EditCol" class="padder-xxs" search-enabled="true" ng-required="true">
                                    <ui-select-match class="padder-xxs" placeholder="请选择.."><span>{{ $select.selected.ColumnName }}</span></ui-select-match>
                                    <ui-select-choices repeat="item.ColumnName as item in fun.EnColList | filter: $select.search track by item.ColumnName">
                                        <div><span ng-bind-html="item.ColumnName | highlight: $select.search"></span></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </td>
                        <td class="text-center multi-line" ng-if="fun.ThisFun.FunType=='B'">
                            <div config-select ng-model="show.ColType" ng-name="ColType" config-option="fun.ColTypeConfig" ng-required="true"></div>
                            <div ng-if="show.ColType=='Select'" class="m-t-xs" ng-class="{ 'has-error' : fun.ColForm.ColValue.$invalid }">
                                <ui-select name="ColValue" ng-model="show.ColValue" theme="bootstrap" search-enabled="true" ng-required="true">
                                    <ui-select-match placeholder="请选择.."><span>{{ $select.selected.SelectName }}</span></ui-select-match>
                                    <ui-select-choices repeat="item.SelectName as item in fun.SelectList | filter: $select.search track by item.SelectName">
                                        <div class="h5"><span ng-bind-html="item.SelectName | highlight: $select.search"></span></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div ng-if="show.ColType=='Config'" class="m-t-xs" ng-class="{ 'has-error' : fun.ColForm.TableCofig.$invalid }">
                                <div basic-select="TableCofig" ng-model="show.ColValue" ng-name="TableCofig" ng-required="true"></div>
                            </div>
                        </td>
                        <td class="text-center multi-line" ng-if="fun.ThisFun.FunType=='B'">
                            <div config-select ng-model="show.ABleNull" ng-name="ColType" config-option="fun.AbleNullConfig" ng-required="true"></div>
                        </td>
                        <td class="text-center multi-line" ng-if="fun.ThisFun.FunType=='B'">
                            <label class="i-checks i-checks-sm">
                                <input autocomplete="off" type="checkbox" ng-model="show.CheckExists" ng-disabled="show.ColumnType == '3'|| show.TableAs != 'a' || show.ColType!='Text'"><i></i>
                            </label>
                        </td>
                        <td class="text-center h4">
                            <a class="text-danger" ng-click="fun.DeleteFunCol(show, $index)"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                </table>
            </div>
            
        </div>
    </div>
</div>
