<div class="modal-header text-center">
    <button class="btn btn-sm btn-warning pull-left" type="button" ng-click="pl.Cancel()">取消</button>
    <h3 class="modal-title">排产计划导入记录</h3>
</div>
<div class="modal-body wrapper-xs h6" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body padder-xs padder-v-xxs">
            <div class="wrapper-sm">
                <div class="form-inline">
                    <button class= "btn btn-sm btn-info " ng-click= "pl.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                </div>
            </div>
            <div class="padder-sm table-responsive">
                <table class="table one-line">
                    <thead>
                        <tr>
                            <td title="导入日期" style= "width:100px ">导入日期</td>
                            <td title="同天导入版本" style= "width:100px ">同天导入版本</td>
                            <td title="导入人" style= "width:100px ">导入人</td>
                            <td title="导入时间" style= "width:100px ">导入时间</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in pl.List " ng-click="pl.OK(item)">
                        <td title="{{ item.ImportDate }}">{{ item.ImportDate }}</td>
                        <td title="{{ item.VerNo }}">{{ item.VerNo }}</td>
                        <td title="{{ item.Creator }}">{{ item.Creator }}</td>
                        <td title="{{ item.CreateDate }}">{{ item.CreateDate }}</td>
                    </tr>
                </table>
                <div class= "col-md-12 text-center " ng-if= "pl.page.total>pl.page.size ">
                    <div uib-pagination total-items= "pl.page.total " ng-model= "pl.page.index " items-per-page= "pl.page.size " max-size= "5 " first-text= "<< " previous-text= "< "
                     ng-change= "pl.PageChange() " next-text= "> " last-text= ">> " boundary-links= "true " boundary-link-numbers= "true "></div>
                </div>
            </div>
        </div>
    </div>
</div>
