<div class="wrapper-xs bg-light">
    <button class="btn btn-primary pull-right" type="button"  ng-click="fo.Cancel()">关闭</button>
    <button class="btn btn-success pull-right m-r-md" ng-disabled="fo.DialogForm.$invalid" type="button" ng-click="fo.Save()">储存</button>
    <uib-tabset active="fo.Index" type="tabs">
        <uib-tab index="0">
            <uib-tab-heading class="h5">流程节点配置</uib-tab-heading>
            <div class="panel panel-default scroll-y" ng-form="fo.DialogForm">
                <div class="panel-body  padder-xs padder-v-xs">
                    <div class="form-horizontal no-padder">
                        <div class="form-group  col-xs-12 padder-xs">
                            <label class="col-xs-2 control-label">节点编号</label>
                            <div class="col-xs-4 no-padder" ng-class="{ 'has-error' : fo.DialogForm.NodeNo.$invalid }">
                                <input type="text" name="NodeNo" ng-disabled="fo.form.index == 1 || fo.form.index == 2" class="form-control" placeholder="节点编号" ng-model="fo.Item.NodeNo" required />
                            </div>
                            <label class="col-xs-2 control-label">节点名称</label>
                            <div class="col-xs-4 no-padder" ng-class="{ 'has-error' : fo.DialogForm.NodeName.$invalid }">
                                <input type="text" name="NodeName" ng-disabled="fo.form.index == 2" class="form-control" placeholder="节点名称" ng-model="fo.Item.NodeName" required />
                            </div>
                        </div>
                        <div class="form-group  col-xs-12 padder-xs">
                            <label class="col-xs-2 control-label">节点类型</label>
                            <div class="col-xs-4 no-padder" ng-class="{ 'has-error' : fo.DialogForm.NodeType.$invalid }">
                                <div config-select ng-model="fo.Item.NodeType" ng-disabled="fo.form.index == 2" ng-name="NodeType" placeholder="节点类型" tb="FormFlow" col="NodeType" ng-required="true" ng-change="fo.ChangeNodeType()"></div>
                            </div>
                            <label class="col-xs-2 control-label">有入节点</label>
                            <div class="col-xs-4 no-padder" ng-class="{ 'has-error' : fo.DialogForm.AbleIn.$invalid }">
                                <div class="col-xs-2 no-padder">
                                    <label class="i-switch i-switch-md bg-success m-t-xs m-r">
                                        <input type="checkbox" ng-model="fo.Item.AbleIn">
                                        <i></i>
                                    </label>
                                </div>
                                <div class="col-xs-10 no-padder form-control-static" ng-if="fo.Item.AbleIn">
                                    <span class="btn-group pull-left">
                                        <label class="btn btn-default reset" ng-model="fo.Item.PosIn" uib-btn-radio="'Left'">Left</label>
                                        <label class="btn btn-default reset" ng-model="fo.Item.PosIn" uib-btn-radio="'Top'">Top</label>
                                        <label class="btn btn-default reset" ng-model="fo.Item.PosIn" uib-btn-radio="'Right'">Right</label>
                                        <label class="btn btn-default reset" ng-if="fo.Item.NodeType != 'S'" ng-model="fo.Item.PosIn" uib-btn-radio="'Bottom'">Bottom</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group  col-xs-12 padder-xs">
                            <label class="col-xs-2 control-label">有Ok出节点</label>
                            <div class="col-xs-4 no-padder" ng-class="{ 'has-error' : fo.DialogForm.AbleOkOut.$invalid }">
                                <div class="col-xs-2 no-padder">
                                    <label class="i-switch i-switch-md bg-success m-t-xs m-r">
                                        <input type="checkbox" ng-model="fo.Item.AbleOkOut">
                                        <i></i>
                                    </label>
                                </div>
                                <div class="col-xs-10 no-padder form-control-static" ng-if="fo.Item.AbleOkOut">
                                    <span class="btn-group pull-left">
                                        <label class="btn btn-default reset" ng-model="fo.Item.PosOkOut" uib-btn-radio="'Left'">Left</label>
                                        <label class="btn btn-default reset" ng-if="fo.Item.NodeType != 'S'" ng-model="fo.Item.PosOkOut" uib-btn-radio="'Top'">Top</label>
                                        <label class="btn btn-default reset" ng-model="fo.Item.PosOkOut" uib-btn-radio="'Right'">Right</label>
                                        <label class="btn btn-default reset" ng-if="fo.Item.NodeType != 'S'" ng-model="fo.Item.PosOkOut" uib-btn-radio="'Bottom'">Bottom</label>
                                    </span>
                                </div>
                            </div>
                            <label class="col-xs-2 control-label">有Ng出节点</label>
                            <div class="col-xs-4 no-padder " ng-class="{ 'has-error' : fo.DialogForm.AbleNgOut.$invalid }">
                                <div class="col-xs-2 no-padder">
                                    <label class="i-switch i-switch-md bg-success m-t-xs m-r">
                                        <input type="checkbox" ng-disabled="fo.Item.NodeType != 'S'" ng-model="fo.Item.AbleNgOut">
                                        <i></i>
                                    </label>
                                </div>
                                <div class="col-xs-10 no-padder form-control-static" ng-if="fo.Item.AbleNgOut && fo.Item.NodeType == 'S'">
                                    <span class="btn-group pull-left">
                                        <label class="btn btn-default reset" ng-model="fo.Item.PosNgOut" uib-btn-radio="'Left'">Left</label>
                                        <!--<label class="btn btn-default reset" ng-model="fo.Item.PosNgOut" uib-btn-radio="'Top'">Top</label>-->
                                        <label class="btn btn-default reset" ng-model="fo.Item.PosNgOut" uib-btn-radio="'Right'">Right</label>
                                        <label class="btn btn-default reset" ng-model="fo.Item.PosNgOut" uib-btn-radio="'Bottom'">Bottom</label>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group  col-xs-12 padder-xs">
                            <label class="col-xs-2 control-label">签核类型</label>
                            <div class="col-xs-4 no-padder" ng-class="{ 'has-error' : fo.DialogForm.SignType.$invalid }">
                                <div config-select ng-model="fo.Item.SignType" ng-disabled="fo.form.index == 2" ng-name="SignType" placeholder="签核类型" tb="FormFlow" col="SignType" ng-required="true"></div>
                            </div>
                            <label class="col-xs-2 control-label">签核方式</label>
                            <div class="col-xs-4 no-padder" ng-class="{ 'has-error' : fo.DialogForm.StageType.$invalid }">
                                <div config-select ng-model="fo.Item.StageType" ng-disabled="fo.form.index == 2" ng-name="StageType" placeholder="签核方式" tb="FormFlow" col="StageType" ng-required="true"></div>
                            </div>
                        </div>
                        <div class="form-group  col-xs-12 padder-xs">
                            <label class="col-xs-2 control-label">指定签核人</label>
                            <div class="col-xs-4 no-padder" ng-class="{ 'has-error' : fo.DialogForm.WASignBy.$invalid }">
                                <div basic-select="User" ng-disabled="fo.form.index == 2" ng-name="WASignBy" placeholder="指定签核人" ng-model="fo.Item.WASignBy"></div>
                            </div>
                            <label class="col-xs-2 control-label">位阶层级</label>
                            <div class="col-xs-4 no-padder" ng-class="{ 'has-error' : fo.DialogForm.OrgLevel.$invalid }">
                                <input type="number" name="OrgLevel" ng-disabled="fo.form.index == 2" class="form-control" placeholder="位阶层级" ng-model="fo.Item.OrgLevel" />
                            </div>
                        </div>
                        <div class="form-group  col-xs-12 padder-xs">
                            <label class="col-xs-2 control-label">备注</label>
                            <div class="col-xs-10 no-padder" ng-class="{ 'has-error' : fo.DialogForm.Remark.$invalid }">
                                <input type="text" name="Remark" ng-disabled="fo.form.index == 2" class="form-control" placeholder="备注" ng-model="fo.Item.Remark" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading class="h5">节点栏位信息控制</uib-tab-heading>
            <div ser-data="User" list="fo.UserList">
                <pre>{{ fo.UserList | json }}</pre>
            </div>
        </uib-tab>
        <uib-tab index="3">
            <uib-tab-heading class="h5">
                Js文件代码
            </uib-tab-heading>
        </uib-tab>
    </uib-tabset>
</div>
