<uib-tabset active="active" type="tabs" class="h-100" cg-busy="bl.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">外部标签管理</uib-tab-heading>
        <div class="wrapper-xs">
            <div class="form-inline">
                <button class="btn btn-sm btn-success " ng-click="bl.ImportExcel() "><i class="glyphicon glyphicon-import "></i> 导入外部标签</button>
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="bl.Ser.bWorkOrder" placeholder="工单号">
                </div>
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="bl.Ser.bMaterialCode" placeholder="料号">
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "bl.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
            </div>
        </div>
        <div class= "padder-xs ">
            <div class="col-md-12 scroll-x no-padder">
                <table class= "table " >
                    <thead>
                        <tr>
                            <td style= "width:40px ">编辑</td>
                            <td title="工单号" style= "width:100px ">工单号</td>
                            <td title="料号" style= "width:100px ">料号</td>
                            <td title="料名" style= "width:100px ">料名</td>
                            <td title="工单数量" style= "width:60px ">工单数量</td>
                            <td title="总箱数" style="width:100px ">总箱数</td>
                            <td title="每箱个数" style= "width:70px ">每箱个数</td>
                            <td title="彩盒个数" style= "width:70px ">彩盒个数</td>
                            <td title="多少箱对应一个外箱标签" style="width:70px ">箱/外箱数</td>
                            <td title="打印数量-每个外部标签第一次打印数量" style="width:60px ">打印数量</td>
                            <td title="首次提交人" style="width:70px ">提交人</td>
                            <td title="首次提交时间" style="width:100px ">提交时间</td>
                            <td title="更新人" style="width:70px ">更新人</td>
                            <td title="更新时间" style="width:100px ">更新时间</td>
                        </tr>
                    </thead>
                    <tr ng-repeat= "item in bl.List ">
                        <td>
                            <button title="查询详细编码信息" class="btn btn-xs btn-success" ng-click="bl.OpenDtl(item)"><i class="glyphicon glyphicon-edit"></i></button>
                            <!--<button class="btn btn-xs btn-danger" ng-confirm="{text:'确定要删除吗'}" ng-click="sys.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>-->
                        </td>
                        <td title="{{ item.Order.WorkOrder }}">{{ item.Order.WorkOrder }}</td>
                        <td title="{{ item.Order.MaterialCode }}">{{ item.Order.MaterialCode }}</td>
                        <td title="{{ item.Order.MaterialName }}">{{ item.Order.MaterialName }}</td>
                        <td title="{{ item.Order.Quantity }}">{{ item.Order.Quantity }}</td>
                        <td >{{ bl.CalToBox(item.Order.Quantity,item.PackMain.PerBoxQuantity) }}</td>
                        <td title="{{ item.PackMain.PerBoxQuantity }}">{{ item.PackMain.PerBoxQuantity }}</td>
                        <td title="{{ item.PackMain.PerColorBoxQty }}">{{ item.PackMain.PerColorBoxQty }}</td>
                        <td title="{{ item.PerPackNum }}">{{ item.PerPackNum }}</td>
                        <td title="{{ item.PrintNum }}">{{ item.PrintNum }}</td>
                        <td title="{{ item.Creator }}">{{ item.Creator }}</td>
                        <td title="{{ item.CreateDate | date:'yyyy-MM-dd HH:mm:ss' }}">{{ item.CreateDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                        <td title="{{ item.Modify }}">{{ item.Modify }}</td>
                        <td title="{{ item.ModifyDate | date:'yyyy-MM-dd HH:mm:ss' }}">{{ item.ModifyDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    </tr>
                </table>
            </div>
            <div class= "col-md-12 text-center " ng-if= "bl.page.total>bl.page.size ">
                <div uib-pagination total-items= "bl.page.total " ng-model= "bl.page.index " items-per-page= "bl.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "bl.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
