<div class="no-padder" cg-busy="pl.promise">
    <span class="pull-right">
        <button class="btn btn-sm btn-success m-t-sm m-r-xs pull-right" ng-click="pl.Import() "><i class="glyphicon glyphicon-import "></i> 导入计划</button>
        <button class="btn btn-sm btn-info m-t-sm m-r-xs " ng-click="pl.OpenHis() "><i class="glyphicon glyphicon-open "></i>历史版本</button>

    </span>
    <uib-tabset active="active" type="tabs" >
        <uib-tab index="0">
            <uib-tab-heading class="h5">
                U9排产计划
            </uib-tab-heading>
            <div class="wrapper-xs">
                <div class="form-inline">
                    <div class="form-group">
                        <input autocomplete="off" type="text" class="form-control" ng-model="pl.Ser.aWorkOrder" placeholder="生产订单号">
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" type="text" class="form-control" ng-model="pl.Ser.aMaterialCode" placeholder="料号">
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" type="text" date-picker class="form-control" ng-model="pl.Ser.aPlanStDate" placeholder=">=计划开工日" option="pl.DateOption">
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" type="text" date-picker class="form-control" ng-model="pl.Ser.aPlanEdDate" placeholder="<=计划完工日" option="pl.DateOption">
                    </div>
                    <div class="form-group">
                        <input autocomplete="off" type="text" date-picker class="form-control" ng-model="pl.Ser.aProduceDate" placeholder="排产日期" option="pl.DateOption">
                    </div>
                    <button class="btn btn-sm btn-info " ng-click="pl.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
                </div>
            </div>
            <div class="padder-xs ">
                <div class="col-md-12 scroll-x no-padder">
                    <table class="table " style="width:2000px">
                        <thead>
                            <tr>
                                <td title="导入日期" style="width:100px ">导入日期</td>
                                <td title="版本" style="width:50px ">版本</td>
                                <td title="序号" style="width:50px ">序号</td>
                                <td title="客户订单号" style="width:80px ">客户订单号</td>
                                <td title="需求分类号" style="width:80px ">需求分类号</td>
                                <td title="MRP分类" style="width:80px ">MRP分类</td>
                                <td title="单据类型" style="width:100px ">单据类型</td>
                                <td title="生产订单号" style="width:100px ">生产订单号</td>
                                <td title="料号" style="width:100px ">料号</td>
                                <td title="品名" style="width:100px ">品名</td>
                                <td title="车间" style="width:100px ">车间</td>
                                <td title="生产线别" style="width:100px ">生产线别</td>
                                <td title="状态" style="width:60px ">状态</td>
                                <td title="工单数量" style="width:100px ">工单数量</td>
                                <td title="已完工数量" style="width:100px ">已完工数量</td>
                                <td title="未完工数量" style="width:100px ">未完工数量</td>
                                <td title="计划开工日期" style="width:100px ">计划开工日期</td>
                                <td title="计划完工日期" style="width:100px ">计划完工日期</td>
                                <td title="需求日期" style="width:100px ">需求日期</td>
                                <td title="排产日期" style="width:100px ">排产日期</td>
                                <td title="备注" style="width:200px ">备注</td>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in pl.List ">
                            <td title="{{ item.Main.ImportDate }}">{{ item.Main.ImportDate }}</td>
                            <td title="{{ item.Main.VerNo }}">{{ item.Main.VerNo }}</td>
                            <td title="{{ item.RowNo }}">{{ item.RowNo }}</td>
                            <td title="{{ item.CustomOrder }}">{{ item.CustomOrder }}</td>
                            <td title="{{ item.DemandCode }}">{{ item.DemandCode }}</td>
                            <td title="{{ item.MRPType }}">{{ item.MRPType }}</td>
                            <td title="{{ item.FormType }}">{{ item.FormType }}</td>
                            <td title="{{ item.WorkOrder }}">{{ item.WorkOrder }}</td>
                            <td title="{{ item.MaterialCode }}">{{ item.MaterialCode }}</td>
                            <td title="{{ item.MaterialName }}">{{ item.MaterialName }}</td>
                            <td title="{{ item.WorkShop }}">{{ item.WorkShop }}</td>
                            <td title="{{ item.Line }}">{{ item.Line }}</td>
                            <td title="{{ item.State }}">{{ item.State }}</td>
                            <td title="{{ item.Quantity }}">{{ item.Quantity }}</td>
                            <td title="{{ item.FinishQty }}">{{ item.FinishQty }}</td>
                            <td title="{{ item.NotFinishQty }}">{{ item.NotFinishQty }}</td>
                            <td title="{{ item.PlanStDate }}">{{ item.PlanStDate | date:'yyyy-MM-dd' }}</td>
                            <td title="{{ item.PlanEdDate }}">{{ item.PlanEdDate | date:'yyyy-MM-dd' }}</td>
                            <td title="{{ item.NeedDate }}">{{ item.NeedDate | date:'yyyy-MM-dd' }}</td>
                            <td title="{{ item.ProduceDate }}">{{ item.ProduceDate | date:'yyyy-MM-dd' }}</td>
                            <td title="{{ item.Remark }}">{{ item.Remark }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-12 text-center " ng-if="pl.page.total>pl.page.size ">
                    <div uib-pagination total-items="pl.page.total " ng-model="pl.page.index " items-per-page="pl.page.size " max-size="10 " first-text="第一页 " previous-text="上一页 "
                         ng-change="pl.PageChange() " next-text="下一页 " last-text="最后页 " boundary-links="true " boundary-link-numbers="true "></div>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
