<uib-tabset active="active" type="tabs" class="h-100" cg-busy="pdrc.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">每日排产达成率</uib-tab-heading>
        <div class="wrapper-xs">
            <div class="form-inline">
                <div class="form-group">
                    <input autocomplete="off"  type="text" date-picker class="form-control"  ng-model="pdrc.Ser.aPlanDate" placeholder="开始日期" option="pdrc.DateOption">
                </div>
                <div class="form-group">
                    <input autocomplete="off"  type="text" date-picker class="form-control"  ng-model="pdrc.Ser.aPlanDate" placeholder="结束日期" option="pdrc.DateOption">
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "pdrc.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                <!--<button class= "btn btn-sm btn-success " ng-click= "pdrc.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>-->
            </div>
        </div>
        <div class= "padder-xs ">
            <div class="col-md-12 scroll-x no-padder">
                <table class= "table " >
                    <thead>
                        <tr>
                            <td title="线别" style= "width:100px ">线别</td>
                            <td title="拉长" style= "width:100px ">拉长</td>
                            <td title="排产日期" style="width:100px ">排产日期</td>
                            <td title="计划是否齐套" style= "width:100px ">计划是否齐套</td>
                            <td title="工单" style= "width:100px ">工单</td>
                            <td title="料号" style= "width:100px ">料号</td>
                            <td title="品名" style= "width:100px ">品名</td>
                            <td title="规格" style= "width:100px ">规格</td>
                            <td title="工单数量" style= "width:100px ">工单数量</td>
                            <td title="排产数量" style= "width:100px ">排产数量</td>
                            <td title="U9入库数" style= "width:100px ">U9入库数</td>
                            <td title="达成率" style= "width:100px ">达成率</td>
                        </tr>
                    </thead>
                    <tr ng-repeat= "item in pdrc.List ">
                        <td title="{{ item.LineName }}">{{ item.LineName }}</td>
                        <td title="{{ item.Name }}">{{ item.Name }}</td>
                        <td title="{{ item.PlanDate }}">{{ item.PlanDate }}</td>
                        <td ng-class="{'bg-danger-light':item.TotalPlanCount>item.StartedQty&&item.StartedQty<item.Quantity}">
                            <span class="text-warning" ng-if="item.TotalPlanCount>item.StartedQty&&item.StartedQty<item.Quantity">不齐套</span>
                            <span class="text-success" ng-if="item.TotalPlanCount<=item.StartedQty">齐套</span>
                        </td>
                        <td title="{{ item.WorkOrder }}">{{ item.WorkOrder }}</td>
                        <td title="{{ item.MaterialCode }}">{{ item.MaterialCode }}</td>
                        <td title="{{ item.MaterialName }}">{{ item.MaterialName }}</td>
                        <td title="{{ item.Spec }}">{{ item.Spec }}</td>
                        <td title="{{ item.Quantity }}">{{ item.Quantity }}</td>
                        <td title="{{ item.PlanCount }}">{{ item.PlanCount }}</td>
                        <td title="{{ item.U9CompleteQty }}">{{ item.U9CompleteQty }}</td>
                        <td title="{{ item.Rate }}">{{ item.Rate }}</td>
                    </tr>
                </table>
            </div>
            <div class= "col-md-12 text-center " ng-if= "pdrc.page.total>pdrc.page.size ">
                <div uib-pagination total-items= "pdrc.page.total " ng-model= "pdrc.page.index " items-per-page= "pdrc.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "pdrc.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
