<div class="w-full bg-black-opacity h-full" ng-init="vm.app.settings.asideFolded=true" ng-class="{'app-content-full': !wo.IsAss, 'content-full':wo.IsAss}">
    <div class="panel panel-default h-full w-100 bg-black-opacity">
        <div class="panel-body m-r-lg padder-xs padder-v-xxs" ng-repeat="SerItem in wo.SerItemList">

            <div class="col-md-12 line line-dashed b-b-4x b-b-dark" ng-if="$index>0"></div>

            <div class="wrapper-xs padder-xs text-center">
                <button class="btn btn-sm m-l-xs pull-left" ng-class="{'btn-success':!SerItem.IsRun, 'btn-danger':SerItem.IsRun}" ng-click="wo.Open($index)"><i class="glyphicon glyphicon-search"></i>查询</button>
                <button class="btn btn-sm pull-left btn-info m-l-xs" ng-click="wo.Offline()" ng-if="!wo.IsBefore && $index == 0"><i class="glyphicon glyphicon-fullscreen"></i></button>
                <div class="padder-xs" ng-if="SerItem.Now && SerItem.IsRun">
                    <div class="form-control-static padder-xs h3 font-bold text-white">
                        {{ SerItem.MainData.LineName }}&nbsp; &nbsp;&nbsp; &nbsp;   {{ SerItem.Now }} &nbsp;{{ SerItem.MainData.StartDate }}~{{ SerItem.MainData.EndDate }} 
                    </div>
                </div>
            </div>

            <div class="padder-xs wrapper-xs m-t-n-md" ng-if="SerItem.IsHave == 'Y'">
                <div class="form-group-xs col-md-12 padder-xs no-padder">
                    <div class="form-control-static padder-xxs col-md-3 h3 font-bold text-white">工单：{{ SerItem.MainData.WorkOrder }}</div>
                    <div class="form-control-static padder-xxs col-md-2 h3 font-bold text-white">料号：{{ SerItem.MainData.MateCode }}</div>
                    <div class="form-control-static padder-xxs h3 col-md-4 font-bold text-white">型号：{{ SerItem.MainData.MateName }}</div>
                    <div class="form-control-static padder-xxs h3 col-md-3 font-bold text-white">工单数：{{ SerItem.ProData.Quantity }}</div>
                </div>
                <div class="form form-horizontal">
                    <div class="form-group-xs col-md-12 padder-xs m-t-n-sm no-padder">
                        <div class="form-control-static padder-xxs col-md-3 h3 font-bold text-white">
                            累计开工：{{ SerItem.MainData.TotalStartQty }}
                        </div>
                        <div class="form-control-static padder-xxs col-md-2 h3 font-bold text-white">
                            累计完工：{{ SerItem.ProData.FinishSum }}
                        </div>
                        <div class="form-control-static padder-xxs col-md-4 h3 font-bold text-white">
                            日计划/当天完工：{{ SerItem.ProData.PlanCount }}/{{ SerItem.ProData.TodayFinishNum }}
                        </div>
                        <div class="form-control-static padder-xxs col-md-3 h3 font-bold text-white">
                            落产数：{{ SerItem.ProData.NoFinishSum }}
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12 padder-xs m-t-n-sm no-padder">
                        <div class="form-control-static padder-xxs col-md-3 h3 font-bold text-white">
                            直通率：<span ng-class="{'text-danger':SerItem.ProData.OKRateNo<98}">{{ SerItem.ProData.OKRate }}</span>
                        </div>
                        <div class="form-control-static padder-xxs col-md-2 h3 font-bold text-white">
                            计划完成：{{ SerItem.ProData.ArrRate }}
                        </div>
                        <div class="form-control-static padder-xxs col-md-4 h3 font-bold text-white">
                            累计不良/报废：{{ SerItem.ProData.BSNNgSum }}/{{ SerItem.ProData.DumpNum }}
                        </div>
                        <div class="form-control-static padder-xxs col-md-3 h3 font-bold text-white">
                            排产人数：{{ SerItem.MainData.PlanPerson }}
                        </div>
                    </div>
                </div>
                <table class="table-purple col-md-12 m-t-xs">
                    <thead>
                        <tr>
                            <th class="text-center" ng-repeat="col in SerItem.ListTitle">{{ col }}</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in SerItem.List" style="height:50px">
                        <td class="text-center bg-danger" ng-class="{'bg-danger-light': c.IsLow}" ng-repeat="c in item"><span>{{ c.Text }}</span></td>
                    </tr>
                </table>
            </div>
            <div class="padder-xs wrapper-md m-t-lg" ng-if="SerItem.IsHave == 'N'">
                <table class="table-purple col-md-12">
                    <tr style="height:100px;">
                        <td class="text-center" style="font-size:36px">没有生产数据</td>
                    </tr>
                </table>
            </div>
            <!--<pre>{{ SerItem.IsHave }}</pre>-->
        </div>
    </div>
</div>



