<div class="w-full bg-black-opacity h-full" ng-init="vm.app.settings.asideFolded=true" ng-class="{'app-content-full': !wo.IsAss, 'content-full':wo.IsAss}">
    <div class="panel panel-default h-full w-100 bg-black-opacity">
        <div class="panel-body m-r-lg">
            <div class="wrapper-xs padder-xs">
                <div class="col-md-6 no-padder">
                    <div class="col-md-3 padder-xs">
                        <ui-select ng-model="wo.Ser.WorkOrder" name="Order" theme="bootstrap" ng-disabled="wo.IsRun">
                            <ui-select-match placeholder="请选择工单">{{ $select.selected.WorkOrder }}</ui-select-match>
                            <ui-select-choices repeat="item.WorkOrder as item in wo.OrderList | filter: $select.search">
                                <div ng-bind-html="item.WorkOrder | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-2 padder-xs">
                            <input type="text" ng-disabled="wo.IsRun" date-picker class="form-control" placeholder="日期" ng-model="wo.Ser.Now" option="wo.DateOp" />
                    </div>
                    <div class="col-md-2 padder-xs">
                            <input type="text" ng-disabled="wo.IsRun" time-picker class="form-control" placeholder="开始" ng-model="wo.Ser.StartDate" option="wo.TimeOp" />
                    </div>
                    <div class="col-md-2 padder-xs">
                            <input type="text" ng-disabled="wo.IsRun" time-picker class="form-control" placeholder="结束" ng-model="wo.Ser.EndDate" option="wo.TimeOp" />
                    </div>
                    <button class="btn" ng-class="{'btn-success':!wo.IsRun, 'btn-danger':wo.IsRun}" ng-click="wo.Begin()"><i class="glyphicon glyphicon-search"></i>{{ wo.BtnText }}</button>

                    <button class="btn btn-info m-l-xs" ng-click="wo.Offline()" ng-if="!wo.IsBefore"><i class="glyphicon glyphicon-fullscreen"></i>全屏</button>
                </div>
                <div class="col-md-6 no-padder text-danger" ng-if="wo.IsHave == 'Y'">
                    <div class="form-group no-padder">
                        <div class="form-control-static padder-xs col-md-3 h3 font-x font-yellow-gold">
                            排产:{{ wo.ProData.PlanCount }}
                        </div>
                        <div class="form-control-static padder-xs col-md-4 h3 font-x font-yellow-gold">
                            达成率:{{ wo.ProData.ArrRate }}
                        </div>
                        <div class="form-control-static padder-xs col-md-3 h3 font-x font-yellow-gold">
                            SN产出:{{ wo.ProData.ProductCount }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="padder-xs wrapper-xs" ng-if="wo.IsHave == 'Y'">
                <!--<table class="table-purple-head col-md-12">
                    <thead>
                        <tr>
                            <th style="width:30px">工单: <span class="h3 text-danger">{{ wo.MainData.WorkOrder }}</span></th>
                            <th style="width:40px">料号:<span class="h3 text-danger">{{ wo.MainData.MateCode }}</span></th>
                            <th style="width:120px">料名:<span class="h4 text-danger">{{ wo.MainData.MateName }}</span></th>
                            <th style="width:140px">线别:<span class="h4 text-danger">{{ wo.MainData.LineName }}</span></th>
                            <th style="width:40px">SN产出:<span class="font-v3 h2">{{ wo.ProData.ProductCount }}</span></th>
                            <th style="width:40px">直通率:<span class="font-v3 h2">{{ wo.ProData.OKRate }}</span></th>
                        </tr>
                    </thead>
                </table>-->
                <div class="form-group no-padder">
                    <div class="form-control-static padder-xs col-md-2 h3 font-x font-yellow-gold">{{ wo.MainData.WorkOrder }}</div>
                    <div class="form-control-static padder-xs col-md-2 h3 font-x font-yellow-gold">{{ wo.MainData.MateCode }}</div>
                    <div class="form-control-static padder-xs h3 col-md-3 font-x font-yellow-gold">{{ wo.MainData.MateName }}</div>
                    <div class="form-control-static padder-md h3 col-md-3 font-x font-yellow-gold">{{ wo.MainData.LineName }}</div>
                    <div class="form-control-static padder-md col-md-2 h3 font-x font-yellow-gold">
                        直通率:{{ wo.ProData.OKRate }}
                    </div>
                </div>

                <br />
                <table class="table-purple col-md-12">
                    <thead>
                        <tr>
                            <th class="text-center" ng-repeat="col in wo.ListTitle">{{ col }}</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in wo.List" style="height:50px">
                        <td class="text-center bg-danger" ng-class="{'bg-danger-light': c.IsLow}" ng-repeat="c in item"><span>{{ c.Text }}</span></td>
                    </tr>
                </table>
            </div>
            <div class="padder-xs wrapper-md m-t-lg" ng-if="wo.IsHave == 'N'">
                <table class="table-purple col-md-12">
                    <tr style="height:100px;">
                        <td class="text-center" style="font-size:36px">没有生产数据</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>




