<div class="app-content-full" cg-busy="en.promise">
    <div class="hbox hbox-auto-xs hbox-auto-sm bg-light">
        <div class="col w-lg lt b-r">
            <div class="vbox">
                <div class="wrapper">
                    <div class="h4 text-center">计划数据实体</div>
                </div>
                <div class="wrapper b-t m-b-xxs">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" placeholder="查询" ng-model="en.EntityQuery">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" ng-click="en.isAddOpen = !en.isAddOpen" ng-disabled="en.isAddOpen">
                                    <i class="glyphicon glyphicon-plus text-success">新增</i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="padder">
                                <div uib-collapse="!en.isAddOpen">
                                    <div class="panel" ng-form="EntityForm">
                                        <div class="panel-body">
                                            <div class="form-horizontal">
                                                <div class="form-group" ng-class="{ 'has-error' : EntityForm.entityName.$invalid }">
                                                    <input placeholder="实体名" class="form-control text-xs warning" name="entityName" type="text" ng-model="en.SelectedEn.EntityName" required>
                                                </div>
                                                <div class="form-group" ng-class="{ 'has-error' : EntityForm.obConnect.$invalid }">
                                                    <connect-select ng-model="en.SelectedEn.ConnectName" ng-name="obConnect" my-required="true"></connect-select>
                                                </div>
                                                <div class="form-group" ng-class="{ 'has-error' : EntityForm.obConnect.$invalid }">
                                                    <object-select ob-type="'UV'" ob-connect="en.SelectedEn.ConnectName" ng-model="en.EnTable" ng-name="obTable" my-required="true"></object-select>
                                                </div>
                                                <div class="form-group">
                                                    <input ui-jq="TouchSpin" placeholder="往下展开层级" class="input-sm" type="text" ng-model="en.SelectedEn.Level" data-min='1' data-max="10">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer text-right">
                                            <a class="btn btn-sm btn-success m-2" ng-click="en.SaveEntity()" ng-disabled="EntityForm.$invalid"><i class="glyphicon glyphicon-save"></i>储存</a>
                                            <a class="btn btn-sm btn-warning m-2 m-l-md" ng-click="en.Cancel()">取消</a>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="!en.isAddOpen">
                                    <div class="list-group">
                                        <a ng-repeat="item in en.List | filter:en.EntityQuery " class="list-group-item b-l-3x hover-anchor cl" ng-class="{'hover': item.selected, ' b-l-info':$index%2==0, 'b-l-primary':$index%2==1}">
                                            <span ng-click='en.DeleteEn(item)' ng-confirm="{text:'确定要删除实体吗'}" class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                                            <span class="pull-left"><i class="glyphicon glyphicon-tree-conifer"></i></span><span class="block text-info text-lg" ng-bind-html="item.EntityName | highlight: en.EntityQuery" ng-click="en.SelectEn(item)"></span>
                                            <small class="text-muted" ng-click="en.SelectEn(item)">
                                                <span>{{ item.TableSchema }}.{{ item.TableName }}</span>
                                                <span class="pull-right">{{ item.Level }}</span>
                                            </small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col w-auto w-lg lt b-r">
            <div class="vbox">
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="padder">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="h3">实体详细属性信息</span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="pro in en.PropertyList">
                                            <div class="panel panel-info">
                                                <div class="panel-heading">{{ pro.ColumnName }}</div>
                                                <div class="list-group">
                                                    <div class="list-group-item">{{ pro.ColumnName }}</div>
                                                    <div class="list-group-item">{{ pro.RelationType }}</div>
                                                    <div class="list-group-item">
                                                        <div toggle-switch ng-model="pro.IsKey" class="switch-mini switch-small switch-danger" on-label="是" off-label="否"
                                                                on-value="1" off-value="0" on-change="Supplier.change(item)"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<tr ng-repeat="pro in en.PropertyList">
                                                <td>{{ pro.ColumnName }}</td>
                                                <td>{{ pro.ColumnType }}</td>
                                                <td>{{ pro.RelationType }}</td>
                                                <td>
                                                    <div toggle-switch ng-model="pro.IsKey" class="switch-mini switch-small switch-danger" on-label="是" off-label="否"
                                                         on-value="1" off-value="0" on-change="Supplier.change(item)"></div>
                                                </td>
                                                <td>{{ pro.OrderWay }}</td>
                                                <td>{{ pro.OrderNum }}</td>

                                            </tr>-->
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col w-lg lt b-r">
            <div class="vbox">
                <div class="wrapper b-t m-t-xxs">
                    <p class="text-black-50">{{  en.SelectedEn.TableSchema  + (en.SelectedEn.TableSchema?".":"") + en.SelectedEn.TableName }}栏位列表</p>
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="查询" ng-model="en.TbColunmName">
                        <span class="input-group-addon input-sm"><i class="fa fa-search"></i></span>
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="padder bg-white">
                                <div class="panel-body">
                                    <article class="media" ng-repeat="item in en.TbColunms | filter:en.TbColunmName ">
                                        <div class="pull-left">
                                            <label class="i-checks">
                                                <input type="checkbox" ng-checked="en.TbChecked(item)" ng-model="item.isCheck" ng-change="en.CheckChange(item)"><i></i>
                                            </label>
                                        </div>
                                        <div class="media-body form-group">
                                            <div class="list-group-item-sm col-lg-12">
                                                <span class="h-3 text-success">{{ item.ColumnName }}</span>
                                                <span class="pull-right" ng-if="item.IsKey == 1">
                                                    <i class="badge badge-success text-danger">Key</i>
                                                </span>
                                            </div>
                                            <div class="list-group-item-sm col-lg-12">
                                                <small class="block m-t-xs">{{ item.ColumnDes }}</small>
                                                <em class="text-xs"><span class="text-info">{{ item.DataType }}</span></em>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>