<div class="wrapper-md">
    <div class="row">
        <div class="col-lg-6">

            <accordion close-others="oneAtATime">
                <accordion-group heading="Accordion Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <p>
                        <button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
                        <button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
                    </p>
                </accordion-group>
                <accordion-group heading="Dynamic body content">

                    <p>The body of the accordion group grows to fit the contents</p>
                    <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
                    <div class="list-group m-t">
                        <div ng-repeat="item in items" class="list-group-item">{{item}}</div>
                    </div>
                </accordion-group>
                <accordion-group is-open="status.open" class="b-info">
                    <accordion-heading>
                        I can have markup, too! <i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
                    </accordion-heading>
                    This is just some content to illustrate fancy headings.
                </accordion-group>
            </accordion>
            </div>
</div>
</div>