<div class="wrapper-xs bg-light">
    <uib-tabset active="fun.Index" type="tabs">
        <uib-tab index="0">
            <uib-tab-heading class="h5">HTML文件代码</uib-tab-heading>
            <div class="panel">
                <textarea class="form-control" rows="22" ng-model="fun.NewItem.Content.Html"></textarea>
            </div>
        </uib-tab>
        <uib-tab index="1">
            <uib-tab-heading class="h5">Js文件代码</uib-tab-heading>
            <div class="panel">
                <textarea class="form-control" rows="22" ng-model="fun.NewItem.Content.Js"></textarea>
            </div>
        </uib-tab>
        <uib-tab index="2">
            <uib-tab-heading class="h5">功能设定</uib-tab-heading>
            <div class="panel panel-default no-padder col-md-12">
                <div class="panel-body padder-xs">
                    <div class="form-group-xs col-md-12">
                        <div class="col-md-4 no-padder">
                            <label class="col-md-4 padder-xs control-label text-info">功能名称：</label>
                            <div class="col-md-8 no-padder">
                                <input type="text" class="form-control" ng-model="fun.ThisFun.FunName" placeholder="功能名称" />
                            </div>
                        </div>
                        <div class="col-md-4 no-padder">
                            <label class="col-md-4 padder-xs control-label text-info">功能类型：</label>
                            <div class="col-md-8 no-padder">
                                <span class="btn-group">
                                    <label class="btn btn-sm btn-default" ng-model="fun.ThisFun.FunType" uib-btn-radio="'B'" ng-click="fun.ThisFun.DataType=='E'">功能</label>
                                    <label class="btn btn-sm btn-default" ng-model="fun.ThisFun.FunType" uib-btn-radio="'R'" ng-click="fun.ChangeFunType()">报表</label>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 no-padder">
                            <label class="col-md-4 padder-xs control-label text-info">数据类型：</label>
                            <div class="col-md-8 no-padder">
                                <span class="btn-group" ng-if="fun.ThisFun.FunType=='R'">
                                    <label class="btn btn-sm btn-default" ng-model="fun.ThisFun.DataType" uib-btn-radio="'E'" ng-click="fun.FunType()">实体</label>
                                    <label class="btn btn-sm btn-default" ng-model="fun.ThisFun.DataType" uib-btn-radio="'P'" ng-click="fun.FunType()">存储过程</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12">
                        <div class="col-md-4 no-padder">
                            <label class="col-md-4 padder-xs control-label text-info">查询实体：</label>
                            <div class="col-md-8 no-padder">
                                <div entity-select ng-model="fun.ThisFun.EntityName" auto-first="true" select-class="'text-xs'" ng-change="fun.ChangeEntity()"></div>
                            </div>
                        </div>
                        <div class="col-md-8 no-padder" ng-show="fun.ThisFun.DataType == 'P'">
                            <label class="col-md-2 padder-xs  control-label text-info">存储过程：</label>
                            <div class="col-md-8 no-padder">
                                <ui-select name="remark" ng-model="fun.ThisFun.ShortName" theme="bootstrap" search-enabled="true" ng-change="fun.ChangeProc()">
                                    <ui-select-match placeholder="选择存储过程.."><span>{{ $select.selected.ProcSchema }}.{{ $select.selected.ProcName }}</span></ui-select-match>
                                    <ui-select-choices repeat="item.ShortName as item in fun.ProcList | filter: $select.search track by item.ShortName">
                                        <div><span ng-bind-html="item.ProcSchema | highlight: $select.search"></span>.<span ng-bind-html="item.ProcName | highlight: $select.search"></span></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading text-center h4 font-bold">
                    条件栏位设定
                    <span class="pull-right" ng-if="!fun.ColForm.$invalid">
                        <a class="text-success" ng-click="fun.GenCode()">
                            <i class="fa fa-support"></i>生成代码
                        </a>
                    </span>
                </div>
                <div class="panel-body no-bar padder-xxs col-md-12">
                    <div class="form-horizontal b-b col-md-12 padder-xxs">
                        <div class="form-group-xs col-md-12 padder-xxs">
                            <div class="col-md-12 no-padder" ng-if="fun.ThisFun.DataType == 'E'" ng-form="fun.NewSerForm">
                                <div class="col-md-1 padder-xxs">
                                    <button class="btn btn-sm btn-success" ng-disabled="fun.NewSerForm.$invalid" ng-click="fun.AddSer()"><i class="glyphicon glyphicon-plus"></i>条件</button>
                                </div>
                                <div class="col-md-2 padder-xxs form-group-sm" ng-class="{ 'has-error' : fun.NewSerForm.ColumnName.$invalid }">
                                    <ui-select name="ColumnName" ng-model="fun.newSer.ColumnName" theme="bootstrap" search-enabled="true" ng-required="true">
                                        <ui-select-match placeholder="选择条件属性.."><span>{{ $select.selected.ColumnName }}</span></ui-select-match>
                                        <ui-select-choices repeat="item.ColumnName as item in fun.EnColList | filter : {ColumnType : '0'} | filter: $select.search track by item.ColumnName">
                                            <div><span ng-bind-html="item.ColumnName | highlight: $select.search"></span></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-md-2 padder-xxs form-group-sm" title="查询栏中文名" ng-class="{ 'has-error' : fun.NewSerForm.SerName.$invalid }">
                                    <input type="text" class="form-control" name="SerName" ng-model="fun.newSer.SerName" placeholder="查询栏位描述" required />
                                </div>
                                <div class="col-md-2 padder-xxs form-group-sm"  title="查询栏属性类型"  ng-class="{ 'has-error' : fun.NewSerForm.SerType.$invalid }">
                                    <!--<div config-select ng-model="fun.newSer.SerType" ng-name="SerType" config-option="fun.SerTypeConfig" ng-required="true"></div>-->
                                    <div config-select ng-model="fun.newSer.SerType" ng-name="SerType"  config-option="fun.ColTypeConfig" ng-required="true"></div>
                                    <div ng-if="fun.newSer.SerType=='Select'" class="m-t-xs" ng-class="{ 'has-error' : fun.ColForm.SerTValue.$invalid }">
                                        <ui-select name="SerTValue" ng-model="fun.newSer.SerTName" theme="bootstrap" search-enabled="true" ng-required="true">
                                            <ui-select-match placeholder="请选择.."><span>{{ $select.selected.SelectName }}</span></ui-select-match>
                                            <ui-select-choices repeat="item.SelectName as item in fun.SelectList | filter: $select.search track by item.SelectName">
                                                <div class="h5"><span ng-bind-html="item.SelectName | highlight: $select.search"></span></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div ng-if="fun.newSer.SerType=='Config'" class="m-t-xs" ng-class="{ 'has-error' : fun.ColForm.SerTableCofig.$invalid }">
                                        <div basic-select="TableCofig" ng-model="fun.newSer.SerTName" ng-name="STableCofig" ng-required="true"></div>
                                    </div>
                                </div>
                                <div class="col-md-2 padder-xxs form-group-sm" title="查询栏与值的关系"  ng-class="{ 'has-error' : fun.NewSerForm.SerType.$invalid }">
                                    <div config-select ng-model="fun.newSer.SerAss" ng-disabled="fun.ThisFun.DataType == 'P'" ng-name="SerAss" config-option="fun.SerAssConfig" ng-required="true"></div>
                                </div>
                                <div class="col-md-2 padder-xs form-group-sm" title="查询栏初始默认值" >
                                    <input type="text" class="form-control" name="SerValue" ng-model="fun.newSer.SerValue" placeholder="查询初始默认值" />
                                </div>
                                <div class="col-md-1 padder-xxs form-control-static" title="是否为隐藏条件">
                                    <label class="i-checks i-checks">
                                        <input type="checkbox" ng-model="fun.newSer.IsHide"><i></i>隐藏
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 no-padder" ng-repeat="ser in fun.ThisFun.SerList ">
                                <div class="col-md-1 padder-xxs">
                                    <button class="btn btn-sm btn-danger" ng-click="fun.DeleteSer($index)"><i class="glyphicon glyphicon-remove"></i>删除</button>
                                </div>
                                <div class="col-md-2 padder-xxs form-control-static h4 font-bold text-info">
                                    {{ ser.ColumnName }}
                                </div>
                                <div class="col-md-2 padder-xxs form-group-sm" ng-class="{ 'has-error' : fun.ColForm.SerNameL.$invalid }">
                                    <input type="text" class="form-control" name="SerNameL" ng-model="ser.SerName" placeholder="查询栏位描述" required />
                                </div>
                                <div class="col-md-2 padder-xxs form-group-sm" ng-class="{ 'has-error' : fun.ColForm.SerTypeS.$invalid }">
                                    <!--<div config-select ng-model="ser.SerType" ng-name="SerTypeL" config-option="fun.SerTypeConfig" ng-required="true"></div>-->

                                    <div config-select ng-model="ser.SerType" ng-name="SerTypeS" config-option="fun.ColTypeConfig" ng-required="true"></div>
                                    <div ng-if="ser.SerType=='Select'" class="m-t-xs" ng-class="{ 'has-error' : fun.ColForm.SerTValueS.$invalid }">
                                        <ui-select name="SerTValueS" ng-model="ser.SerTName" theme="bootstrap" search-enabled="true" ng-required="true">
                                            <ui-select-match placeholder="请选择.."><span>{{ $select.selected.SelectName }}</span></ui-select-match>
                                            <ui-select-choices repeat="item.SelectName as item in fun.SelectList | filter: $select.search track by item.SelectName">
                                                <div class="h5"><span ng-bind-html="item.SelectName | highlight: $select.search"></span></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div ng-if="ser.SerType=='Config'" class="m-t-xs" ng-class="{ 'has-error' : fun.ColForm.STableCofigL.$invalid }">
                                        <div basic-select="TableCofig" ng-model="ser.SerTName" ng-name="STableCofigL" ng-required="true"></div>
                                    </div>

                                </div>
                                <div class="col-md-2 padder-xxs form-group-sm" ng-class="{ 'has-error' : fun.ColForm.SerAssL.$invalid }">
                                    <div config-select ng-model="ser.SerAss" ng-disabled="fun.ThisFun.DataType == 'P'" ng-name="SerAssL" config-option="fun.SerAssConfig" ng-required="true"></div>
                                </div>
                                <div class="col-md-2 padder-xs form-group-sm">
                                    <input type="text" class="form-control" ng-model="ser.SerValue" placeholder="查询默认值" />
                                </div>
                                <div class="col-md-1 padder-xxs form-control-static">
                                    <label class="i-checks i-checks">
                                        <input type="checkbox" ng-model="ser.IsHide"><i></i>隐藏
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-xs col-md-12 padder-xs">
                        <div class="col-md-2 text-xs no-padder scroll-y" style="max-height:400px">
                            <table class="table pad-xs col-md-12 one-line">
                                <thead>
                                    <tr>
                                        <td class="col-md-3 pad-xss" style="text-align:left">
                                            <label class="i-checks i-checks-sm">
                                                <input type="checkbox" ng-change="fun.IsColAll()" ng-model="fun.IsAll"><i></i>
                                            </label>
                                        </td>
                                        <td class="col-md-9">栏名</td>
                                    </tr>
                                </thead>
                                <tr class="text-left" ng-repeat="col in fun.EnColList">
                                    <!--<td>{{ col.ColumnText }}</td>-->
                                    <td class="text-left">
                                        <label class="i-checks i-checks-sm">
                                            <input type="checkbox" ng-change="fun.IsColChange(col)" ng-model="col.IsShow"><i></i>
                                        </label>
                                    </td>
                                    <td title="{{ col.ColumnName }}" ng-class="{'bg-warning':col.ColumnType == '3'}">{{ col.ColumnName }}</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-10 wrapper-xs no-padder scroll-y" ng-form="fun.ColForm" style="max-height:400px">
                            <table class="table pad-xs no-padder">
                                <thead>
                                    <tr>
                                        <td style="width:30px"></td>
                                        <td style="width:80px">栏名</td>
                                        <td style="width:110px">中文名</td>
                                        <td style="width:50px">宽度</td>
                                        <td style="width:80px" ng-if="fun.ThisFun.FunType=='B'">编辑栏</td>
                                        <td style="width:80px" ng-if="fun.ThisFun.FunType=='B'">类型</td>
                                        <td style="width:80px" ng-if="fun.ThisFun.FunType=='B'">属性</td>
                                        <td style="width:50px" ng-if="fun.ThisFun.FunType=='B'">验重</td>
                                        <td style="width:30px"></td>
                                    </tr>
                                </thead>
                                <tr class="text-left h6" ng-repeat="show in fun.ThisFun.ColList" ng-drop="true" ng-drop-success="fun.Drop($data,$index)">
                                    <td class="text-center h4">
                                        <i class="glyphicon glyphicon-move text-info" ng-drag="true"
                                           ng-drag-data="show" ng-drag-success="fun.Drag($data,$index)"></i>
                                    </td>
                                    <td class="one-line" ng-class="{'bg-warning':show.ColumnType == '3'}" title="{{ show.ColumnName }}">
                                        <div style="width:80px" class="width-fix">{{ show.ColumnName }}</div>
                                    </td>
                                    <td class="multi-line"><input type="text" name="ColumnText" class="form-control padder-xxs" placeholder="中文栏名" ng-model="show.ColumnText" /></td>
                                    <td class="multi-line"><input type="text" name="Width" class="form-control padder-xxs" placeholder="宽度" ng-model="show.Width" /></td>
                                    <td class="text-center multi-line" ng-if="fun.ThisFun.FunType=='B'">
                                        <div ng-class="{ 'has-error' : fun.ColForm.editCol.$invalid }">
                                            <ui-select name="editCol" ng-model="show.EditCol" class="padder-xxs" search-enabled="true" ng-required="true">
                                                <ui-select-match class="padder-xxs" placeholder="请选择.."><span>{{ $select.selected.ColumnName }}</span></ui-select-match>
                                                <ui-select-choices repeat="item.ColumnName as item in fun.EnColList | filter: $select.search track by item.ColumnName">
                                                    <div><span ng-bind-html="item.ColumnName | highlight: $select.search"></span></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </td>
                                    <td class="text-center multi-line" ng-if="fun.ThisFun.FunType=='B'">
                                        <div config-select ng-model="show.ColType" ng-name="ColType" config-option="fun.ColTypeConfig" ng-required="true"></div>
                                        <div ng-if="show.ColType=='Select'" class="m-t-xs" ng-class="{ 'has-error' : fun.ColForm.ColValue.$invalid }">
                                            <ui-select name="ColValue" ng-model="show.ColValue" theme="bootstrap" search-enabled="true" ng-required="true">
                                                <ui-select-match placeholder="请选择.."><span>{{ $select.selected.SelectName }}</span></ui-select-match>
                                                <ui-select-choices repeat="item.SelectName as item in fun.SelectList | filter: $select.search track by item.SelectName">
                                                    <div class="h5"><span ng-bind-html="item.SelectName | highlight: $select.search"></span></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                        <div ng-if="show.ColType=='Config'" class="m-t-xs" ng-class="{ 'has-error' : fun.ColForm.TableCofig.$invalid }">
                                            <div basic-select="TableCofig" ng-model="show.ColValue" ng-name="TableCofig" ng-required="true"></div>
                                        </div>
                                    </td>
                                    <td class="text-center multi-line" ng-if="fun.ThisFun.FunType=='B'">
                                        <div config-select ng-model="show.ABleNull" ng-name="ColType" config-option="fun.AbleNullConfig" ng-required="true"></div>
                                    </td>
                                    <td class="text-center multi-line" ng-if="fun.ThisFun.FunType=='B'">
                                        <label class="i-checks i-checks-sm">
                                            <input type="checkbox" ng-model="show.CheckExists" ng-disabled="show.ColumnType == '3'|| show.TableAs != 'a' || show.ColType!='Text'"><i></i>
                                        </label>
                                    </td>
                                    <td class="text-center h4">
                                        <a class="text-danger" ng-click="fun.DeleteFunCol(show, $index)"><i class="glyphicon glyphicon-remove"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--<pre>{{ fun.ThisFun |json }}</pre>-->
            </div>
        </uib-tab>
    </uib-tabset>
</div>
<div class="bg-light padder-v text-center">
    <button class="btn btn-success" ng-disabled="fun.ColForm.$invalid" type="button" ng-click="fun.Ok()">确定</button>
    <button class="btn btn-primary" type="button" ng-click="fun.cancel()">关闭</button>
</div>

