<div ng-controller="FunctionCtrl as fun">
    <div class="bg-light lter b-b wrapper-md" cg-busy="fun.promise">
        <h3 class="m-n font-thin h3">系统功能信息</h3>
    </div>
    <div class="wrapper-md">
        <div style="padding-bottom:5px">
            <button class="btn btn-sm btn-success" ng-click="fun.Insert()"><i class="glyphicon glyphicon-plus"></i> 新增</button>
        </div>
        <table class="table table-striped">
            <tr>
                <td class="col-md-1">编辑</td>
                <td class="col-md-1">编号</td>
                <td class="col-md-2">系统名称</td>
                <td class="col-md-2">备注</td>
                <td class="col-md-2">所属功能</td>
                <td class="col-md-1">创建人</td>
            </tr>
            <tr ng-repeat="item in fun.List">
                <td>
                    <button class="btn btn-xs btn-primary" ng-click="fun.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-xs btn-danger" ng-confirm="{text:'确定要删除吗'}" ng-click="fun.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
                <td>{{ item.FunNo }}</td>
                <td>{{ item.ParFunNo }}</td>
                <td>{{ item.FunName }}</td>
                <td>{{ item.FunPath }}</td>
                <td>{{ item.FunHtml }}</td>
                <td>{{ item.FunType }}</td>
                <td>{{ item.SysNo }}</td>
                <td>{{ item.FunDesc }}</td>
                <td>{{ item.CreateBy }}</td>
            </tr>
        </table>
        <!--<div class="col-md-12 text-center">
            <uib-pagination total-items="fun.page.total" ng-model="fun.page.index" items-per-page="fun.page.size" max-size="4" class="pagination-sm" boundary-links="true"></uib-pagination>
        </div>-->
        <!--<pre>{{ fun.List | json }}</pre>-->
    </div>
</div>
