<div class="bg-light lter b-b wrapper-md" cg-busy="job.promise">
    <div class="col-md-3 text-center">
        <span class="m-n font-thin h3">任务作业管理</span>
        <button class="btn btn-sm btn-success pull-left" ng-click="job.Insert()" ui-toggle-class="active" target=".insert-job"><i class="glyphicon glyphicon-plus"></i>任务</button>
    </div>
    <div class="form-inline">
        <div class="form-group">
            <input autocomplete="off"  type="text" class="form-control" ng-model="job.Ser.JobName" placeholder="任务名称">
        </div>
        <button class="btn btn-sm btn-info" ng-click="job.Search()"><i class="glyphicon glyphicon-search"></i>查询</button>

    </div>
</div>
<div class="wrapper-md">
    <div class="col-md-4 padder-xs" ng-repeat="item in job.List">
        <div class="panel" ng-class="{'panel-success': item.IsStart, 'panel-danger': !item.IsStart}">
            <div class="panel-heading text-center padder-xs">
                <a class="h4 pull-left thumb-xs text-success" ng-click="job.JobEdit(item)" title="编辑产品"><i class="glyphicon glyphicon-edit"></i></a>
                <a class="h4">{{ item.JobName }}</a>
                <a class="h4 pull-right thumb-xs text-danger" ng-confirm="{text:'确定要删除任务吗'}" ng-click="job.JobDelete(item)" title="删除计划"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            <div class="panel-body">
                <article class="media">
                    <small class="media-left pull-left">上次执行:</small>
                    <small class="media-right pull-right m-t-n-xs" title="查看执行日志"><a class="h4 text-info" ng-click="job.SerLog(item)"><i class="glyphicon glyphicon-search"></i></a></small>
                    <div class="media-body">
                        <small class="block" ng-if="item.LastRunTime">
                            {{ item.LastRunTime | date:'yyyy-MM-dd HH:mm:ss' }}(<span class="font-v2" ng-if="item.IsOkRun">成功</span>
                            <span class="font-v4" ng-if="!item.IsOkRun">失败</span>)
                        </small>
                    </div>
                </article>

                <article class="media">
                    <small class="media-left pull-left">下次执行:</small>
                    <small class="media-right pull-right m-t-n-xs" title="立即执行一次"><a class="h4 text-success" ng-click="job.RunJob(item.JobName)"><i class="icon icon-control-play"></i></a></small>
                    <div class="media-body">
                        <small class="h4 text-info font-bold block">{{ item.NextTime | date:'yyyy-MM-dd HH:mm:ss' }} &nbsp;</small>
                        <span></span>
                    </div>
                </article>
                <article class="media scroll-y" style="height:40px">
                    <small class="media-left pull-left">任务说明:</small>
                    <div class="media-body">
                        <small class="block" replace-enter="item.JobDesc"></small>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="col-md-12 text-center" ng-if="job.page.total>job.page.size">
        <div uib-pagination total-items="job.page.total" ng-model="job.page.index" items-per-page="job.page.size" max-size="10" first-text="第一页" previous-text="上一页"
             ng-change="job.PageChange()" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="true"></div>
    </div>
    <!--<pre>{{ job.List | json }}</pre>-->
</div>
<div class="insert-job lg d-r bg-light dk">
    <div class="blur-close" ui-remove-class="active" target=".insert-job"></div>
    <div class="b-b wrapper text-center">
        <button class="btn btn-success pull-left" type="button" ng-disabled="job.JobForm.$invalid" ng-click="job.JobSave()">储存</button>
        <!--<button class="btn btn-warning m-l-md" type="button" ui-remove-class="active" target=".insert-job">取消</button>-->
        <a class="text-danger pull-right" ui-remove-class="active" target=".insert-job"><i class="glyphicon glyphicon-remove"></i></a>
        <span class="m-n font-thin h3" ng-if="!job.isEdit">计划新增</span>
        <span class="m-n font-thin h3" ng-if="job.isEdit"> 计划[ <strong>{{ job.Item.JobName }}</strong> ]编辑</span>
    </div>
    <div class="padder-xs scroll-y bar-xs" ng-form="job.JobForm">
        <div class="panel panel-info" style="max-height:650px; min-height:500px">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group-xs pull-in clearfix">
                        <div class="col-sm-6 no-padder">
                            <label class="control-label col-md-3 padder-xs">计划名</label>
                            <div class="col-md-9 padder-xs" ng-class="{ 'has-error' : job.JobForm.JobName.$invalid }">
                                <input autocomplete="off"  type="text" class="form-control" name="JobName" placeholder="计划名" ng-model="job.Item.JobName" ng-disabled="job.isEdit || job.isCopy" ng-blur="job.isJobExists()" required>
                                <div ng-messages="job.JobForm.JobName.$error" class="help-block" role="alert">
                                    <div ng-message="unique">任务名已经存在</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 no-padder">
                            <label class="control-label col-md-3 padder-xs">计划类型</label>
                            <div class="col-md-9 padder-xs" ng-class="{ 'has-error' : job.JobForm.JobType.$invalid }">
                                <div config-select ng-name="JobType" ng-model="job.Item.JobType" auto-first="true" placeholder="请选择执行类型" select-class="text-xs" config-option="job.JobType" ng-required="true"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-xs pull-in clearfix">
                        <div class="col-sm-6 no-padder" ng-if="job.Item.JobType=='O'">
                            <label class="control-label col-md-3 padder-xs">执行一次</label>
                            <div class="col-md-9 padder-xs" ng-class="{ 'has-error' : job.JobForm.NextRunTime.$invalid }">
                                <div class="input-group">
                                    <input autocomplete="off"  type="text" date-time-picker class="form-control" name="NextRunTime" placeholder="选择执行时间" ng-model="job.Item.NextRunTime" option="job.NextOption" required>
                                    <span class="input-group-addon"><a class="text-success"><i class="glyphicon glyphicon-calendar"></i></a></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 no-padder" ng-if="job.Item.JobType=='R'">
                            <label class="control-label col-md-3 padder-xs">执行方式</label>
                            <div class="col-md-9 padder-xs" ng-class="{ 'has-error' : job.JobForm.RepeatType.$invalid }">
                                <div config-select ng-model="job.Item.RepeatType" auto-first="true" placeholder="请选择执行方式" select-class="text-xs" config-option="job.RepeatType" ng-required="true"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 no-padder">
                            <label class="control-label col-md-3 padder-xs">使用情况</label>
                            <div class="col-md-9 padder-xs">
                                <span toggle-switch class="switch-success pull-down" ng-model="job.Item.IsStart" on-label="启用" off-label="停止"></span>
                            </div>
                        </div>
                    </div>
                    <div class="line-dashed b-b"></div>
                </div>
                <div class="form-horizontal m-t-sm" ng-if="job.Item.JobType=='R'">
                    <div class="form-group-xs pull-in clearfix">
                        <div class="col-sm-6 no-padder">
                            <label class="control-label col-md-3 padder-xs">执行间隔</label>
                            <div class="col-md-9 padder-xs" ng-class="{ 'has-error' : job.JobForm.Interval.$invalid }">
                                <div class="input-group">
                                    <span class="input-group-addon">每</span>
                                    <input autocomplete="off"  type="number" name="Interval" min="1" max="100" class="form-control" ng-model="job.Item.Interval" required />
                                    <span class="input-group-addon" ng-if="job.Item.RepeatType=='D'">天</span>
                                    <span class="input-group-addon" ng-if="job.Item.RepeatType=='W'">周</span>
                                    <span class="input-group-addon" ng-if="job.Item.RepeatType=='M'">月</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 no-padder" ng-if="job.Item.RepeatType =='W'">
                            <label class="control-label col-md-3 padder-xs">在</label>
                            <div class="col-md-9 padder-xs" ng-class="{ 'has-error' : job.JobForm.IntervalWeek.$invalid }">
                                <div config-select-multi ng-name="IntervalWeek" ng-model="job.Item.IntervalWeekList" auto-first="true" placeholder="请选择执行日" select-class="text-xs" config-option="job.Week" ng-required="true"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 no-padder" ng-if="job.Item.RepeatType =='M'">
                            <label class="control-label col-md-3 padder-xs">在第</label>
                            <div class="col-md-9 padder-xs" ng-class="{ 'has-error' : job.JobForm.IntervalMonth.$invalid }">
                                <div class="input-group">
                                    <input autocomplete="off"  type="number" name="IntervalMonth" min="1" max="31" class="form-control" ng-model="job.Item.IntervalMonth" required />
                                    <span class="input-group-addon">天</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line-dashed b-b"></div>
                    <div class="form-group-xs pull-in clearfix m-t-sm">
                        <div class="col-sm-6 no-padder">
                            <label class="control-label col-md-3 padder-xs">一天频率</label>
                            <div class="col-md-9 padder-xs" ng-class="{ 'has-error' : job.JobForm.DayType.$invalid }">
                                <div config-select ng-name="DayType" ng-model="job.Item.DayType" auto-first="true" placeholder="请选择执行类型" select-class="text-xs" config-option="job.JobType" ng-required="true"></div>
                            </div>
                        </div>
                        <div class="col-sm-6 no-padder" ng-if="job.Item.DayType=='O'">
                            <label class="control-label col-md-3 padder-xs">执行时间</label>
                            <div class="col-md-9 padder-xs">
                                <input autocomplete="off"  type="text" date-time-picker class="form-control" placeholder="执行时间" ng-model="job.Item.DayOneTime" option="job.TimeOption" />
                            </div>
                        </div>
                        <div class="col-sm-6 no-padder" ng-if="job.Item.DayType=='R'">
                            <label class="control-label col-md-3 padder-xs">每</label>
                            <div class="col-md-9 padder-xs">
                                <div class="col-md-6 no-padder" ng-class="{ 'has-error' : job.JobForm.DayInterval.$invalid }">
                                    <input autocomplete="off"  type="number" name="DayInterval" min="1" max="100" class="form-control" ng-model="job.Item.DayInterval" required />
                                </div>
                                <div class="col-md-6" ng-class="{ 'has-error' : job.JobForm.DayFreUnit.$invalid }">
                                    <div config-select ng-name="DayFreUnit" ng-model="job.Item.DayFreUnit" auto-first="true" placeholder="请选择执行类型" select-class="text-xs" config-option="job.Unit" ng-required="true"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group-xs pull-in clearfix">
                        <div class="col-sm-6 no-padder">
                            <label class="control-label col-md-3 padder-xs">开始时间</label>
                            <div class="col-md-9 padder-xs" ng-class="{ 'has-error' : job.JobForm.StartDate.$invalid }">
                                <input autocomplete="off"  type="text" name="StartDate" date-time-picker class="form-control" placeholder="开始时间" ng-model="job.Item.StartDate" option="job.StartOption" required />
                            </div>
                        </div>
                        <div class="col-sm-6 no-padder">
                            <label class="control-label col-md-3  padder-xs">结束时间</label>
                            <div class="col-md-9  padder-xs">
                                <div class="input-group">
                                    <span class="input-group-addon" title="是否无结束日期">
                                        <input autocomplete="off"  type="checkbox" ng-model="job.Item.NoEndDate">
                                    </span>
                                    <input autocomplete="off"  type="text" ng-disabled="job.Item.NoEndDate" name="EndDate" date-time-picker class="form-control" placeholder="结束时间" ng-model="job.Item.EndDate" option="job.StartOption" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="line-dashed b-b"></div>
                </div>
                <div class="form-horizontal wrapper-xs">
                    <div class="form-group-xs m-b-xs pull-in clearfix">
                        <label class="control-label m-l-n-lg padder-xs col-md-2">方法类型</label>
                        <div class="col-md-10 padder-xs" ng-class="{ 'has-error' : job.JobForm.MethodType.$invalid }" title="方法类型">
                            <div config-select ng-name="MethodType" ng-model="job.Item.MethodType" auto-first="true" placeholder="请选择执行类型" select-class="text-xs" tb="Sys_JobSet" col="MethodType" ng-required="true"></div>
                        </div>
                    </div>
                    <!--执行自定义后端方法时-->
                    <div class="form-group-xs pull-in clearfix" ng-if="job.Item.MethodType=='Custom'">
                        <div class="col-sm-12 no-padder">
                            <label class="control-label m-l-n-lg padder-xs col-md-2">DLL文件名称</label>
                            <div class="col-md-10 padder-xs" ng-class="{ 'has-error' : job.JobForm.JobExecMethod.$invalid }" title="DLL文件名称">
                                <input autocomplete="off"  type="text" class="form-control" name="JobExecMethod" placeholder="DLL文件名称" ng-model="job.Item.JobExecMethod" required>
                            </div>
                        </div>
                        <div class="col-sm-12 no-padder m-t-xs">
                            <label class="control-label m-l-n-lg padder-xs col-md-2">域名空间.类名</label>
                            <div class="col-md-10 padder-xs" ng-class="{ 'has-error' : job.JobForm.ToPlanNameMail.$invalid }" title="域名空间.类名">
                                <input autocomplete="off" type="text" class="form-control" name="ToPlanNameMail" placeholder="域名空间.类名" ng-model="job.Item.ToPlanName" required>
                            </div>
                        </div>
                        <div class="col-sm-12 no-padder m-t-xs">
                            <label class="control-label m-l-n-lg padder-xs col-md-2">方法名</label>
                            <div class="col-md-10 padder-xs" ng-class="{ 'has-error' : job.JobForm.ToPlanShortMail.$invalid }" title="方法名">
                                <input autocomplete="off" type="text" class="form-control" name="ToPlanShortMail" placeholder="方法名" ng-model="job.Item.ToPlanShort" required>
                            </div>
                        </div>
                        <div class="col-sm-12 no-padder m-t-xs">
                            <label class="control-label m-l-n-lg padder-xs col-md-2">方法参数</label>
                            <div class="col-md-10 padder-xs" title="方法参数">
                                <textarea class="form-control" rows="2" ng-model="job.Item.JobParameter" placeholder="输入方法参数, Json 格式 如:{A:1,B:2}"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--执行EXE程序时-->
                    <div class="form-group-xs pull-in clearfix" ng-if="job.Item.MethodType=='ExeFile'">
                        <div class="col-sm-12 no-padder">
                            <label class="control-label m-l-n-lg padder-xs col-md-2">Exe程序地址</label>
                            <div class="col-md-10 padder-xs" ng-class="{ 'has-error' : job.JobForm.ExecPath.$invalid }" title="Exe程序地址">
                                <input autocomplete="off" type="text" class="form-control" name="ExecPath" placeholder="Exe程序地址" ng-model="job.Item.EnProShortName" required>
                            </div>
                        </div>
                        <div class="col-sm-12 no-padder m-t-xs">
                            <label class="control-label m-l-n-lg padder-xs col-md-2">程序参数</label>
                            <div class="col-md-10 padder-xs" title="程序参数">
                                <textarea class="form-control" rows="2" ng-model="job.Item.JobParameter" placeholder="输入Exe参数, 以空格分开参数 如 A B C"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--执行实体计划时-->
                    <div class="form-group-xs pull-in clearfix" ng-if="job.Item.MethodType.indexOf('SrcExePlan') != -1">
                        <div class="col-sm-6 no-padder">
                            <label class="control-label col-md-3 padder-xs">{{ job.Item.MethodType.indexOf('To') == -1?"实体简称":"来源实体" }}</label>
                            <div class="col-md-9 padder-xs">
                                <div ng-class="{ 'has-error' : job.JobForm.JobExecMethod.$invalid }" title="实体计划名">
                                    <ui-select name="JobExecMethod" ng-model="job.Item.JobExecMethod" ng-change="job.EnChange()" theme="bootstrap" search-enabled="true" ng-required="true">
                                        <ui-select-match placeholder="实体.."><span class="font-v3">{{ $select.selected.EntityName }}</span></ui-select-match>
                                        <ui-select-choices repeat="item.EntityName as item in job.EnList | filter: $select.search track by item.EntityName">
                                            <div>
                                                <span class="h6 text-muted pull-right" ng-bind-html="item.ConnectName | highlight: $select.search"></span>
                                                <span class="font-v3" ng-bind-html="item.EntityName | highlight: $select.search"></span>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="m-t-xs" ng-class="{ 'has-error' : job.JobForm.EnProShortName.$invalid }" title="存储过程">
                                    <ui-select name="EnProShortName" ng-model="job.Item.EnProShortName" ng-change="line.ChangeMo()" theme="bootstrap" search-enabled="true" ng-required="true">
                                        <ui-select-match placeholder="存储过程.."><span class="font-v3">{{ $select.selected.ProcSchema }}{{ $select.selected.ProcSchema?".":"" }}{{ $select.selected.ProcName }}</span></ui-select-match>
                                        <ui-select-choices repeat="item.ShortName as item in job.ShortList | limitTo:200 | filter: $select.search track by item.ShortName">
                                            <div><span class="font-v3" ng-bind-html="item.ProcSchema | highlight: $select.search"></span>.<span class="font-v3" ng-bind-html="item.ProcName | highlight: $select.search"></span></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 no-padder">
                            <label class="control-label col-md-3  padder-xs">参数</label>
                            <div class="col-md-9 padder-xs">
                                <textarea class="form-control" rows="2" ng-model="job.Item.JobParameter" placeholder="输入方法参数, Json 格式 如:{A:1,B:2}"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--查询实体计划时-->
                    <div class="form-group-xs pull-in clearfix padder-xxs" ng-if="job.Item.MethodType.indexOf('SrcSerPlan') != -1">
                        <div class="col-sm-12 no-padder">
                            <label class="control-label m-l-n-lg padder-xs col-md-2">来源实体</label>
                            <div class="col-md-10 padder-xs" ng-class="{ 'has-error' : job.JobForm.JobExecMethod.$invalid }" title="实体计划名称">
                                <ui-select name="JobExecMethod" ng-model="job.Item.JobExecMethod" ng-change="job.EnChange()" theme="bootstrap" search-enabled="true" ng-required="true">
                                    <ui-select-match placeholder="实体.."><span class="font-v3">{{ $select.selected.EntityName }}</span></ui-select-match>
                                    <ui-select-choices repeat="item.EntityName as item in job.EnList | filter: $select.search track by item.EntityName">
                                        <div>
                                            <span class="h6 text-muted pull-right" ng-bind-html="item.ConnectName | highlight: $select.search"></span>
                                            <span class="font-v3" ng-bind-html="item.EntityName | highlight: $select.search"></span>
                                        </div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-sm-12 no-padder m-t-xs">
                            <label class="control-label m-l-n-lg padder-xs col-md-2">参数</label>
                            <div class="col-md-10 padder-xs" title="方法参数">
                                <textarea class="form-control" rows="2" ng-model="job.Item.JobParameter" placeholder="输入方法参数, Json 格式 如:[{name:'ColName',value:2}]"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--执行SQL脚本时-->
                    <div class="form-group pull-in clearfix padder-xxs" ng-if="job.Item.MethodType.indexOf('SrcExeSql') != -1">
                        <div class="col-sm-12 no-padder">
                            <label class="control-label m-l-n-lg padder-xs col-md-2">{{ job.Item.MethodType.indexOf('To') == -1?"链接对象":"来源链接" }}</label>
                            <div class="col-md-10 padder-xs" ng-class="{ 'has-error' : job.JobForm.JobExecMethod.$invalid }" title="链接对象">
                                <div connect-select ng-model="job.Item.JobExecMethod" ng-name="JobExecMethod"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 no-padder m-t-xs">
                            <label class="control-label m-l-n-lg padder-xs col-md-2">{{ job.Item.MethodType.indexOf('To') == -1?"SQL脚本":"来源SQL" }}</label>
                            <div class="col-md-10 padder-xs" ng-class="{ 'has-error' : job.JobForm.EnProShortName.$invalid }" title="SQL脚本">
                                <textarea class="form-control" name="EnProShortName" rows="4" ng-model="job.Item.EnProShortName" placeholder="输入要执行的sql脚本" required></textarea>
                                <span class="h6 text-danger">注：链接对象为Oracle数据库时，以英文分号[ ; ]分割来源SQL，并依次执行</span>
                            </div>
                        </div>
                    </div>
                    <div class="line-dashed col-sm-12 no-padder m-t-xs" ng-if="job.Item.MethodType.indexOf('To')!= -1"><div class="line-dashed b-b col-md-11 col-md-offset-1"></div></div>
                    <!--执行目标实体计划时-->
                    <div class="form-group-xs pull-in clearfix padder-xxs" ng-if="job.Item.MethodType.indexOf('ToPlanExe') != -1">
                        <div class="col-sm-6 no-padder m-t-xs">
                            <label class="control-label col-md-3 padder-xs">数据目标</label>
                            <div class="col-md-9 padder-xs">
                                <div class="m-t-xs" ng-class="{ 'has-error' : job.JobForm.ToDataPlan.$invalid }" title="实体计划名">
                                    <ui-select name="ToDataPlan" ng-model="job.Item.ToPlanName" ng-change="job.ToEnChange()" theme="bootstrap" search-enabled="true" ng-required="true">
                                        <ui-select-match placeholder="实体.."><span class="font-v3">{{ $select.selected.EntityName }}</span></ui-select-match>
                                        <ui-select-choices repeat="item.EntityName as item in job.ToEnList |filter:{}| filter: $select.search track by item.EntityName">
                                            <div>
                                                <span class="h6 text-muted pull-right" ng-bind-html="item.ConnectName | highlight: $select.search"></span>
                                                <span class="font-v3" ng-bind-html="item.EntityName | highlight: $select.search"></span>
                                            </div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="m-t-xs" ng-class="{ 'has-error' : job.JobForm.ToDataPlanShort.$invalid }" title="存储过程简称">
                                    <ui-select name="ToDataPlanShort" ng-model="job.Item.ToPlanShort" ng-change="line.ChangeMo()" theme="bootstrap" search-enabled="true" ng-required="true">
                                        <ui-select-match placeholder="存储过程.."><span class="font-v3">{{ $select.selected.ProcSchema }}{{ $select.selected.ProcSchema?".":"" }}{{ $select.selected.ProcName }}</span></ui-select-match>
                                        <ui-select-choices repeat="item.ShortName as item in job.ToShortList | filter: $select.search track by item.ShortName">
                                            <div><span class="font-v3" ng-bind-html="item.ProcSchema | highlight: $select.search"></span>.<span class="font-v3" ng-bind-html="item.ProcName | highlight: $select.search"></span></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 no-padder m-t-xs">
                            <label class="control-label col-md-3 padder-xs">参数</label>
                            <div class="col-md-9 padder-xs">
                                <textarea class="form-control" rows="3" ng-model="job.Item.ToJobParameter" placeholder="输入方法参数, Json 格式 如:{A:1,B:2}"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--执行目标SQL脚本时-->
                    <div class="form-group pull-in clearfix padder-xxs" ng-if="job.Item.MethodType.indexOf('ToSqlExe') != -1">
                        <div class="col-sm-12 no-padder">
                            <label class="control-label m-l-n-lg padder-xs col-md-2">目标链接</label>
                            <div class="col-md-10 padder-xs" ng-class="{ 'has-error' : job.JobForm.ToPlanName.$invalid }" title="链接对象">
                                <div connect-select ng-model="job.Item.ToPlanName" ng-name="ToPlanName"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 no-padder m-t-xs">
                            <label class="control-label m-l-n-lg padder-xs col-md-2">目标SQL</label>
                            <div class="col-md-10 padder-xs" ng-class="{ 'has-error' : job.JobForm.ToPlanShort.$invalid }" title="SQL脚本">
                                <textarea class="form-control" name="ToPlanShort" rows="4" ng-model="job.Item.ToPlanShort" placeholder="输入要执行的sql脚本" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<pre> {{ job.Item.MethodType }} {{ job.Item.MethodType.indexOf('SrcExePlan') }}</pre>-->
            </div>
        </div>
    </div>
</div>


<div class="ser-job-log lg d-r bg-light dk">
    <div class="blur-close" ui-remove-class="active" target=".ser-job-log"></div>
    <div class="b-b wrapper-sm text-center">
        <a class="text-danger pull-left" ui-remove-class="active" target=".ser-job-log"><i class="glyphicon glyphicon-remove"></i></a>
        <span class="m-n font-thin h3">[{{ job.SerItem.JobName }}]运行日志</span>
    </div>
    <div class="padder-md wrapper scroll-y bar-xs" style="max-height:650px">
        <ul class="timeline">
            <li class="tl-header">
                <div class="btn btn-info">Now</div>
            </li>
            <li class="tl-item" ng-repeat="item in job.SerList">
                <div class="tl-wrap b-primary" ng-class="{'b-info':$index%2==0, 'b-success':$index%3==0}">
                    <span class="tl-date">
                        <span class="text-primary" ng-class="{'text-info':$index%2==0, 'text-success':$index%3==0}">{{ item.RunTS | date:'H:mm:ss ' }}</span>
                        <span class="text-muted" ng-if="!job.checkToday(item.RunTS)">{{ item.RunTS | date:'yyyy.M.d' }}</span>
                    </span>
                    <div class="tl-content panel padder bg-light" ng-class="{'b-success text-success':item.IsOkRun, 'b-danger text-danger':!item.IsOkRun}">
                        <span class="arrow left pull-up hidden-left" ng-class="{'arrow-success':item.IsOkRun, 'arrow-danger':!item.IsOkRun}"></span>
                        <span class="arrow right pull-up visible-left" ng-class="{'arrow-success':item.IsOkRun, 'arrow-danger':!item.IsOkRun}"></span>
                        <div class="text-lt">{{ item.LogMes }}。<br /> LogTS:{{ item.LogTS | date:'yyyy-MM-dd HH:mm:ss.sss' }}</div>
                    </div>
                </div>
            </li>
        </ul>
        <!--<pre>{{ job.SerList | json }}</pre>-->
    </div>
</div>