<div cg-busy="u.promise">
    <div class="wrapper-md m-n font-bold h3 text-center">UISelect管理</div>
    <div class="padder-md">
        <div class="form-inline">
            <button class="btn btn-sm btn-success " ng-click="u.Add() "><i class="glyphicon glyphicon-plus "></i>新增</button>
            <div class="form-group">
                <input autocomplete="off"  type="text" class="form-control"  ng-model="u.Ser.SelectName" placeholder="UISelect名">
            </div>
            <div class="form-group">
                <input autocomplete="off" type="text" class="form-control" ng-model="u.Ser.EntityName" placeholder="实体名称">
            </div>
            <div class="form-group">
                <input autocomplete="off" type="text" class="form-control" ng-model="u.Ser.ConnectName" placeholder="连接对象">
            </div>
            <button class= "btn btn-sm btn-info " ng-click= "u.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
            <button class= "btn btn-sm btn-success " ng-click= "u.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>
        </div>
    </div>
    <div class= "padder-md wrapper-sm">
        <table class= "table " >
            <thead>
                <tr>
                    <td style="width:70px ">操作</td>
                    <td style="width:100px ">UISelect名</td>
                    <td style="width:100px ">连接对象</td>
                    <td style="width:100px ">实体名</td>
                    <td style="width:100px ">下拉显示</td>
                    <td style="width:120px ">下拉显示(small)</td>
                    <td style="width:100px ">返回栏位</td>
                    <td style="width:100px ">选中显示</td>
                    <td style="width:120px ">Placeholder</td>
                    <td style="width:150px ">备注</td>
                    <td style="width:100px">创建人</td>
                </tr>
            </thead>
            <tr ng-repeat= "item in u.List ">
                <td>
                    <button class="btn btn-xs btn-primary" ng-click="u.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-xs btn-danger" ng-confirm="{text:'确定要删除吗'}" ng-click="u.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
                <td class="text-left">{{ item.SelectName }}</td>
                <td class="text-left">{{ item.ENdata.ConnectName }}</td>
                <td class="text-left">{{ item.EntityName }}</td>
                <td>{{ item.ShowColumn }}</td>
                <td>{{ item.ShowSmallColumn }}</td>
                <td>{{ item.ReturnColumn }}</td>
                <td>{{ item.SelectedColumn }}</td>
                <td>{{ item.Placeholder }}</td>
                <td>{{ item.Remark }}</td>
                <td>{{ item.CreateUser }}</td>
                
            </tr>
        </table>
        <div class= "col-md-12 text-center " ng-if= "u.page.total>u.page.size ">
            <div uib-pagination total-items= "u.page.total " ng-model= "u.page.index " items-per-page= "u.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                    ng-change= "u.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
        </div>
    </div>
</div>

