<div class="app-content-full" cg-busy="mo.promise">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
        <div class="col w lt b-r text-xs">
            <div class="vbox">
                <div class="wrapper">
                    <div class="h4 text-center">工单列表</div>
                </div>
                <div class="wrapper-xs b-t m-b-xxs">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" placeholder="查询" ng-model="mo.MoQuery">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" disabled>
                                    <i class="glyphicon glyphicon-search text-success"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover bar-xs">
                        <div class="cell-inner">
                            <div class="padder-xs">
                                <div class="list-group pad-xss">
                                    <a ng-repeat="item in mo.MoList  | orderBy: 'Status'| filter:{ WorkOrder:mo.MoQuery } | limitTo:200" class="list-group-item b-l-4x hover-anchor cl padder-xs" ng-click="mo.SelectMo(item)"
                                       ng-class="{'hover': item.ID == mo.SelectedMo.ID, ' b-l-info':$index%2==0, 'b-l-primary':$index%2==1}">
                                        <span class="text-info hover text-lg" ng-class="{ 'text-success-dk font-bold' : item.Status == 4 }" ng-bind-html="item.WorkOrder | highlight: mo.MoQuery"></span>
                                        <span ng-if="item.Status == 4" class="pull-right font-v5 h6">完</span>
                                        <span ng-if="item.Status != 4" class="pull-right font-v4 h6">待</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col w lter b-r">
            <div class="vbox">
                <div class="wrapper">
                    <div class="h4 text-center">
                        <button class="btn btn-sm btn-success pull-right" ng-disabled="mo.editArrange" ng-click="mo.AddArrange()"><i class="glyphicon glyphicon-plus"></i>排产</button>
                        排产列表
                    </div>
                </div>
                <div class="wrapper-xs b-t m-b-xxs">
                    <div class="padder-xs">
                        <div class="form-group padder-xxs">
                            <div class="input-group">
                                <input type="text" date-picker class="form-control input-sm" placeholder="查询" ng-model="mo.MoArrnageQuery" option="mo.Option">
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-default" ng-click="mo.MoArrnageQuery=undefined">
                                        <i class="glyphicon glyphicon-remove text-info"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover bar-xs">
                        <div class="cell-inner">
                            <div class="padder-xs">
                                <div class="list-group padder-xxs">
                                    <a ng-if="mo.NewArrange.Id==-1" title="新排产" class="list-group-item" ng-class="{'select': mo.SelectedArrange.Id == mo.NewArrange.Id }">
                                        <span ng-if="!mo.editArrange" ng-confirm="{text:'确定要删除该排产吗'}" ng-click='mo.NewArrange = {}' class="pull-right text-danger">
                                            <i class="fa fa-times"></i>
                                        </span>
                                        <span class="block h4 text-info-dker" ng-class="{'m-n': mo.SelectedArrange.Id == mo.NewArrange.Id }">
                                            <span class="font-v3">{{ mo.NewArrange.PlanDate }} </span>
                                        </span>
                                        <small class="text-muted">
                                            <span class="font-v3">{{ mo.SelectedArrange.WorkOrder }}</span>
                                        </small>
                                    </a>
                                    <a ng-repeat="l in mo.ArrangeList | filter:mo.MoArrnageQuery | limitTo:200" class="list-group-item" ng-class="{'select': mo.SelectedArrange.Id == l.Id }" ng-click="mo.SelectArr(l)">
                                        <!--<span ng-confirm="{text:'确定要删除该排班吗'}" ng-click='mo.DeleteArr(l)' class="pull-right text-danger">
                                            <i class="fa fa-times"></i>
                                        </span>-->
                                        <span class="block h5 text-info-dker" ng-class="{'m-n': mo.SelectedArrange.Id == mo.NewArrange.Id }">
                                            <span class="font-v3">{{ l.PlanDate }} </span>
                                        </span>
                                        <small class="text-muted">
                                            <span class="font-v3">{{ l.WorkOrder }}</span>
                                        </small>
                                    </a>
                                </div>
                                <div class="text-center pos-abt w-full padder-xxs" style="top:50%;" ng-hide="mo.ArrangeList.length || mo.NewArrange.Id==-1">没有排产计划</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col w-auto b-r">
            <div class="vbox" ng-if="mo.SelectedArrange.Id">
                <div class="wrapper">
                    <div class="h4 text-left">
                        <button class="btn btn-sm btn-info pull-left" ng-if="!mo.editArrange" ng-click="mo.editArrange = !mo.editArrange">
                            <i class="glyphicon glyphicon-edit"></i>编辑
                        </button>
                        <button class="btn btn-sm btn-success pull-left" ng-if="mo.editArrange" ng-click="mo.SaveArrange()"
                                ng-disabled="mo.MainForm.$invalid || mo.ItemForm.$invalid || mo.OrderForm.$invalid">
                            <i class="glyphicon glyphicon-save"></i>储存
                        </button>
                        <button class="btn btn-sm btn-warning m-l-md  pull-left" type="button" ng-if="mo.editArrange" ng-click="mo.Cancel()">取消</button>
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover bar-xs">
                        <div class="panel panel-default m-t-xs">
                            <div class="panel-body padder-xs bg-light h5 padder-v-xs">
                                <div class="col-md-12 padder-xs">
                                    <div class="panel panel-success m-t-xxs">
                                        <div class="panel-heading text-center h4">基本信息</div>
                                        <div class="panel-body padder-xxs padder-v-xs">
                                            <div class="form-horizontal" ng-form="mo.MainForm">
                                                <div class="form-group-xs col-md-12 padder-xs">
                                                    <div class="col-md-4 padder-xxs">
                                                        <label class="col-sm-5 padder-xxs control-label text-info">工单:</label>
                                                        <div class="col-sm-7 padder-xxs" ng-class="{ 'has-error' : mo.MainForm.MesUserName.$invalid }"> 
                                                            <div class="col-xs-12 input-group">
                                                                <input type="text" disabled name="LineWorkOrder" class="form-control" ng-model="mo.SelectedArrange.WorkOrder" required />
                                                                <span class="input-group-btn">
                                                                    <button ng-if="mo.SelectedArrange.Id==-1" class="btn btn-default" ng-click="mo.OpenMoDialog()">
                                                                        <i class="glyphicon glyphicon-search text-info"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 padder-xxs">
                                                        <label class="col-sm-5 padder-xxs control-label text-info">料号:</label>
                                                        <div class="col-sm-7 padder-xxs">
                                                            <input type="text" disabled class="form-control" ng-model="mo.SelectedArrange.Order.MaterialCode" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 padder-xxs">
                                                        <label class="col-sm-5 padder-xxs control-label text-info">名称:</label>
                                                        <div class="col-sm-7 padder-xxs">
                                                            <input type="text" disabled class="form-control" ng-model="mo.SelectedArrange.Order.MaterialName" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-xs col-md-12 padder-xs">
                                                    <div class="col-md-4 padder-xxs">
                                                        <label class="col-sm-5 padder-xxs control-label text-info">工单数量:</label>
                                                        <div class="col-sm-7 padder-xxs">
                                                            <input type="text" disabled class="form-control" ng-model="mo.SelectedArrange.Order.Quantity" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 padder-xs">
                                                        <label class="col-sm-5 padder-xxs control-label text-info">ERP数量:</label>
                                                        <div class="col-sm-7 padder-xxs" ng-class="{ 'has-error' : mo.MainForm.LineName.$invalid }">
                                                            <input type="text" disabled class="form-control" name="LineName" ng-model="mo.SelectedArrange.Order.ERPQuantity" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 padder-xs">
                                                        <label class="col-sm-5 padder-xxs control-label text-info">产线:</label>
                                                        <div class="col-sm-7 padder-xxs" ng-class="{ 'has-error' : mo.MainForm.LineName.$invalid }">
                                                            <input type="text" disabled class="form-control" name="LineName" ng-model="mo.SelectedArrange.Line.Name" required />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-xs col-md-12 padder-xs">
                                                    <div class="col-md-4 padder-xxs">
                                                        <label class="col-sm-5 padder-xxs control-label text-info">排产日期:</label>
                                                        <div class="col-sm-7 padder-xxs text-xs" ng-class="{ 'has-error' : mo.MainForm.SelectedArrange.$invalid }">
                                                            <input type="text" date-picker ng-disabled="mo.SelectedArrange.Id!=-1" class="form-control" name="SelectedArrange" placeholder="排班日期" option="mo.Option" ng-model="mo.SelectedArrange.PlanDate" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 padder-xxs">
                                                        <label class="col-sm-5 padder-xxs control-label text-info">计划排产量:</label>
                                                        <div class="col-sm-7  padder-xxs text-xs" ng-class="{ 'has-error' : mo.MainForm.PlanCount.$invalid }">
                                                            <input type="number" ng-disabled="!mo.editArrange" class="form-control" name="PlanCount" placeholder="计划排产量" ng-model="mo.SelectedArrange.PlanCount" required />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 padder-xxs">
                                                        <label class="col-sm-5 padder-xxs control-label text-info">备注:</label>
                                                        <div class="col-sm-7  padder-xxs text-xs" ng-class="{ 'has-error' : mo.MainForm.Remark.$invalid }">
                                                            <input type="text" ng-disabled="!mo.editArrange" class="form-control" name="Remark" placeholder="备注" ng-model="mo.SelectedArrange.Remark"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 padder-xs">
                                    <div class="panel panel-info m-t-n-sm">
                                        <div class="panel-heading text-center h4">
                                            <!--<button class="btn btn-sm btn-success pull-left m-t-n-xs" ng-if="mo.editArrange" ng-disabled="mo.ItemForm.$invalid" ng-click="mo.AddLinePerson()"><i class="glyphicon glyphicon-plus"></i>排班</button>-->
                                            变更记录
                                        </div>
                                        <div class="panel-body padder-xxs padder-v-xs scroll-y bar-xs" style="max-height:500px; min-height:400px">
                                            <table class="table pad-xs" ng-form="mo.ItemForm">
                                                <thead>
                                                    <tr>
                                                        <td style="width:80px">变更人</td>
                                                        <td style="width:80px ">原排产量</td>
                                                        <td style="width:80px ">操作时间</td>
                                                    </tr>
                                                </thead>
                                                <tr ng-repeat="item in mo.HisList ">
                                                    <td>{{ item.Creater }}</td>
                                                    <td>{{ item.PlanCount }}</td>
                                                    <td>{{ item.CreateDate |date:'yyyy-MM-dd HH:mm:ss' }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
