<div class="modal-header">
    <h3 class="modal-title">客退返修记录登记(功放)</h3>
</div>
<div class="modal-body wrapper-xs" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body wrapper-xs">
            <div class="form-horizontal">
                <div class="form-group-xs col-md-8" style="font-size:18px;color:cornflowerblue">
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">条码信息</label>
                    </div>
                </div>
                <div class="form-group-xs col-md-12">
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">SN码：</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.SNCode.$invalid }">
                            <input ng-keyup="rep.SelectRMO($event)" type="text" class="form-control" name="SNCode" placeholder="内控码（必填）"
                                   ng-model="rep.SNCode" ng-blur="rep.isExists()">
                            <div ng-messages="DialogForm.SNCode.$error" class="help-block" role="alert">
                                <div ng-message="required" style="font-size:0.1px;">内控码（必填）</div>
                                <div ng-message="unique">已经修复成功，无需维修</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">当前SN码：</label>
                        <div class="col-sm-8 padder-xs">
                            <input type="text" name="SNCode" class="form-control" placeholder="当前条码" ng-model="rep.item.SNCode" disabled="disabled" required>
                        </div>
                    </div>
                </div>

                <div class="form-group-xs col-md-8" style="font-size:18px;color:cornflowerblue">
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">工单信息</label>
                    </div>
                </div>
                <div class="form-group-xs col-md-12">
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">工单号：</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.WorkOrder.$invalid }">
                            <input type="text" class="form-control" name="WorOrder" placeholder="工单号"
                                   ng-model="rep.item.WorkOrder" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">客户订单号：</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.CustomerOrder.$invalid }">
                            <input type="text" class="form-control" name="CustomerOrder" placeholder="客户订单号"
                                   ng-model="rep.item.CustomerOrder" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="form-group-xs col-md-12">
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">产品名称：</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.MaterialName.$invalid }">
                            <input type="text" class="form-control" name="MaterialName" placeholder="产品名称"
                                   ng-model="rep.item.MaterialName" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">客户名称：</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.CustomerName.$invalid }">
                            <input type="text" name="CustomerName" class="form-control" placeholder="客户名称" ng-model="rep.item.CustomerName" disabled="disabled">

                        </div>
                    </div>
                </div>
                <div class="form-group-xs col-md-8" style="font-size:18px;color:cornflowerblue">
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">不良信息</label>
                    </div>
                </div>
                <div class="form-group-xs col-md-12">
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">不良类别：</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.FirstPoorName.$invalid }">
                            <input type="text" class="form-control" name="FirstPoorName" placeholder=""
                                   ng-model="rep.item.FirstPoorName" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">不良信息：</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.SecondPoorName.$invalid }">
                            <input type="text" name="SecondPoorName" class="form-control" placeholder="不良信息" ng-model="rep.item.SecondPoorName" disabled="disabled">

                        </div>
                    </div>
                </div>
                <div class="form-group-xs col-md-8" style="font-size:18px;color:cornflowerblue">
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">维修信息</label>
                    </div>
                </div>
                <!--<div class="form-group-xs col-md-12">
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">维修条码：</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.BarCode.$invalid }">
                            <input  type="text" class="form-control" name="BarCode" placeholder="维修条码"
                                   ng-model="BarCode" >
                        </div>
                    </div>
                </div>-->
                <div class="form-group-xs col-md-12">
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">维修类别：</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.AName.$invalid }" basic-select="syRPoorSelectRMOGF" ng-change="rep.syRPoorSelect(rep.AName.ID)" ng-name="AName" placeholder="维修类别"
                             ng-model="rep.AName" ng-required="ture">
                        </div>

                    </div>
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">维修类型：</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.MaintenanceTtype.$invalid }" ng-model="rep.MaintenanceTtype" ng-required="ture">
                            <span class="btn-group">
                                <label class="btn btn-default btn-success reset ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="rep.MaintenanceTtype" uib-btn-radio="'1'">功能</label>
                                <label class="btn btn-default btn-success reset ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="rep.MaintenanceTtype" uib-btn-radio="'2'">外观</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group-xs col-md-12">
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">不良原因：</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error': DialogForm.BName.$invalid }">
                            <ui-select name="BName" ng-model="rep.BName" ng-change="ValueChange()" theme="bootstrap" ng-required="true">
                                <ui-select-match placeholder="{{ placeholder }}">{{ $select.selected.Name }}</ui-select-match>
                                <ui-select-choices repeat="item in rep.syRPoorName | filter: $select.search | limitTo:50" refresh="refresh($select.search)" ng-required="true">
                                    <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                    </div>
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">处理方式：</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.ProcessingMode.$invalid }" ng-name="ProcessingMode" placeholder="处理方式"
                             ng-model="rep.ProcessingMode" ng-required="ture">
                            <span class="btn-group">
                                <label class="btn btn-default btn-success reset ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="rep.ProcessingMode" uib-btn-radio="'1'">维修</label>
                                <label class="btn btn-default btn-success reset ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="rep.ProcessingMode" uib-btn-radio="'2'">更换</label>
                                <label class="btn btn-default btn-success reset ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="rep.ProcessingMode" uib-btn-radio="'3'">报废</label>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group-xs col-md-12">
                    <div class="col-md-6 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">是否修复：</label>
                        <div class="col-sm-1 padder-xs" ng-class="{ 'has-error' : DialogForm.IsRepair.$invalid }">
                            <label class="i-checks i-checks-sm control-label">
                                <input type="checkbox" ng-model="rep.IsRepair" name="IsRepair" class="ng-pristine ng-untouched ng-valid ng-not-empty"><i></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-6 padder-xs" ng-class="{ 'has-error' : DialogForm.Motherboard.$invalid }">
                        <label class="control-label col-sm-4 padder-xs">是否更换主板:</label>
                        <div class="input-group">
                            <input type="text" ng-keyup="rep.AddMotherboard($event)" name="Motherboard" class="col-sm-6 padder-xs form-control" placeholder="是否更换主板" ng-model="rep.Motherboard" ng-disabled="!rep.IsMotherboard">
                            <span class="input-group-addon">
                                <label class="i-checks i-checks-sm">
                                    <input ng-click="rep.IsClick()" type="checkbox" ng-model="rep.IsMotherboard" class="ng-pristine ng-untouched ng-valid ng-not-empty"><i></i>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group-xs col-md-12">
                        <div class="col-md-12 padder-xs">
                            <label class="control-label col-sm-2 padder-xs">维修备注：</label>
                            <div class="col-sm-10 padder-xs" ng-class="{ 'has-error' : DialogForm.PoorReason.$invalid }">
                                <textarea class="form-control" rows="3" name="PoorReason" ng-model="rep.PoorReason" placeholder="输入备注信息" ng-required="true"></textarea>
                            </div>
                        </div>
                </div>
        </div>
    </div>
</div>
<!--<pre>{{rep.MaintenanceTtype}}</pre>
<pre>{{rep.ProcessingMode}}</pre>-->
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-success" type="button" ng-disabled="DialogForm.$invalid" ng-click="rep.Alter()">保存</button>
        <button class="btn btn-warning" type="button" ng-click="rep.cancel()">取消</button>
    </div>
    <!--<pre>{{rep.syRPoorName | json}}</pre>-->
</div>


