<uib-tabset active="active" type="tabs" class="h-100" cg-busy="sn.promise">
    <uib-tab index="0" select="sn.SelectTab(0)" deselect="sn.SelectTab(-1)">
        <uib-tab-heading class="h5">SN计重录入</uib-tab-heading>
        <div class="wrapper-md">
            <div class="col-sm-6">
                <div class="panel panel-default" ng-form="sn.BasicForm">
                    <div class="panel-heading font-bold">计重录入</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Com口列表</label>
                                <div class="col-lg-8">
                                    <ui-select name="ngType" ng-model="sn.ComName" theme="bootstrap" ng-change="sn.ChangeMonitor()">
                                        <ui-select-match placeholder="请选择...">{{ $select.selected }}</ui-select-match>
                                        <ui-select-choices repeat="item in sn.ComList | filter: $select.search">
                                            <div ng-bind-html="item | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">内部码/SN码</label>
                                <div class="col-lg-8"  ng-class="{ 'has-error' : sn.BasicForm.SNCode.$invalid }">
                                    <input autocomplete="off"  type="text" name="SNCode" class="form-control" ng-model="sn.SNCode" ng-keyup="sn.KeyDonwSnCode($event)" placeholder="Sn码" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">SN重量</label>
                                <div class="col-lg-8" ng-class="{ 'has-error' : sn.BasicForm.Weigth.$invalid }">
                                    <input autocomplete="off"  type="text" name="Weigth" class="form-control" ng-model="sn.Weigth" ng-keyup="sn.KeyDonwSnCode($event)" placeholder="SN重量" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">重量范围</label>
                                <div class="col-lg-8 form-control-static">
                                    <span class="text-danger h4" ng-if="sn.Range.MinWeigth">{{ sn.Range.MinWeight }}~{{ sn.Range.MaxWeight }}</span>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-4 col-lg-8">
                                    <div class="checkbox col-md-5">
                                        <label class="i-checks">
                                            <input autocomplete="off"  type="checkbox" ng-model="sn.IsAuto"><i></i> 自动录入
                                        </label>
                                    </div>
                                    <div class="col-md-3">
                                        <button type="submit" class="btn btn-sm btn-success" ng-click="sn.SnWeigth()" ng-disabled="sn.BasicForm.$invalid || sn.IsAuto">录入</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<pre>{{ sn.ComName | json }}</pre>-->
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default scroll-y" style="max-height:600px">
                    <div class="panel-heading font-bold text-center">称重信息</div>
                    <div class="panel-body">
                        <div class="list-group">
                            <ul class="list-group bg-white">
                                <li class="list-group-item" ng-repeat="item in sn.MesList track by item.Id" ng-class="{ 'text-danger' : !item.IsOk, 'text-success':item.IsOk }">
                                    <span herf class="pull-left">
                                        <i class="glyphicon" ng-class="{ 'glyphicon-remove' : !item.IsOk, 'glyphicon-ok':item.IsOk }"></i>
                                    </span>
                                    <div class="clear">
                                        <div>{{ item.Msg }}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1">
        <uib-tab-heading class="h5">SN称重列表</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control" ui-focus="sn.Focus == -1" ng-model="sn.Ser.InternalCode" placeholder="内部码">
                </div>
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control" ui-focus="sn.Focus == -1" ng-model="sn.Ser.SnCode" placeholder="SN code">
                </div>
                <button class="btn btn-sm btn-info" ng-click="sn.Search()"><i class="glyphicon glyphicon-search"></i>查询</button>
                <button class="btn btn-sm btn-success" ng-click="sn.ExportExcel()"><i class="glyphicon glyphicon-export"></i> 导出</button>
            </div>
        </div>
        <div class="padder-md">
            <table class="table" >
                <thead>
                    <tr>
                        <td style="width:10%">内部码</td>
                        <td style="width:13%">SN码</td>
                        <td style="width:13%">重量</td>
                        <td style="width:8%">建档人</td>
                        <td style="width:13%">建档时间</td>
                        <td style="width:12%">更新人</td>
                        <td style="width:12%">更新时间</td>
                    </tr>
                </thead>
                <tr ng-repeat="item in sn.DeleteList">
                    <td>{{ item.InternalCode }}</td>
                    <td>{{ item.SNCode }}</td>
                    <td>{{ item.Weight }}</td>
                    <td>{{ item.Creater }}</td>
                    <td>{{ item.CreateDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td>{{ item.Modify }}</td>
                    <td>{{ item.ModifyDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                </tr>
            </table>
            <div class="col-md-12 text-center" ng-if="sn.page.total>sn.page.size">
                <div uib-pagination total-items="sn.page.total" ng-model="sn.page.index" items-per-page="sn.page.size" max-size="10" first-text="第一页" previous-text="上一页"
                     ng-change="sn.PageChange()" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="true"></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
