<div class="modal-header">
    <h3 class="modal-title text-center">
        <button class="btn btn-success pull-left" type="button" ng-disabled="QcForm.$invalid" ng-click="woHH.Save()">储存</button>
        <button class="btn btn-warning pull-right" type="button" ng-click="woHH.cancel()">取消</button>
        后焊不良信息录入
    </h3>
</div>
<div class="modal-body wrapper-xs" ng-form="QcForm">
    <div class="panel panel-default">
        <div class="panel-body wrapper-xs">
            <div class="form-horizontal">
                <div class="form-group-xs  padder-xxs col-md-6">
                    <label class="control-label col-md-4 wrapper-xs">内控码:</label>
                    <div class="col-md-8 wrapper-xs">
                        <span class="h4 font-bold text-info form-control-static">{{ woHH.Item.InCode }}</span>
                    </div>
                </div>
                <div class="form-group-xs  padder-xxs col-md-6">
                    <label class="control-label col-md-4 wrapper-xs">产品编号:</label>
                    <div class="col-md-8 wrapper-xs">
                        <span class="h4 font-bold text-info  form-control-static">{{ woHH.Item.MaterialCode }}</span>
                    </div>
                </div>
                <div class="form-group-xs  padder-xxs col-md-6">
                    <label class="control-label col-md-4 wrapper-xs">工单:</label>
                    <div class="col-md-8 wrapper-xs">
                        <span class="form-control-static">{{ woHH.Item.WorkOrder }}</span>
                    </div>
                </div>
                <div class="col-md-6 form-group-xs  padder-xxs">
                    <label class="control-label col-md-4 wrapper-xs">产品名称:</label>
                    <div class="col-md-8 wrapper-xs">
                        <span class="form-control-static">{{ woHH.Item.MaterialName }}</span>
                    </div>
                </div>
                <!--<div class="form-group-xs  padder-xxs col-md-6">
                    <label class="control-label col-md-4 wrapper-xs">当前工艺:</label>
                    <div class="col-md-8 wrapper-xs">
                        <span class="form-control-static  text-success font-bold">{{ woHH.Item.RouteName }}</span>
                    </div>
                </div>
                <div class="form-group-xs  padder-xxs col-md-6">
                    <label class="control-label col-md-4 wrapper-xs">当前工序:</label>
                    <div class="col-md-8 wrapper-xs">
                        <span class="form-control-static text-success font-bold">{{ woHH.Item.ProcedureName }}</span>
                    </div>
                </div>-->
                <div class="form-group-xs  padder-xxs col-md-6" hidden>
                    <label class="control-label col-md-4 wrapper-xs">不良种类:</label>
                    <div class="col-md-8" ng-class="{ 'has-error' : QcForm.ngType.$invalid }">
                        <ui-select name="ngType" ng-model="woHH.DialogItem.NgType" theme="bootstrap" required ng-change="woHH.ChangeMonitor()">
                            <ui-select-match placeholder="选择不良种类...">{{ $select.selected.Name }}</ui-select-match>
                            <ui-select-choices repeat="item.ID as item in woHH.TypeList | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group-xs  padder-xxs col-md-6" hidden>
                    <label class="control-label col-md-12 wrapper-xs">不良原因:</label>
                    <div class="col-md-8" ng-class="{ 'has-error' : QcForm.syQpoor.$invalid }">
                        <ui-select name="syQpoor" ng-model="woHH.DialogItem.Ng" theme="bootstrap" required>
                            <ui-select-match placeholder="选择不良原因...">{{ $select.selected.Name }}</ui-select-match>
                            <ui-select-choices repeat="item.ID as item in woHH.QpoorList | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <!--<div class="form-group-xs padder-xxs col-md-12">
                    <label class="control-label col-md-2 wrapper-xs">备注:</label>
                    <div class="col-md-10" ng-class="{ 'has-error' : QcForm.Reason.$invalid }">
                        <textarea class="form-control" rows="2" name="Reason" maxlength="255" ng-model="woHH.DialogItem.Reason" placeholder="输入不良原因" ></textarea>
                    </div>
                </div>-->
            </div>
            <div class="col-md-4 padder-xs">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">不良种类</div>
                    <div class="panel-body scroll-y padder-xs padder-v-xs" style="max-height:600px">
                        <div class="col-md-12 m-t-xs padder-md" ng-repeat="item in woHH.TypeList">
                            <button style="height:70px" class="btn-group-vertical h3 btn-lg w-full btn-primary"
                                    ng-click="woHH.DialogItem.NgType=item.ID;
                                    woHH.ChangeMonitor()"
                                    ng-class="{'btn-outline-primary':$index%2==0, 'btn-outline-success':$index%2==1, 'btn-success':woHH.DialogItem.NgType==item.ID}">
                                <span class="h3">{{ item.Name }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 padder-xs">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">不良种类</div>
                    <div class="panel-body scroll-y padder-xs  padder-v-xs" style="max-height:600px">
                        <div class="col-md-6 m-t-xs padder-md" ng-repeat="item in woHH.QpoorList">
                            <button style="height:70px" class="btn-group-vertical btn-lg h3 w-full btn-primary"
                                    ng-click="woHH.DialogItem.Ng=item.ID"
                                    ng-class="{'btn-outline-primary':$index%2==0, 'btn-outline-success':$index%2==1,
                                    'btn-success':woHH.DialogItem.Ng==item.ID}">
                                <span class="h3">{{ item.Name }}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<pre>{{ woHH.Item | json }}</pre>-->