<uib-tabset active="active" type="tabs" class="h-100" cg-busy="tx.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">试产工单设定</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="tx.Ser.aWorkOrder" placeholder="工单号">
                </div>
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="tx.Ser.aMaterialCode" placeholder="料号">
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "tx.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
            </div>
        </div>
        <div class= "padder-md ">
            <div class="col-md-12 scroll-x no-padder" style="min-height:300px" >
                <table class= "table pad-xs" >
                    <thead>
                        <tr>
                            <td style= "width:60px">操作</td>
                            <td style= "width:100px ">工单号</td>
                            <td style= "width:100px ">料号</td>
                            <td style= "width:150px ">产品名称</td>
                            <td style= "width:80px ">工单数量</td>
                            <td style= "width:60px ">阶段代码</td>
                            <td style= "width:100px ">转码规则</td>
                            <td style= "width:80px ">条码预览</td>
                            <td style= "width:100px ">备注</td>
                        </tr>
                    </thead>
                    <tr ng-repeat= "item in tx.List " ng-form="item.ItemForm">
                        <td>
                            <span ng-if="!item.IsEdit">
                                <button class="btn btn-xs btn-primary" ng-click="tx.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                            </span>
                            <span ng-if="item.IsEdit">
                                <button class="btn btn-xs btn-success" ng-disabled="item.ItemForm.$invalid" ng-click="tx.SaveEdit($index)"><i class="glyphicon glyphicon-save"></i></button>
                                <button class="btn btn-xs btn-warning" ng-click="item.IsEdit=false"><i class="fa fa-undo"></i></button>
                            </span>
                        </td>
                        <td title="{{ item.WorkOrder }}">{{ item.WorkOrder }}</td>
                        <td title="{{ item.MaterialCode }}">{{ item.MaterialCode }}</td>
                        <td title="{{ item.MaterialName }}">{{ item.MaterialName }}</td>
                        <td title="{{ item.Quantity }}">{{ item.Quantity }}</td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.BetchNo }}</span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_BetchNo.$invalid }">
                                 <input autocomplete="off"  type="text" name="item_BetchNo" class="form-control" placeholder="阶段代码" ng-model="tx.EditItem.BetchNo" required />
                            </div>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit"><span ng-if="item.ClName && item.TbName">{{ item.TbName }}/{{ item.ClName }}</span></span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_TbName.$invalid }">
                                 <div basic-select="SerialNum" ng-name="item_TbName" placeholder="转码规则" ng-model="tx.EditItem.SerialItem"  ng-required ="true"></div>
                            </div>

                        </td>
                        <td title="预览编码">{{ item.PrevSN }}</td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.Remark }}</span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_Remark.$invalid }">
                                 <input autocomplete="off"  type="text" name="item_Remark" class="form-control" placeholder="备注" ng-model="tx.EditItem.Remark"  />
                            </div>

                        </td>
                    </tr>
                </table>
            </div>
            <div class= "col-md-12 text-center " ng-if= "tx.page.total>tx.page.size ">
                <div uib-pagination total-items= "tx.page.total " ng-model= "tx.page.index " items-per-page= "tx.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "tx.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
