<uib-tabset active="active" type="tabs" class="h-100" cg-busy="sac.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">客户管理</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <button class="btn btn-sm btn-success " ng-click="sac.Insert() "><i class="glyphicon glyphicon-plus "></i>新增</button>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="sac.Ser.a_Code" placeholder="编码">
                        <span class="input-group-addon">
                            <a ng-click="sac.Ser.a_Code=undefined" class="text-danger"><i class="glyphicon glyphicon-trash"></i></a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="sac.Ser.a_Name" placeholder="名称">
                        <span class="input-group-addon">
                            <a ng-click="sac.Ser.a_Name=undefined" class="text-danger"><i class="glyphicon glyphicon-trash"></i></a>
                        </span>
                    </div>
                </div>
                <button class="btn btn-sm btn-info " ng-click="sac.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
                <button class="btn btn-sm btn-success " ng-click="sac.ExportExcel() "><i class="glyphicon glyphicon-export "></i> 导出</button>
            </div>
        </div>
        <div class="padder-md ">
            <div class="col-md-12 scroll-x no-padder">
                <table class="table pad-xs">
                    <thead>
                        <tr>
                            <td style="width:60px">操作</td>
                            <td style="width:100px ">客户编码</td>
                            <td style="width:100px ">客户名称</td>
                            <td style="width:100px ">联系人</td>
                            <td style="width:100px ">联系电话</td>
                            <td style="width:100px ">备注</td>
                        </tr>
                    </thead>
                    <tr ng-if="sac.IsInsert" ng-form="sac.InsertForm">
                        <td>
                            <button class="btn btn-xs btn-success" ng-disabled="sac.InsertForm.$invalid" ng-click="sac.SaveInsert()"><i class="glyphicon glyphicon-save"></i></button>
                            <button class="btn btn-xs btn-warning" ng-click="sac.IsInsert=false"><i class="fa fa-undo"></i></button>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': sac.InsertForm.Code.$invalid }">
                                <input type="text" name="Code" class="form-control" placeholder="客户编码" ng-model="sac.NewItem.Code" required ng-blur="sac.IsCodeExist(false)"  />
                                <div ng-messages="sac.InsertForm.Code.$error" class="help-block" role="alert">
                                    <div ng-message="unique">客户编码重复</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': sac.InsertForm.Name.$invalid }">
                                <input type="text" name="Name" class="form-control" placeholder="客户名称" ng-model="sac.NewItem.Name" required />
                            </div>
                        </td>               
                        <td>
                            <div>
                                <input type="text" name="Contact" class="form-control" placeholder="联系人" ng-model="sac.NewItem.Contact" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" name="ContactNumber" class="form-control" placeholder="联系电话" ng-model="sac.NewItem.ContactNumber" />
                            </div>
                        </td>
                        <td>
                            <div>
                                <input type="text" name="Remark" class="form-control" placeholder="备注" ng-model="sac.NewItem.Remark" />
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat="item in sac.List " ng-form="item.ItemForm">
                        <td>
                            <span ng-if="!item.IsEdit">
                                <button class="btn btn-xs btn-primary" ng-click="sac.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                                <button class="btn btn-xs btn-danger" ng-confirm="{text:'确定要删除吗'}" ng-click="sac.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                            </span>
                            <span ng-if="item.IsEdit">
                                <button class="btn btn-xs btn-success" ng-disabled="item.ItemForm.$invalid" ng-click="sac.SaveEdit($index)"><i class="glyphicon glyphicon-save"></i></button>
                                <button class="btn btn-xs btn-warning" ng-click="item.IsEdit=false"><i class="fa fa-undo"></i></button>
                            </span>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.Code }}</span>
                            <div ng-if="item.IsEdit" ng-class="{ 'has-error' : item.ItemForm.item_Code.$invalid }">
                                <input type="text" name="item_Code" class="form-control" placeholder="客户编码" ng-blur="sac.IsCodeExist(true)" ng-model="sac.EditItem.Code" required />
                                <div ng-messages="item.ItemForm.item_Code.$error" class="help-block" role="alert">
                                    <div ng-message="unique">客户编码重复</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.Name }}</span>
                            <div ng-if="item.IsEdit" ng-class="{ 'has-error' : item.ItemForm.item_Name.$invalid }">
                                <input type="text" name="item_Name" class="form-control" placeholder="客户名称" ng-model="sac.EditItem.Name" required />
                            </div>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.Contact }}</span>
                            <div ng-if="item.IsEdit" ng-class="{ 'has-error' : item.ItemForm.item_Contact.$invalid }">
                                <input type="text" name="item_Contact" class="form-control" placeholder="联系人" ng-model="sac.EditItem.Contact" />
                            </div>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.ContactNumber }}</span>
                            <div ng-if="item.IsEdit" ng-class="{ 'has-error' : item.ItemForm.item_ContactNumber.$invalid }">
                                <input type="text" name="item_ContactNumber" class="form-control" placeholder="联系电话" ng-model="sac.EditItem.ContactNumber" />
                            </div>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.Remark }}</span>
                            <div ng-if="item.IsEdit" ng-class="{ 'has-error' : item.ItemForm.item_Remark.$invalid }">
                                <input type="text" name="item_Remark" class="form-control" placeholder="备注" ng-model="sac.EditItem.Remark" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12 text-center " ng-if="sac.page.total>sac.page.size ">
                <div uib-pagination total-items="sac.page.total " ng-model="sac.page.index " items-per-page="sac.page.size " max-size="10 " first-text="第一页 " previous-text="上一页 "
                     ng-change="sac.PageChange() " next-text="下一页 " last-text="最后页 " boundary-links="true " boundary-link-numbers="true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
