<uib-tabset active="active" type="tabs" class="h-100" cg-busy="bc.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">
            工单完工计件工资
        </uib-tab-heading>
        <div class="wrapper-xs">
            <div class="form-inline">
                <div class="form-group">
                    <input autocomplete="off" type="text" date-picker class="form-control" ng-model="bc.Ser.aWorkDate" placeholder="工作日" option="bc.DateOption">
                </div>
                <div class="form-group">
                    <div basic-select="AssemblyLine" ng-model="bc.Ser.aLineId" placeholder="线别"></div>
                </div>
                <div class="form-group">
                    <input autocomplete="off" type="text" class="form-control" ng-model="bc.Ser.aWorkOrder" placeholder="工单">
                </div>
                <button class="btn btn-sm btn-info " ng-click="bc.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
                <button class="btn btn-sm btn-success " ng-click="bc.ExportExcel() "><i class="glyphicon glyphicon-export "></i> 导出</button>
                <button class="btn btn-sm btn-success m-t-xs pull-right" ng-click="bc.OpenUser() "><i class="glyphicon glyphicon-search "></i>员工薪资详细</button>
            </div>
        </div>
        <div class="padder-xs ">
            <div class="col-md-12 scroll-x no-padder">
                <span class="text-danger h6">注：UPPH、标配人数、实到人数、实际工时 的字体为红色时表示有修改调整过这些属性值，但未进行重计算；当为绿色时表示有调整过并已经进行了重计算。</span>
                <table class="table ">
                    <thead>
                        <tr>
                            <td title="操作" style="width:60px ">操作</td>
                            <td title="工作日" style="width:100px ">工作日</td>
                            <td title="所取排班日" style="width:100px ">所取排班日</td>
                            <td title="线别" style="width:100px ">线别</td>
                            <td title="工单号" style="width:100px ">工单号</td>
                            <td title="料号" style="width:100px ">料号</td>
                            <td title="料名" style="width:100px ">料名</td>
                            <td title="UPPH" style="width:100px ">UPPH</td>
                            <td title="标配人数" style="width:100px ">标配人数</td>
                            <td title="实到人数" style="width:100px ">实到人数</td>
                            <td title="计划数量" style="width:100px ">计划数量</td>
                            <td title="标准产能" style="width:100px ">标准产能</td>
                            <td title="超产量" style="width:100px ">超产量</td>
                            <td title="实际入库数" style="width:100px ">实际入库数</td>
                            <td title="生产达成率" style="width:100px ">生产达成率</td>
                            <td title="定额计件单价" style="width:100px ">定额计件单价</td>
                            <td title="超产计件单价" style="width:100px ">超产计件单价</td>
                            <td title="定额计件工资" style="width:100px ">定额计件工资</td>
                            <td title="超产奖" style="width:100px ">超产奖</td>
                            <td title="实际工时" style="width:100px ">实际工时</td>
                            <td title="对应完工报告" style="width:100px ">对应完工报告</td>
                            <td title="备注" style="width:100px ">备注</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in bc.List ">
                        <td title="查看详细">
                            <button class="btn btn-xs btn-info" title="查看线别对应的人员详细" ng-click="bc.OpenDtl(item)"><i class="glyphicon glyphicon-search"></i></button>
                        </td>
                        <td title="{{ item.WorkDate }}">{{ item.WorkDate | date:'yyyy-MM-dd' }}</td>
                        <td title="{{ item.ArrangeDate }}">{{ item.ArrangeDate }}</td>
                        <td title="{{ item.Line.Name }}">{{ item.Line.Name }}</td>
                        <td title="{{ item.WorkOrder }}">{{ item.WorkOrder }}</td>
                        <td title="{{ item.Order.MaterialCode }}">{{ item.Order.MaterialCode }}</td>
                        <td title="{{ item.Order.MaterialName }}">{{ item.Order.MaterialName }}</td>
                        <td title="{{ item.UPPH }}" class="text-left">
                            <a class="text-info-dker" ng-class="{'text-danger':item.Change.UPPH!=item.UPPH&&item.Change.UPPH,
                               'text-success':item.Change.UPPH==item.UPPH&&item.Arrange.UPPH !=item.Change.UPPH&&item.Change.UPPH}" ng-click="bc.EditUPPH(item)"><i class="glyphicon glyphicon-edit"></i>{{ item.UPPH }}</a>
                        </td>
                        <td title="{{ item.StandPerson }}">
                            <span class="text-info-dker" ng-class="{'text-danger':item.Change.StandPerson!=item.StandPerson&&item.Change.StandPerson,
                               'text-success':item.Change.StandPerson==item.StandPerson&&item.Arrange.StandPerson !=item.Change.StandPerson&&item.Change.StandPerson}">
                                {{ item.StandPerson }}
                            </span>
                        </td>
                        <td title="{{ item.ActPerson }}">
                            <span class="text-info-dker" ng-class="{'text-danger':item.Change.ActPerson!=item.ActPerson&&item.Change.ActPerson,
                               'text-success':item.Change.ActPerson==item.ActPerson&&item.Arrange.ActPerson !=item.Change.ActPerson&&item.Change.ActPerson}">
                                {{ item.ActPerson }}
                            </span>
                        </td>
                        <td title="{{ item.PlanCount }}">{{ item.PlanCount }}</td>
                        <td title="{{ item.StandCount }}">{{ item.StandCount }}</td>
                        <td title="{{ item.OverCount }}">{{ item.OverCount }}</td>
                        <td title="{{ item.RcvQty }}">{{ item.RcvQty }}</td>
                        <td title="{{ item.DoneRate }}">{{ item.DoneRate }}</td>
                        <td title="{{ item.PicesPrice }}">{{ item.PicesPrice }}</td>
                        <td title="{{ item.PicesOverPrice }}">{{ item.PicesOverPrice }}</td>
                        <td title="{{ item.StandAmount }}">{{ item.StandAmount }}</td>
                        <td title="{{ item.OverAmount }}">{{ item.OverAmount }}</td>
                        <td title="{{ item.ActHour }}">
                            <span class="text-info-dker" ng-class="{'text-danger':item.Change.ActHour!=item.ActHour&&item.Change.ActHour,
                               'text-success':item.Change.ActHour==item.ActHour&&item.Arrange.ActHour !=item.Change.ActHour&&item.Change.ActHour}">
                                {{ item.ActHour }}
                            </span>
                        </td>
                        <td title="{{ item.SrcDocNo }}">{{ item.SrcDocNo }}</td>
                        <td title="{{ item.Arrange.Remark }}">{{ item.Arrange.Remark }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12 text-center " ng-if="bc.page.total>bc.page.size ">
                <div uib-pagination total-items="bc.page.total " ng-model="bc.page.index " items-per-page="bc.page.size " max-size="10 " first-text="第一页 " previous-text="上一页 "
                     ng-change="bc.PageChange() " next-text="下一页 " last-text="最后页 " boundary-links="true " boundary-link-numbers="true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
<div class="new-upph dialog dialog-lg">
    <div class="padder-xs scroll-y">
        <div class="panel panel-info">
            <div class="panel-heading h3 text-center">
                调整排班属性值
                <button  class="btn btn-md btn-success h1 pull-left m-t-n-xs" ng-disabled="bc.UpphForm.$invalid" type="button" ng-click="bc.SaveUpph()"><i class="glyphicon glyphicon-save"></i>确定</button>
                <button ui-remove-class="active" target=".new-upph" class="btn btn-md btn-warning h1 pull-right m-t-n-xs" type="button" ng-click="bc.cancel()">关闭</button>
            </div>
            <div class="panel-body wrapper-xs padder-v-xxs" ng-form="bc.UpphForm">
                <div class="col-md-12 no-padder">
                    <div class="panel panel-default">
                        <div class="panel-body scroll-y padder-xs padder-v-xs" >
                            <div class="form-horizontal">
                                <div class="form-group-xs  padder-xxs col-md-6">
                                    <label class="control-label col-md-5 wrapper-xs">UPPH:</label>
                                    <div class="col-md-7 no-padder" title="UPPH" ng-class="{ 'has-error' : bc.UpphForm.CUPPH.$invalid }">
                                        <input autocomplete="off" type="number" class="form-control" name="CUPPH" placeholder="修改后UPPH" ng-model="bc.UPItem.Change.UPPH" required>
                                    </div>
                                </div>
                                <div class="form-group-xs  padder-xxs col-md-6">
                                    <label class="control-label col-md-5 wrapper-xs">排班UPPH:</label>
                                    <div class="col-md-7 no-padder">
                                        <input autocomplete="off" type="text" class="form-control" disabled placeholder="排班UPPH" ng-model="bc.UPItem.Arrange.UPPH">
                                    </div>
                                </div>
                                <div class="form-group-xs  padder-xxs col-md-6">
                                    <label class="control-label col-md-5 wrapper-xs">标配人数:</label>
                                    <div class="col-md-7 no-padder">
                                        <input autocomplete="off" type="number" class="form-control" name="StandPerson" placeholder="修改后标配人数" ng-model="bc.UPItem.Change.StandPerson">
                                    </div>
                                </div>
                                <div class="form-group-xs  padder-xxs col-md-6">
                                    <label class="control-label col-md-5 wrapper-xs">排班标配人数:</label>
                                    <div class="col-md-7 no-padder">
                                        <input autocomplete="off" type="text" class="form-control" disabled placeholder="排班标配人数" ng-model="bc.UPItem.Arrange.StandPerson">
                                    </div>
                                </div>
                                <!--<div class="form-group-xs  padder-xxs col-md-6">
                                    <label class="control-label col-md-5 wrapper-xs">排班需求人数:</label>
                                    <div class="col-md-7 no-padder">
                                        <input autocomplete="off" type="text" class="form-control" disabled placeholder="排班需求人数" ng-model="bc.UPItem.Arrange.NeedPerson" required>
                                    </div>
                                </div>
                                <div class="form-group-xs  padder-xxs col-md-6">
                                    <label class="control-label col-md-5 wrapper-xs">修改后需求人数:</label>
                                    <div class="col-md-7 no-padder">
                                        <input autocomplete="off" type="text" class="form-control" name="StandPerson" placeholder="修改后需求人数" ng-model="bc.UPItem.Change.NeedPerson" required>
                                    </div>
                                </div>
                                <div class="form-group-xs  padder-xxs col-md-6">
                                    <label class="control-label col-md-5 wrapper-xs">排班实到人数:</label>
                                    <div class="col-md-7 no-padder">
                                        <input autocomplete="off" type="text" class="form-control" disabled placeholder="排班实到人数" ng-model="bc.UPItem.Arrange.ActPerson" required>
                                    </div>
                                </div>
                                <div class="form-group-xs  padder-xxs col-md-6">
                                    <label class="control-label col-md-5 wrapper-xs">修改后实到人数:</label>
                                    <div class="col-md-7 no-padder">
                                        <input autocomplete="off" type="text" class="form-control" name="StandPerson" placeholder="修改后实到人数" ng-model="bc.UPItem.Change.ActPerson" required>
                                    </div>
                                </div>-->
                                <div class="form-group-xs  padder-xxs col-md-6">
                                    <label class="control-label col-md-5 wrapper-xs">实际工时:</label>
                                    <div class="col-md-7 no-padder">
                                        <input autocomplete="off" type="number" class="form-control" name="ActHour" placeholder="修改后实际工时" ng-model="bc.UPItem.Change.ActHour">
                                    </div>
                                </div>
                                <div class="form-group-xs  padder-xxs col-md-6">
                                    <label class="control-label col-md-5 wrapper-xs">排班实际工时:</label>
                                    <div class="col-md-7 no-padder">
                                        <input autocomplete="off" type="text" class="form-control" disabled placeholder="排班实际工时" ng-model="bc.UPItem.Arrange.ActHour">
                                    </div>
                                </div>
                                <div class="form-group-xs  padder-xxs col-md-6">
                                    <label class="control-label col-md-5 wrapper-xs">备注:</label>
                                    <div class="col-md-7 no-padder">
                                        <textarea class="form-control" name="Remark" ng-model="bc.UPItem.Change.ActHour"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                </div><br />
                <!--<pre>{{ bc.UPItem.Arrange | json }}</pre>-->
            </div>
        </div>
    </div>
</div>

