<div class="fade-in-right-big smooth">
    <div class="container w-xll w-auto-xs">
        <a class="navbar-brand block m-t">找回密码</a>
        <div class="m-b-lg" ng-form="psd.MyForm">
            <!--<div class="wrapper text-center">
                <strong>请输入您在系统内预留的邮箱</strong>
            </div>-->
            
            <!--<div class="form-c form-horizontal">
                <div class="form-group" ng-class="{ 'has-error' : psd.MyForm.UserNo.$invalid }">
                    <input type="text" name="UserNo" placeholder="用户账号" ng-model="psd.Item.UserNo" class="form-control no-border input-lg" required>
                </div>
                <div class="form-group">
                    <input type="email" name="MyMail" placeholder="预留的邮箱" ng-model="psd.Item.Email" class="form-control no-border input-lg" required>
                </div>
                <button type="submit" ng-disabled="psd.MyForm.$invalid" class="btn btn-sm btn-primary">Submit</button>
            </div>-->

            <div class="form-c w-xxl" name="reset" ng-form="psd.MyForm">
                <div class="list-group list-group-sm">
                    <div class="list-group-item" ng-class="{ 'has-error' : psd.MyForm.UserNo.$invalid }">
                        <input type="text" placeholder="用户账号" name="UserNo" ng-model="psd.Item.UserNo" class="form-control no-border" required>
                    </div>
                </div>
                <div class="list-group">
                    <div class="list-group-item" ng-class="{ 'has-error' : psd.MyForm.MyMail.$invalid }">
                        <input type="email" name="MyMail" placeholder="预留的邮箱" ng-model="psd.Item.Mail" class="form-control no-border" required>
                    </div>
                </div>
                <button type="submit" ng-disabled="reset.$invalid" class="btn btn-lg btn-primary btn-block" ng-click="psd.Send()">发送邮件</button>
                <button type="submit" class="btn btn-lg btn-link btn-block" ui-sref="login" >返回登录</button>
            </div>
            <div uib-collapse="!psd.isCollapsed" class="m-t">
                <div class="alert alert-success">
                    <!--<p>A reset link sent to your email address, please check it in 2 hours. <a ui-sref="access.signin" class="btn btn-sm btn-success">Sign in</a></p>-->
                    <p class="text-success h6 text-center">修改密码链接已经发送至您的邮箱, 请在两小时内访问修改密码. <a ui-sref="access.signin" class="btn btn-sm btn-success">登录</a></p>
                </div>
            </div>
        </div>
        <div class="text-center" ng-include="'Basic/blocks/page_footer.html'"></div>
    </div>
</div>