<script>
    $(function () {
        $(".i-text").focus(function () {
            $(this).addClass('h-light');
        });
        $(".i-text").focusout(function () {
            $(this).removeClass('h-light');
        });
    });

</script>

<div class="header">
    <h1 class="headerLogo"><img src="Content/images/logo2.gif" /></h1>
</div>
<div class="banner">
    <div class="login-aside">
        <div id="o-box-up"></div>
        <div id="o-box-down" style="table-layout:fixed;" >
            <div class="registerform" ng-form="Log.AppForm" ng-keyup="Log.KeyDonw($event)">
                <div class="fm-item" ng-class="{ 'has-error' : Log.AppForm.login.$invalid }">
                    <label for="logonId" class="form-label">系统登陆：</label>
                    <input type="text"  maxlength="100" id="username" class="i-text" name="login" ng-model="Log.UserName" placeholder="用户账号" autocomplete="on" required>
                </div>

                <div class="fm-item" ng-class="{ 'has-error' : Log.AppForm.password.$invalid }">
                    <label for="logonId" class="form-label">登陆密码：</label>
                    <input type="password" class="i-text" name="password" id="password" ng-model="Log.Pwd" placeholder="用户密码" autocomplete="off" required>
                </div>

                <div class="fm-item v-middle" ng-class="{ 'has-error' : Log.AppForm.Yzn.$invalid }">
                    <label for="logonId" class="form-label">验证码</label>
                    <input type="text" ng-change="Log.CheckCode()" class="i-text yzm" name="Yzn" ng-model="Log.SecCode" required />
                    <span style="padding-left:5px" ng-click="Log.reflashSecCode()" ng-if="Log.SecDataUrl != undefined">
                        <img ng-src="{{ Log.SecDataUrl }}" alt="验证码" />
                    </span>
                    <span ng-if="Log.IsOK == 'True'" class="text-success"><i class="glyphicon glyphicon-ok"></i></span>
                    <span ng-if="Log.IsOK == 'False'" class="text-danger v-middle"><i class="glyphicon glyphicon-remove"></i></span>
                </div>

                <div class="fm-item">
                    <label for="logonId" class="form-label"></label>
                    <span class="btn btn-login btn-success" ng-disabled="Log.AppForm.$invalid" ng-click="Log.Login()" tabindex="4">登 陆</span>
                    <!--<span  ng-disabled="Log.AppForm.$invalid" ng-click="Log.Login()" tabindex="4" id="send-btn" class="btn btn-login"></span>-->
                </div>
                <div style="margin: 10px;">
                    <div class="col-md-12">
                        <span style="color:#7e0b0b; font-weight:bold" ui-sref="forgotPsd"><a class="h5">忘记密码</a></span>
                        <span style="padding-left:70px; color:#072ee8; font-weight:bold" ui-sref="signup"><a class="h5">注册账号</a></span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bd">
        <ul style="position: relative; width: 1918px; height: 478px">
            <li style="background: url(Content/images/theme-pic2.jpg) center 0px no-repeat; position: absolute; width: 1918px; left: 0px; top: 0px;  display: none"></li>
            <li style="background: url(Content/images/theme-pic1.jpg) center 0px no-repeat; position: absolute; width: 1918px; left: 0px; top: 0px; display: list-item"></li>
        </ul>
    </div>
    <div class="hd"><ul><li class="">1</li><li class="on">2</li></ul></div>
</div>
