<style>
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin: 0;
        padding: 0;
    }

    #myTab li {
        width: 25%;
        float: left;
        height: 40px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        #myTab li img {
            float: left;
            height: 40px;
        }

        #myTab li a {
            color: white;
            text-align: center;
            position: relative;
            display: block;
            padding: 10px 15px;
        }

    .blue {
        background: #0f9af2;
    }

    .gray {
        background: #dfdfdf;
    }

    .tabPaneUl {
        width: 700px;
        margin: 0 auto;
        list-style: none;
    }

        .tabPaneUl li {
            height: 40px;
            line-height: 40px;
        }

    .tab-pane {
        margin-top: 50px;
    }

    .container > header h1,
    .container > header h2 {
        color: #0e0101;
        text-shadow: 0 1px 1px rgba(10,0,0,0.7);
        text-align: center;
    }
</style>

<div id="page-inner" class="container">
    <header>
        <h1><span class="pull-right"><a href="#" class="text-success"><i class="glyphicon glyphicon-backward"></i></a></span><strong>Auctus系统注册</strong></h1>
    </header>
    <div class="row" style="margin-top:10px">
        <ul id="myTab" role="tablist">
            <li id="step1Li" class="active blue" ng-click="sign.ThisTap(0)">
                <a role="tab">1.协议阅读</a>
            </li>
            <li id="step2Li" ng-class="{ 'gray' : sign.process <1,'blue':sign.process >=1 }" ng-click="sign.ThisTap(1)">
                <img ng-src="{{ sign.SetImg(1) }}" />
                <a role="tab"> 2.填写账号信息</a>
            </li>
            <li id="step3Li" ng-class="{ 'gray' : sign.process <2,'blue':sign.process >=2 }" ng-click="sign.ThisTap(2)">
                <img ng-src="{{ sign.SetImg(2) }}" />
                <a role="tab"> 3.完善信息 </a>
            </li>
            <!--<li id="step3Li" ng-class="{ 'gray' : sign.process <3,'blue':sign.process >=3 }" ng-click="sign.ThisTap(3)">
                <img ng-src="{{ sign.SetImg(3) }}" />
                <a role="tab"> 4.填写联系人 </a>
            </li>-->
            <li id="step3Li" ng-class="{ 'gray' : sign.process <3,'blue':sign.process >=3 }" ng-click="sign.ThisTap(3)">
                <img ng-src="{{ sign.SetImg(3) }}" />
                <a role="tab"> 4.完成注册 </a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content mt-1">
            <div id="step1" class="tab-pane fade" ng-class="{ 'active in' : sign.indextab == 0 }">
                <div class="panel panel-default" ng-form="sign.Form">
                    <div class="panel-body">
                        <div class="scroll-y" style="height:540px">
                            <div data-ng-include="'Access/SignUpProtocol.html' "></div>
                            <div class="checkbox m-b-md m-t-none text-center" ng-class="{ 'has-error' : sign.Form.Agree.$invalid }">
                                <label class="i-checks">
                                    <input type="checkbox" name="Agree" ng-model="sign.Item.IsAgree" ng-change="sign.Agree()" required><i></i> 同意协议
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step2" class="tab-pane fade" ng-class="{ 'active in' : sign.indextab == 1 }">
                <div class="panel panel-default" ng-form="sign.OneForm">
                    <div class="panel-body">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="panel panel-default wrapper-md">
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">注册账号:</label>
                                            <div class="col-md-9" ng-class="{ 'has-error' : sign.OneForm.Account.$invalid }">
                                                <input placeholder="请填写账号" name="Account" class="form-control" ng-minlength="8" ng-maxlength="16" ng-model="sign.Item.Account"
                                                       ng-pattern="/^(?![^a-zA-Z]+$)|(?!\D+$)/" ng-change="sign.checkAccount()" required>
                                                <div ng-messages="sign.OneForm.Account.$error" class="help-block h6" role="alert">
                                                    <div ng-message="minlength">账号必须大于8位</div>
                                                    <div ng-message="maxlength">账号必须小于16位</div>
                                                    <div ng-message="pattern">账号必须为8-16位字母、数字</div>
                                                    <div ng-message="isExists">账号已经存在</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">密码:</label>
                                            <div class="col-md-9" ng-class="{ 'has-error' : sign.OneForm.Password.$invalid }">
                                                <input type="password" name="Password" class="form-control" ng-minlength="8" ng-maxlength="16" placeholder="密码" ng-model="sign.Item.Password"
                                                       ng-pattern="/^(?![^a-zA-Z]+$)(?!\D+$)/" ng-change="sign.checkPwdSign()" required>
                                                <div ng-messages="sign.OneForm.Password.$error" class="help-block h6" role="alert">
                                                    <div ng-message="minlength">密码必须大于8位</div>
                                                    <div ng-message="maxlength">密码必须小于16位</div>
                                                    <div ng-message="pattern">密码必须为8-16位字母、数字</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">确认密码:</label>
                                            <div class="col-md-9" ng-class="{ 'has-error' : sign.OneForm.PasswordSign.$invalid }">
                                                <input type="password" name="PasswordSign" class="form-control" ng-minlength="8" ng-maxlength="16" placeholder="密码确认" ng-model="sign.Item.PasswordSign"
                                                       ng-pattern="/^(?![^a-zA-Z]+$)(?!\D+$)/" ng-change="sign.checkPwdSign()" required>
                                                <div ng-messages="sign.OneForm.PasswordSign.$error" class="help-block h6" role="alert">
                                                    <div ng-message="minlength">密码必须大于8位</div>
                                                    <div ng-message="maxlength">密码必须小于16位</div>
                                                    <div ng-message="pattern">密码必须为8-16位字母、数字</div>
                                                    <div ng-message="check">密码不一致</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-lg-9">
                                            <button type="button" ng-disabled="sign.OneForm.$invalid || !sign.Item.IsAgree" class="btn btn-sm btn-success pull-right col-md-2" ng-click="sign.Next(2)">下一步</button>
                                            <!--<button type="button" class="btn btn-sm btn-success pull-right" ng-click="sign.Next(2)">下一步</button>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step3" class="tab-pane fade" ng-class="{ 'active in' : sign.indextab == 2 }">
                <div class="panel panel-default" ng-form="sign.TwoForm">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-3">公司名称:</label>
                                    <div class="col-md-9" ng-class="{ 'has-error' : sign.TwoForm.CompanyName.$invalid }">
                                        <input placeholder="请填写公司全称" name="CompanyName" class="form-control" ng-maxlength="255" ng-model="sign.Item.CompanyName" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">公司授权联系人:</label>
                                    <div class="col-md-9" ng-class="{ 'has-error' : sign.TwoForm.Contact.$invalid }">
                                        <input placeholder="姓名" name="Contact" class="form-control" ng-maxlength="50" ng-model="sign.Item.Contact" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">联系人手机:</label>
                                    <div class="col-md-9" ng-class="{ 'has-error' : sign.TwoForm.Mobile.$invalid }">
                                        <input type="text" placeholder="联系人手机" name="Mobile" class="form-control" ng-maxlength="20" ng-model="sign.Item.Mobile"
                                               ng-pattern="/^[\d\+\-\(\)]+$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">NDA协议下载:</label>
                                    <div class="col-md-9 text-warning">
                                        <p>请下载NDA协议并仔细阅读，签署后寄送至力同科技股份有限公司，该协议将成为注册审核的重要依据。</p>
                                        <p class="text-danger">
                                            寄送地址请与对接人沟通。
                                            <button class="btn btn-sm pull-right bg-success" ng-click="sign.DownloadNDA()">
                                                <i class="glyphicon glyphicon-download"></i>下载NDA
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-md-3">公司邮箱:</label>
                                    <div class="col-md-9" ng-class="{ 'has-error' : sign.TwoForm.Email.$invalid }">
                                        <input placeholder="请填写公司正式接收的邮箱（带公司简称后缀）" type="email" name="Email" class="form-control" ng-maxlength="30"
                                               ng-pattern="/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/" ng-model="sign.Item.Email" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">联系人座机:</label>
                                    <div class="col-md-9" ng-class="{ 'has-error' : sign.TwoForm.Phone.$invalid }">
                                        <input placeholder="联系人座机" name="Phone" class="form-control" ng-maxlength="50" ng-model="sign.Item.Phone"
                                               ng-pattern="/^[\d\+\-\(\)]+$/" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">联系人职务:</label>
                                    <div class="col-md-9" ng-class="{ 'has-error' : sign.TwoForm.Position.$invalid }">
                                        <input placeholder="请填写所在公司任职职务" name="Position" class="form-control" ng-maxlength="30" ng-model="sign.Item.Position" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 wrapper-xl v-bottom">
                            <button type="button" class="btn btn-sm btn-success col-md-2 pull-right"
                                    ng-disabled="sign.TwoForm.$invalid || !sign.Item.IsAgree || sign.OneForm.$invalid" ng-click="sign.ThreeNext()">
                                下一步
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="step4" class="tab-pane fade" ng-class="{ 'active in' : sign.indextab == 3 }">
                <div class="col" ng-if="!sign.Mes">
                    <div id="bower" class="wrapper"></div>
                    <div class="line b-b"></div>
                    <h2 class="m-t-xl text-center">确认注册</h2>
                    <br /><br /><br />
                    <p>
                        您已确认信息填写无误并已仔细核对过！您应明白<code> 您填写的注册信息将接受力同的审核，</code>审核通过后，系统会发送邮件至您注册时填写的邮箱告知您的注册账号信息。
                        <br />You have confirmed that the information is completed and checked carefully. <code>You should understand that the registration information you fill in will be subject to our company's audit. </code>
                        After approval, the system will send mail to your registration when you fill in the mailbox to inform your registration account information.
                    </p><br />
                    <div class="col-md-12 wrapper-xl text-center">
                        <span class="btn btn-success col-md-2 pull-none"
                                ng-disabled="sign.TwoForm.$invalid || !sign.Item.IsAgree || sign.OneForm.$invalid || sign.ThreeForm.$invalid" ng-click="sign.Register()">
                            确认完成注册
                        </span>
                    </div>
                </div>
                <div ng-if="sign.Mes" class="h3 text-center text-success">{{ sign.Mes }}</div>
                <br /><br /><br /><br /><br />
            </div>
        </div>
    </div>
</div>
<!--<pre>{{ sign.Item | json }}</pre>-->
