<div class="app-content-full" cg-busy="bar.promise">
    <div class="hbox hbox-auto-xs hbox-auto-sm bg-light">
        <div class="col w-md lt b-r text-xs">
            <div class="vbox">
                <div class="wrapper">
                    <div class="h4 text-center">标签类型</div>
                </div>
                <div class="wrapper-sm b-t">
                    <div class="form-group">
                        <div class="input-group">
                            <input autocomplete="off"  type="text" class="form-control input-sm" placeholder="查询" ng-model="bar.TypeQuery">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" ng-click="bar.Insert()">
                                    <i class="glyphicon glyphicon-plus text-success">新增</i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="wrapper-xs">
                                <div class="list-group">
                                    <a ng-repeat="item in bar.List | filter:bar.TypeQuery " class="list-group-item b-l-3x hover-anchor cl" ng-class="{'hover': item.ID == bar.SelectedType.ID, ' b-l-info':$index%2==0, 'b-l-primary':$index%2==1}" ng-click="bar.SelectType(item)">
                                        <span class="pull-left h2 mr-1 text-success">
                                            <i class="fa fa-certificate"></i>
                                        </span>
                                        <div class="clear ml-1">
                                            <span class="block text-info text-lg" ng-bind-html="item.TypeCode | highlight: bar.EntityQuery" ng-click="bar.SelectEn(item)"></span>
                                            <small class="text-muted">
                                                <span>{{ item.TypeName }}</span>
                                            </small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col w-auto w-lg lt b-r text-xs">
            <div class="vbox">
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="wrapper-md">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input autocomplete="off"  type="text" class="form-control" ng-model="bar.Ser.Name" placeholder="标签名">
                                    </div>
                                    <button class="btn btn-sm btn-info" ng-click="bar.Search()"><i class="glyphicon glyphicon-search"></i>查询</button>
                                    <button class="btn btn-sm btn-success" ng-click="bar.NewLabel()"><i class="glyphicon glyphicon-plus"></i>新增</button>
                                </div>
                            </div>
                            <div class="wrapper-xs">

                                <div class="col-md-4" ng-repeat="item in bar.BarList">
                                    <div class="panel" ng-class="{'panel-danger':item.Have==0, 'panel-success':item.Have==1}" title="{{ item.Have==1 ? 'MES 标签':'旧系统标签' }}">
                                        <div class="panel-heading text-center">
                                            <a class="h5 pull-left thumb-sm text-success" ng-click="bar.Edit(item)" title="编辑"><i class="glyphicon glyphicon-edit"></i></a>
                                            <a class="h5">{{ item.Name }}</a>
                                            <a class="h5 pull-right thumb-sm text-danger" ng-confirm="{text:'确定要删除吗'}" ng-click="bar.Delete(item)" title="删除"><i class="glyphicon glyphicon-remove"></i></a>
                                        </div>
                                        <div class="panel-body">
                                            <article class="media">
                                                <small class="media-left pull-left">最近更新:</small>
                                                <div class="media-body">
                                                    <small class="block">{{ item.TS | date:'yyyy-MM-dd HH:mm:ss' }}</small>
                                                    <span></span>
                                                </div>
                                            </article>
                                            <article class="media scroll-y" style="height:20px">
                                                <small class="media-left pull-left">标签类型:</small>
                                                <div class="media-body">
                                                    <small class="block" replace-enter="item.TypeName"></small>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center" ng-if="bar.page.total>bar.page.size">
                                    <div uib-pagination total-items="bar.page.total" ng-model="bar.page.index" items-per-page="bar.page.size" max-size="10" first-text="第一页" previous-text="上一页"
                                         ng-change="bar.PageChange()" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="true"></div>
                                </div>


                                <!--<pre>{{ bar.BarList | json }}</pre>-->


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
