<uib-tabset active="active" type="tabs" class="h-100" cg-busy="sn.promise">
    <uib-tab index="0" select="sn.SelectTab(0)" deselect="sn.SelectTab(-1)">
        <uib-tab-heading class="h5">条码生成</uib-tab-heading>
        <div class="wrapper-xs">
            <div class="col-sm-5 padder-xs">
                <div class="panel panel-default" ng-form="sn.BindingForm">
                    <div class="panel-heading font-bold">条码生成</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group col-md-12 padder-xxs">
                                <label class="col-sm-3 control-label">包装工单</label>
                                <div class="col-sm-8" ng-class="{ 'has-error' : sn.BindingForm.Order.$invalid }">
                                    <!--<ui-select ng-model="sn.Item.WorkOrder" theme="bootstrap" ng-keyup="sn.KeyDonwOrder($event)" name="Order" ng-required="true">
                                        <ui-select-match>{{ $select.selected.WorkOrder }}</ui-select-match>
                                        <ui-select-choices repeat="item.WorkOrder as item in sn.OrderList | orderBy:'WorkOrder':true | filter: $select.search">
                                            <div ng-bind-html="item.WorkOrder | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>-->

                                    <input type="text" name="Order" ng-model="sn.Item.WorkOrder" uib-typeahead="item.WorkOrder as item.WorkOrder for item in sn.OrderList | orderBy: 'WorkOrder':true | filter:{WorkOrder:$viewValue} | limitTo:8"
                                           class="form-control" placeholder="工单号" ng-keyup="sn.KeyDonwOrder($event)" required>
                                </div>
                            </div>
                            <div class="form-group col-md-12 padder-xxs">
                                <label class="col-sm-3 control-label">编码规则</label>
                                <div class="col-sm-8 form-control-static">
                                    <span class="form-control-static h4 text-danger" ng-if="sn.OrderData">{{ sn.OrderData.TbName }}/{{sn.OrderData.ClName}}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-12 padder-xxs" ng-if="sn.OrderData.IMEI_TbName&&sn.OrderData.IMEI_TbName != ''">
                                <label class="col-sm-3 control-label">IMEI码规则</label>
                                <div class="col-sm-8 form-control-static">
                                    <span class="form-control-static h4 text-danger" ng-if="sn.OrderData">{{ sn.OrderData.IMEI_TbName }}/{{sn.OrderData.IMEI_ClName}}</span>
                                </div>
                            </div>
                            <div class="form-group col-md-12 padder-xxs">
                                <label class="col-sm-3 control-label">生产条码</label>
                                <div class="col-sm-8" ng-class="{ 'has-error' : sn.BindingForm.InCode.$invalid }">
                                    <input type="text" class="form-control SnFocus" name="InCode" ng-model="sn.NewBind.InternalCode" placeholder="生产条码" ng-keyup="sn.KeyDonwInCode($event)" required>

                                </div>
                            </div>
                            <div class="form-group col-md-12 padder-xxs">
                                <label class="col-sm-3 control-label">打印方式</label>
                                <div class="col-sm-8">
                                    <span class="btn-group">
                                        <label class="btn btn-default btn-success reset" ng-model="sn.PrintType" uib-btn-radio="'N'">不打印</label>
                                        <label class="btn btn-default btn-success reset" ng-model="sn.PrintType" uib-btn-radio="'G'">一般打印</label>
                                        <label class="btn btn-default btn-success reset" ng-model="sn.PrintType" uib-btn-radio="'L'">镭雕打印</label>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-12 padder-xxs">
                                <label class="col-sm-3 control-label">SN码</label>
                                <div class="col-sm-8" ng-class="{ 'has-error' : sn.BindingForm.SnCode.$invalid }">
                                    <input type="text" class="form-control" ui-focus="sn.Focus.SnCode" name="SnCode" ng-model="sn.NewBind.SNCode" placeholder="SN码" ng-keyup="sn.KeyDonwSnCode($event)" required disabled>
                                </div>
                            </div>
                            <!--<div class="form-group col-md-12 padder-xxs">
                                <div class="col-sm-offset-3 col-lg-8">
                                    <div class="checkbox col-md-5">
                                        <label class="i-checks">
                                            <input type="checkbox" ng-model="sn.IsAuto"><i></i> 自动绑定
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="submit" class="btn btn-sm btn-success" ng-click="sn.BindCode()" ng-disabled="sn.BindingForm.$invalid || sn.IsAuto || sn.KeySn">绑定</button>
                                    </div>
                                </div>
                            </div>-->
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <div class="form-group col-md-12 padder-xxs">
                                <label class="col-sm-3 control-label h4 text-danger font-bold">不良录入</label>
                                <div class="col-sm-8 has-error">
                                    <input type="text" class="form-control" ng-model="sn.Item.NgInCode" placeholder="不良条码" ng-keyup="sn.KeyDonwInCodeNg($event)">
                                    <div class="h6 text-danger">扫描不良内控码录入不良</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default scroll-y m-t-n-sm bar-xs" style="max-height:350px">
                    <div class="panel-heading font-bold text-center">绑定信息展示</div>
                    <div class="panel-body">
                        <div class="list-group">
                            <ul class="list-group bg-white">
                                <li class="list-group-item" ng-repeat="item in sn.MesList track by item.Id" ng-class="{ 'text-danger' : !item.IsOk, 'text-success':item.IsOk }">
                                    <span herf class="pull-left">
                                        <i class="glyphicon" ng-class="{ 'glyphicon-remove' : !item.IsOk, 'glyphicon-ok':item.IsOk }"></i>
                                    </span>
                                    <div class="clear">
                                        <div>{{ item.Msg }}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 padder-xs" ng-form="sn.UpdateForm">
                <div class="panel panel-default scroll-y" style="max-height:600px">
                    <div class="panel-heading font-bold text-center">
                        包装工单 <span class="h4 font-bold text-info">{{ sn.OrderData.WorkOrder }}</span>信息
                    </div>
                    <div class="panel-body h5">
                        <div class="form-horizontal" ng-show="sn.OrderData">
                            <div class="form-group-sm col-lg-12 padder-xxs">
                                <label class="control-label col-sm-2">产品编号:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold">{{sn.OrderData.MaterialCode}}</p>
                                </div>
                                <label class="control-label col-sm-2">产品名称:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold">{{sn.OrderData.MaterialName}}</p>
                                </div>
                            </div>
                            <div class="form-group-sm col-lg-12 padder-xxs">
                                <label class="control-label col-sm-2">计划日期:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold">{{sn.OrderData.AssemblyDate}}</p>
                                </div>
                                <label class="control-label col-sm-2">产线名称:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold">{{sn.OrderData.AssemblyLineName}}</p>
                                </div>
                            </div>
                            <div class="form-group-sm col-lg-12 padder-xxs">
                                <label class="control-label col-sm-2">出货地:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold">{{sn.OrderData.SendPlaceName}}</p>
                                </div>
                                <label class="control-label col-sm-2">ERP销售单:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold">{{sn.OrderData.ERPSO}}</p>
                                </div>
                            </div>
                            <div class="form-group-sm col-lg-12 padder-xxs">
                                <label class="control-label col-sm-2">工单数量:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold h4 text-success">{{sn.OrderData.Quantity}}</p>
                                </div>
                                <label class="control-label col-sm-2">ERP订单数:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold">{{sn.OrderData.ERPQuantity}}</p>
                                </div>
                            </div>
                            <div class="form-group-sm col-lg-12 padder-xxs">
                                <label class="control-label col-sm-2">最大可投量:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold  h4 text-success">{{sn.OrderData.MaxOverCount}}</p>
                                </div>
                                <label class="control-label col-sm-2">标签模版</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold text-success">{{sn.OrderData.TemplateName}}</p>
                                </div>
                            </div>

                            <div class="form-group-sm col-lg-12 padder-xxs">
                                <label class="control-label col-sm-2 padder-xs">累计生成:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold  h4 text-success">{{sn.OrderCount.AllSnSum}}</p>
                                </div>
                                <label class="control-label col-sm-2 padder-xs">今日生成:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold  h4 text-success">{{sn.OrderCount.TodaySnSum}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default scroll-y m-t-n-sm" style="max-height:600px">
                    <div class="panel-heading font-bold text-center">
                        组装工单 <span class="h4 font-bold text-info">{{ sn.OrderCount.WorkOrder }}</span>SN生成工序 过站信息
                    </div>
                    <div class="panel-body h5">
                        <div class="form-horizontal" ng-show="sn.OrderData">
                            <div class="form-group-sm col-lg-12 padder-xxs">
                                <label class="control-label col-sm-2 padder-xs">总合格数:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold  h4 text-success">{{sn.AssOrderCount.ProOKSum}}</p>
                                </div>
                                <label class="control-label col-sm-2 padder-xs">上站总合格数:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold  h4 text-success">{{sn.AssOrderCount.LagProOKSum}}</p>
                                </div>
                            </div>
                            <div class="form-group-sm col-lg-12 padder-xxs">
                                <label class="control-label col-sm-2 padder-xs">今日合格:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold  h4 text-success">{{sn.AssOrderCount.TodayOKSum}}</p>
                                </div>
                                <label class="control-label col-sm-2 padder-xs">今日不良:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold  h4 text-success">{{sn.AssOrderCount.TodayNgSum}}</p>
                                </div>
                            </div>
                            <div class="form-group-sm col-lg-12 padder-xxs">
                                <label class="control-label col-sm-2 padder-xs">总维修:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold  h4 text-success">{{sn.AssOrderCount.ProRepairSum}}</p>
                                </div>
                                <label class="control-label col-sm-2 padder-xs">今日维修:</label>
                                <div class="col-sm-4">
                                    <p class="form-control-static font-bold  h4 text-success">{{sn.AssOrderCount.TodayRepairSum}}</p>
                                </div>
                            </div>
                            <div class="form-group-xs col-md-12 h2 text-danger">
                                <label class="control-label col-sm-6 padder-xs">本站留存数:</label>
                                <div class="col-sm-6">
                                    <p class="form-control-static font-bold">{{ wo.CalData.NotDoneNum }}</p>
                                </div>
                            </div>
                            <div class="form-group-xs col-md-12 h1 text-warning">
                                <label class="control-label col-sm-6 padder-xs">请注意把握速度！</label>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </uib-tab>
    <uib-tab index="1">
        <uib-tab-heading class="h5">已绑定列表</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ui-focus="sn.Focus == -1" ng-model="sn.Ser.InCode" placeholder="内控码">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="sn.Ser.SNCode" placeholder="SN码">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="sn.Ser.Mo" placeholder="生成工单"
                           uib-typeahead="item.WorkOrder as item.WorkOrder for item in sn.AllOrderList | orderBy:'WorkOrder':true | filter:{WorkOrder:$viewValue} | limitTo:8">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="sn.Ser.PackMo" placeholder="SN生成工单" 
                           uib-typeahead="item.WorkOrder as item.WorkOrder for item in sn.AllOrderList | orderBy:'WorkOrder':true | filter:{WorkOrder:$viewValue} | limitTo:8">
                </div>
                <button class="btn btn-sm btn-info" ng-click="sn.Search()"><i class="glyphicon glyphicon-search"></i>查询</button>
                <button class="btn btn-sm btn-success" ng-click="sn.ExportExcel()"><i class="glyphicon glyphicon-export"></i> 导出</button>
            </div>
        </div>
        <div class="padder-md">
            <table class="table one-line">
                <thead>
                    <tr>
                        <td class="col-md-1">内控码</td>
                        <td class="col-md-1">SN码</td>
                        <td class="col-md-1">组装工单</td>
                        <td class="col-md-1">组装料号</td>
                        <td class="col-md-1">组装料名</td>
                        <td class="col-md-1">SN生成工单</td>
                        <td class="col-md-1">SN生成料号</td>
                        <td class="col-md-1">SN生成料名</td>
                        <td class="col-md-1">操作人</td>
                        <td class="col-md-1">操作时间</td>
                    </tr>
                </thead>
                <tr ng-repeat="item in sn.BindList">
                    <td title="{{ item.InternalCode }}">{{ item.InternalCode }}</td>
                    <td title="{{ item.SNCode }}">{{ item.SNCode }}</td>
                    <td title="{{ item.SNMo }}">{{ item.SNMo }}</td>
                    <td title="{{ item.MateCode }}">{{ item.MateCode }}</td>
                    <td title="{{ item.MateName }}">{{ item.MateName }}</td>
                    <td title="{{ item.PackMo }}">{{ item.PackMo }}</td>
                    <td title="{{ item.PackMateCode }}">{{ item.PackMateCode }}</td>
                    <td title="{{ item.PackMateName }}">{{ item.PackMateName }}</td>
                    <td title="{{ item.CreateBy }}">{{ item.CreateBy }}</td>
                    <td title="{{ item.TS }}">{{ item.TS }}</td>
                </tr>
            </table>
            <div class="col-md-12 text-center" ng-if="sn.page.total>sn.page.size">
                <div uib-pagination total-items="sn.page.total" ng-model="sn.page.index" items-per-page="sn.page.size" max-size="10" first-text="第一页" previous-text="上一页"
                     ng-change="sn.PageChange()" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="true"></div>
            </div>
        </div>
        <!--<pre>{{ sn.BindList | json }}</pre>-->
    </uib-tab>
    <uib-tab index="2">
        <uib-tab-heading class="h5">SN码补打印</uib-tab-heading>
        <div class="wrapper-md">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                        SN码补打印
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">内部码/SN码</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" name="InSn" ng-model="sn.PrintItem.InternalCode" placeholder="扫描内部码/SN码" ng-keyup="sn.KeyDonwPrint($event)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="3">
        <uib-tab-heading class="h5">SN码镭雕补打印</uib-tab-heading>
        <div class="wrapper-md">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                        SN码镭雕补打印
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-lg-3 control-label">内部码/SN码</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" name="LightInSn" ng-model="sn.PrintItem.InternalCode" placeholder="扫描内部码/SN码" ng-keyup="sn.KeyDonwLightPrint($event)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
<div class="bsn-ng dialog dialog-full">
    <div class="padder-xs scroll-y">
        <div class="panel panel-info">
            <div class="panel-heading h3 text-center">
                <span class="font-bold text-danger h2">{{ sn.NgItem.InCode }}</span>复位不良采集
                <button style="width:200px" ui-remove-class="active" target=".bsn-ng" class="btn btn-lg btn-warning h1 pull-left m-t-n-xs" type="button" ng-click="sn.cancel()">关闭</button>
            </div>
            <div class="panel-body wrapper-xs padder-v-xxs" ng-form="QcForm">
                <div class="col-md-12 no-padder">
                    <div class="panel panel-default">
                        <div class="panel-body scroll-y padder-xs padder-v-xs" style="max-height:600px">
                            <div class="col-md-4 col-sm-4 col-xs-4 m-t-md padder-lg" ng-repeat="item in sn.TypeList">
                                <button style="height:90px" class="btn-group-vertical h2 btn-lg w-full btn-primary"
                                        ng-click="sn.DialogItem.NgType=item.ID; sn.ChangeMonitor()"
                                        ng-class="{'btn-outline-primary':$index%2==0, 'btn-outline-success':$index%2==1, 'btn-success':sn.DialogItem.NgType==item.ID}">
                                    <span class="h1">{{ item.Name }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                </div><br />
            </div>
        </div>
    </div>
</div>
