<uib-tabset active="active" type="tabs" class="h-100" cg-busy="ma.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">物料信息管理</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <button class="btn btn-sm btn-success " ng-click="ma.Insert() "><i class="glyphicon glyphicon-plus "></i>新增</button>
                <div class="form-group">
                    <input type="text" class="form-control"  ng-model="ma.Ser.a_MaterialCode" placeholder="料品">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  ng-model="ma.Ser.a_MaterialName" placeholder="料名">
                </div>
                <div class="form-group">
                    <div basic-select="MaterialType" ng-model="ma.Ser.MaterialTypeID" clear="true" name="MaterialTypeID" placeholder="物料分类">
                    </div>
                </div>
                    <div class="form-group">
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.Unit.$invalid }">
                            <div config-select ng-model="ma.Ser.a_MaterialState" config-option="ma.State" auto-first="true" ng-name="a_MaterialName" placeholder="是否启用"></div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-info " ng-click="ma.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
                </div>
        </div>
        <div class= "padder-md ">
            <table class= "table one-line" >
                <thead>
                    <tr>
                        <td style="width:60px ">编辑</td>
                        <td style= "width:100px ">料品</td>
                        <td style="width:180px ">料名</td>
                        <!--<td style= "width:100px ">编码规则名称</td>-->
                        <td style="width:70px ">编码规则</td>
                        <td style="width:70px ">IMEI规则</td>
                        <td style="width:90px ">每卡板卡通数</td>
                        <td style= "width:60px ">彩盒数</td>
                        <td style="width:100px ">每箱单机头</td>
                        <td style= "width:100px ">创建人</td>
                        <td style= "width:100px ">创建时间</td>
                        <td style="width:80px ">修改人</td>
                        <td style= "width:100px ">修改时间</td>
                        
                    </tr>
                </thead>
                <tr ng-repeat="item in ma.List ">
                    <td>
                        <button class="btn btn-xs btn-primary" title="编辑" ng-click="ma.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                        <!--<button class="btn btn-xs btn-danger" title="删除" ng-confirm="{text:'确定要删除吗'}" ng-click="ma.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>-->
                    </td>
                    <td title="{{ item.MaterialCode }}">{{ item.MaterialCode }}</td>
                    <td title="{{ item.MaterialName }}">{{ item.MaterialName }}</td>
                    <!--<td title="{{ item.TbName }}">{{ item.TbName }}</td>-->
                    <td title="{{ item.ClName }}">{{ item.ClName }}</td>
                    <td title="{{ item.IMEI_ClName }}">{{ item.IMEI_ClName }}</td>
                    <td title="{{ item.BoxCount }}">{{ item.BoxCount }}</td>
                    <td title="{{ item.ColorBoxCount }}">{{ item.ColorBoxCount }}</td>
                    <td title="{{ item.PerBoxCount }}">{{ item.PerBoxCount }}</td>
                    <td title="{{ item.CreateName }}">{{ item.CreateName }}</td>
                    <td title="{{ item.CreateDate }}">{{ item.CreateDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td title="{{ item.ModifyName }}">{{ item.ModifyName }}</td>
                    <td title="{{ item.ModifyDate }}">{{ item.ModifyDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                </tr>
            </table>
            <div class= "col-md-12 text-center " ng-if= "ma.page.total>ma.page.size ">
                <div uib-pagination total-items= "ma.page.total " ng-model= "ma.page.index " items-per-page= "ma.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "ma.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
