<div class="wrapper-xs">
    <div class="col-sm-5">
        <div class="panel panel-default" ng-form="pk.OrderForm">
            <div class="panel-heading font-bold text-center">包装上线</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group-xs col-xs-12">
                        <label class="col-xs-3 control-label">输入工单</label>
                        <div class="col-xs-8" ng-class="{ 'has-error' : pk.OrderForm.pk.$invalid }">
                            <input autocomplete="off"  type="text" name="Order" ng-model="pk.Item.WorkOrder" uib-typeahead="item.WorkOrder as item.WorkOrder for item in pk.OrderList | orderBy: 'FirstChar' | filter:$viewValue | limitTo:8"
                                  ui-focus="pk.Focus.Order"  class="form-control" placeholder="工单号" ng-keyup="pk.KeyDonwOrder($event)" required>
                        </div>
                    </div>
                    <div class="form-group-xs col-xs-12">
                        <label class="col-xs-3 control-label">工艺流程</label>
                        <div class="col-xs-8" ng-class="{ 'has-error' : pk.OrderForm.router.$invalid }">
                            <ui-select name="router" ng-model="pk.RoutingData" theme="bootstrap" search-enabled="true" ng-required="true">
                                <ui-select-match placeholder="选择工艺..." class="h6">{{ $select.selected.RouteName }}</ui-select-match>
                                <ui-select-choices repeat="item in pk.RoutingList | filter: $select.search track by item.ID">
                                    <div ng-bind-html="item.RouteName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group-xs col-xs-12">
                        <label class="col-xs-3 control-label">当前工序</label>
                        <div class="col-xs-8 form-control-static">
                            <span class="text-info font-bold" ng-if="pk.RoutingData.Code">
                                <!--[{{ pk.RoutingData.Code }}]-->
                                {{ pk.RoutingData.ProcedureName }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group-xs col-xs-12 m-t-sm">
                        <label class="col-xs-3 control-label">内控码/SN</label>
                        <div class="col-xs-8" ng-class="{ 'has-error' : pk.OrderForm.InCode.$invalid }">
                            <input autocomplete="off"  type="text" ng-disabled="pk.OrderForm.pk.$invalid|| pk.OrderForm.router.$invalid" class="form-control" ui-focus="pk.Focus.InCode" 
                                   name="InCode" ng-model="pk.Item.InCode" placeholder="内控码/SN" ng-keyup="pk.KeyDonwInCode($event)" required>
                            <div class="h6 text-danger">扫描内控码/SN上线</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default scroll-y" style="max-height:350px">
            <div class="panel-heading font-bold text-center">信息显示</div>
            <div class="panel-body">
                <div class="list-group">
                    <ul class="list-group bg-white">
                        <li class="list-group-item" ng-repeat="item in pk.MesList track by item.Id" ng-class="{ 'text-danger' : !item.IsOk, 'text-success':item.IsOk }">
                            <span herf class="pull-left">
                                <i class="glyphicon" ng-class="{ 'glyphicon-remove' : !item.IsOk, 'glyphicon-ok':item.IsOk }"></i>
                            </span>
                            <div class="clear">
                                <div>{{ item.Msg }}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6" ng-form="pk.UpdateForm">
        <div class="panel panel-default scroll-y" style="max-height:600px">
            <div class="panel-heading font-bold text-center">
                工单 <span class="h4 font-bold text-info">{{ pk.OrderData.WorkOrder }}</span>信息
            </div>
            <div class="panel-body h5">
                <div class="form-horizontal" ng-show="pk.OrderData">
                    <div class="form-group">
                        <label class="control-label col-sm-2 padder-xs">产品编号:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold">{{pk.OrderData.MaterialCode}}</p>
                        </div>
                        <label class="control-label col-sm-2 padder-xs">产品名称:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold">{{pk.OrderData.MaterialName}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 padder-xs">计划日期:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold">{{pk.OrderData.AssemblyDate | date:'yyyy-MM-dd'}}</p>
                        </div>
                        <label class="control-label col-sm-2 padder-xs">产线名称:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold">{{pk.OrderData.AssemblyLineName}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 padder-xs">出货地:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold">{{pk.OrderData.SendPlaceName}}</p>
                        </div>
                        <label class="control-label col-sm-2 padder-xs">ERP销售单:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold">{{pk.OrderData.ERPSO}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 padder-xs">工单数量:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold h4 text-success">{{pk.OrderData.Quantity}}</p>
                        </div>
                        <label class="control-label col-sm-2 padder-xs">ERP订单数:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold">{{pk.OrderData.ERPQuantity}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 padder-xs">U9开工数量:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold h4 text-danger">{{pk.OrderData.TotalStartQty}}</p>
                        </div>
                        <label class="control-label col-sm-2 padder-xs">最大可投量:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold  h4 text-success">{{pk.OrderData.MaxOverCount}}</p>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        
                        <label class="control-label col-sm-2">最低直通率:</label>
                        <div class="col-sm-4">
                            <p class="form-control-static font-bold  h4 text-success">{{pk.RoutingData.LowerFPY}}%</p>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <label class="control-label col-sm-2 padder-xs">有效总投入:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold  h4 text-success">{{pk.OrderCount.ToTalCount}}</p>
                        </div>
                        <label class="control-label col-sm-2 padder-xs">今日投入:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold  h4 text-success">{{pk.OrderCount.ToDayCount}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 padder-xs">全部投入:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold  h4 text-success">{{pk.OrderCount.InNum}}</p>
                        </div>
                        <!--<label class="control-label col-sm-2 padder-xs">报废数:</label>
                        <div class="col-sm-4 padder-xs">
                            <p class="form-control-static font-bold  h4 text-success">{{pk.OrderCount.DumpNum}}</p>
                        </div>-->
                    </div>
                    <!--<div class="form-group" ng-if="pk.OrderCount.ToTalCount>pk.OrderData.ERPQuantity">
                        <label class="control-label col-sm-2">警告:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static font-bold text-danger"> 当前工单投入量已大于工单计划量</p>
                        </div>
                    </div>-->
                </div>
            </div>
            <!--<pre>{{ pk.RoutingList | json }}</pre>-->
        </div>
    </div>
    <!--<div class="col-sm-2">
        <div class="panel panel-default">
            <div class="panel-heading font-bold text-center">今日上线内控码</div>
            <div class="panel-body" style="height: 500px">
                <div class="list-group" ng-show="pk.TodayInCodeList">
                    <a class="list-group-item" ng-repeat="sn in pk.TodayInCodeList">
                        <span class="badge badge-sm bg-danger pull-left">{{ $index + 1 }}</span>
                        <span class="padder">{{ sn.InternalCode }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>-->
</div>
