<uib-tabset active="active" type="tabs" class="h-100" cg-busy="sn.promise">
    <uib-tab index="0" select="sn.SelectTab(0)" deselect="sn.SelectTab(-1)">
        <uib-tab-heading class="h5">产品SN验证</uib-tab-heading>
        <div class="wrapper-xs">
            <div class="col-sm-5">
                <div class="panel panel-default" ng-form="sn.PackageForm">
                    <div class="panel-heading font-bold text-center">产品SN验证</div>
                    <div class="panel-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">工单号</label>
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <input autocomplete="off"  type="text" ng-model="sn.Item.WorkOrder" uib-typeahead="order as order.WorkOrder for order in sn.OrderList | filter:$viewValue | limitTo:8"
                                               class="form-control" placeholder="工单号" ng-keyup="sn.KeyDonwOrder($event)" ui-focus="sn.Focus.Order">
                                        <span class="input-group-addon">
                                            <a ng-if="sn.Item.WorkOrder.ID" class="text-success"><i class="glyphicon glyphicon-ok"></i></a>
                                            <a ng-if="!sn.Item.WorkOrder.ID" class="text-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">SNCode</label>
                                <div class="col-lg-8" ng-class="{ 'has-error' : sn.PackageForm.InCode.$invalid }">
                                    <input autocomplete="off"  type="text" class="form-control" ng-disabled="sn.PackageForm.Antenna.$invalid" ui-focus="sn.Focus.SN" name="InCode" ng-model="sn.Item.SNCode" placeholder="生产条码" ng-keyup="sn.KeyDonwSnCode($event)" required>
                                    <div class="h6 text-danger">扫SN进行信息验证</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--{{ sn.Item | json }}-->
                </div>
                <div class="panel panel-default scroll-y" style="max-height:350px">
                    <div class="panel-heading font-bold text-center">信息显示</div>
                    <div class="panel-body">
                        <div class="list-group">
                            <ul class="list-group bg-white">
                                <li class="list-group-item" ng-repeat="item in sn.MesList track by item.Id" ng-class="{ 'text-danger' : !item.IsOk, 'text-success':item.IsOk }">
                                    <span herf class="pull-left">
                                        <i class="glyphicon" ng-class="{ 'glyphicon-remove' : !item.IsOk, 'glyphicon-ok':item.IsOk }"></i>
                                    </span>
                                    <div class="clear">
                                        <div>{{ item.Msg }}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" ng-if="sn.OrderData">
                <div class="panel panel-default scroll-y" style="max-height:600px">
                    <div class="panel-heading font-bold text-center">
                        <span class="btn btn-default btn-xs up pull-left" ng-disabled="sn.IsEdit" ng-show="sn.PackDetail" ng-click="sn.Edit()"><i class="glyphicon glyphicon-edit"></i>编辑</span>
                        {{ sn.OrderData.WorkOrder }}工单信息
                    </div>
                    <div class="panel-body h5">
                        <div class="form-horizontal col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-5 font-bold">产品编号:</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{sn.OrderData.MaterialCode}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-5 font-bold">生产数量:</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static h4 text-info">{{sn.OrderData.Quantity}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-5 font-bold">客户名称:</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{sn.OrderData.CustomerName}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-5 font-bold">产品名称:</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{sn.OrderData.MaterialName}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-5 font-bold">销售目的:</label>
                                <div class="col-sm-7">
                                    <p class="form-control-static">{{sn.OrderData.SendPlaceName}}</p>
                                </div>
                            </div>
                        </div>

                        <!--<pre>{{ sn.OrderData|json }}</pre>-->
                    </div>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
