<div class="modal-header">
    <h3 class="modal-title">后焊不良信息录入</h3>
</div>
<div class="modal-body wrapper-xs" ng-form="QcForm">
    <div class="panel panel-default">
        <div class="panel-body wrapper-xs">
            <div class="form-horizontal">
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4 wrapper-xs">内控码:</label>
                    <div class="col-md-8 wrapper-xs">
                        <span class="h4 font-bold text-info form-control-static">{{ woHH.Item.InCode }}</span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4 wrapper-xs">产品编号:</label>
                    <div class="col-md-8 wrapper-xs">
                        <span class="h4 font-bold text-info  form-control-static">{{ woHH.Item.MaterialCode }}</span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4 wrapper-xs">工单:</label>
                    <div class="col-md-8 wrapper-xs">
                        <span class="form-control-static">{{ woHH.Item.WorkOrder }}</span>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label col-md-4 wrapper-xs">产品名称:</label>
                    <div class="col-md-8 wrapper-xs">
                        <span class="form-control-static">{{ woHH.Item.MaterialName }}</span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4 wrapper-xs">当前工艺:</label>
                    <div class="col-md-8 wrapper-xs">
                        <span class="form-control-static  text-success font-bold">{{ woHH.Item.RoutingName }}</span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4 wrapper-xs">当前工序:</label>
                    <div class="col-md-8 wrapper-xs">
                        <span class="form-control-static text-success font-bold">{{ woHH.Item.ProcedureName }}</span>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <!--<div class="col-md-6">-->
                    <label class="control-label col-md-4 wrapper-xs">不良种类:</label>
                    <div class="col-md-8" ng-class="{ 'has-error' : QcForm.ngType.$invalid }">
                        <ui-select name="ngType" ng-model="woHH.DialogItem.NgType" theme="bootstrap" required ng-change="woHH.ChangeMonitor()">
                            <ui-select-match placeholder="选择不良种类...">{{ $select.selected.Name }}</ui-select-match>
                            <ui-select-choices repeat="item.ID as item in woHH.TypeList | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                <!--<small ng-bind-html="item.Name | highlight: $select.search"></small>-->
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label col-md-4 wrapper-xs">不良信息:</label>
                    <div class="col-md-8" ng-class="{ 'has-error' : QcForm.syQpoor.$invalid }">
                        <ui-select name="syQpoor" ng-model="woHH.DialogItem.Ng" theme="bootstrap" required>
                            <ui-select-match placeholder="选择不良信息...">{{ $select.selected.Name }}</ui-select-match>
                            <ui-select-choices repeat="item.ID as item in woHH.QpoorList | filter: $select.search">
                                <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                <!--<small ng-bind-html="item.Name | highlight: $select.search"></small>-->
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label col-md-2 wrapper-xs">不良原因:</label>
                    <div class="col-md-10" ng-class="{ 'has-error' : QcForm.Reason.$invalid }">
                        <textarea class="form-control" rows="3" name="Reason" maxlength="255" ng-model="woHH.DialogItem.Reason" placeholder="输入不良原因" required></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-12 text-center">
        <button class="btn btn-success" type="button" ng-disabled="QcForm.$invalid" ng-click="woHH.Save()">储存</button>
        <button class="btn btn-warning" type="button" ng-click="woHH.cancel()">取消</button>
    </div>
</div>
<!--<pre>{{ woHH.Item | json }}</pre>-->