<div class="wrapper-xs">
    <div class="col-sm-5">
        <div class="panel panel-default" ng-form="wo.OrderForm">
            <div class="panel-heading font-bold text-center">工单上线</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">输入工单</label>
                        <div class="col-lg-8" ng-class="{ 'has-error' : wo.OrderForm.wo.$invalid }">
                            <input type="text" name="Order" ng-model="wo.Item.WorkOrder" uib-typeahead="item.WorkOrder as item.WorkOrder for item in wo.OrderList | filter:$viewValue | limitTo:8"
                                   class="form-control" placeholder="工单号" ng-keyup="wo.KeyDonwOrder($event)" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">工艺流程</label>
                        <div class="col-lg-8" ng-class="{ 'has-error' : wo.OrderForm.router.$invalid }">
                            <ui-select name="router" ng-model="wo.RoutingData" theme="bootstrap" search-enabled="true" ng-required="true">
                                <ui-select-match placeholder="选择工艺..." class="h6">{{ $select.selected.RoutingName }}</ui-select-match>
                                <ui-select-choices repeat="item in wo.RoutingList | filter: $select.search track by item.ID">
                                    <div ng-bind-html="item.RoutingName | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">当前工序</label>
                        <div class="col-lg-8 form-control-static">
                            <span class="text-info font-bold" ng-if="wo.RoutingData.Code">
                                <!--[{{ wo.RoutingData.Code }}]-->
                                {{ wo.RoutingData.ProcedureName }}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">内控码</label>
                        <div class="col-lg-8" ng-class="{ 'has-error' : wo.OrderForm.InCode.$invalid }">
                            <input type="text" ng-disabled="wo.OrderForm.wo.$invalid|| wo.OrderForm.router.$invalid" class="form-control"
                                   ui-focus="wo.Focus.SNCode" name="InCode" ng-model="wo.Item.InCode" placeholder="生产条码" ng-keyup="wo.KeyDonwInCode($event)" required>
                            <div class="h6 text-danger">扫描内控码上线</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-1 col-lg-11">
                            <div class="checkbox col-md-4">
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="wo.IsAuto"><i></i> 自动合格
                                </label>
                            </div>
                            <div class="checkbox col-md-4">
                                <label class="i-checks">
                                    <input type="checkbox" ng-model="wo.IsPrint"><i></i> 打印内控码
                                </label>
                            </div>
                            <div class="col-md-4">
                                <span><button type="submit" class="btn btn-sm btn-success" ng-click="wo.InCodeToDb()" ng-disabled="wo.OrderForm.$invalid || wo.IsAuto">合格</button></span>
                                <!--<span class="pl-md-1"><button type="submit" class="btn btn-sm btn-success" ng-click="wo.NgSave()" ng-disabled="wo.OrderForm.$invalid || wo.IsAuto">不良</button></span>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default scroll-y" style="max-height:350px">
            <div class="panel-heading font-bold text-center">信息显示</div>
            <div class="panel-body">
                <div class="list-group">
                    <ul class="list-group bg-white">
                        <li class="list-group-item" ng-repeat="item in wo.MesList track by item.Id" ng-class="{ 'text-danger' : !item.IsOk, 'text-success':item.IsOk }">
                            <span herf class="pull-left">
                                <i class="glyphicon" ng-class="{ 'glyphicon-remove' : !item.IsOk, 'glyphicon-ok':item.IsOk }"></i>
                            </span>
                            <div class="clear">
                                <div>{{ item.Msg }}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6" ng-form="wo.UpdateForm">
        <div class="panel panel-default scroll-y" style="max-height:600px">
            <div class="panel-heading font-bold text-center">
                工单 <span class="h4 font-bold text-info">{{ wo.OrderData.WorkOrder }}</span>信息
            </div>
            <div class="panel-body h5">
                <div class="form-horizontal" ng-show="wo.OrderData">
                    <div class="form-group">
                        <label class="control-label col-sm-2">产品编号:</label>
                        <div class="col-sm-4">
                            <p class="form-control-static font-bold">{{wo.OrderData.MaterialCode}}</p>
                        </div>
                        <label class="control-label col-sm-2">产品名称:</label>
                        <div class="col-sm-4">
                            <p class="form-control-static font-bold">{{wo.OrderData.MaterialName}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">计划日期:</label>
                        <div class="col-sm-4">
                            <p class="form-control-static font-bold">{{wo.OrderData.AssemblyDate}}</p>
                        </div>
                        <label class="control-label col-sm-2">产线名称:</label>
                        <div class="col-sm-4">
                            <p class="form-control-static font-bold">{{wo.OrderData.AssemblyLineName}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">出货地:</label>
                        <div class="col-sm-4">
                            <p class="form-control-static font-bold">{{wo.OrderData.SendPlaceName}}</p>
                        </div>
                        <label class="control-label col-sm-2">ERP销售单:</label>
                        <div class="col-sm-4">
                            <p class="form-control-static font-bold">{{wo.OrderData.ERPSO}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">工单数量:</label>
                        <div class="col-sm-4">
                            <p class="form-control-static font-bold h4 text-success">{{wo.OrderData.Quantity}}</p>
                        </div>
                        <label class="control-label col-sm-2">ERP订单数:</label>
                        <div class="col-sm-4">
                            <p class="form-control-static font-bold">{{wo.OrderData.ERPQuantity}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">最大可投量:</label>
                        <div class="col-sm-4">
                            <p class="form-control-static font-bold  h4 text-success">{{wo.OrderData.MaxOverCount}}</p>
                        </div>
                        <label class="control-label col-sm-2">最低直通率:</label>
                        <div class="col-sm-4">
                            <p class="form-control-static font-bold  h4 text-success">{{wo.RoutingData.LowerFPY}}%</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">已总投入:</label>
                        <div class="col-sm-4">
                            <p class="form-control-static font-bold  h4 text-success">{{wo.OrderCount.ToTalCount}}</p>
                        </div>
                        <label class="control-label col-sm-2">今日投入:</label>
                        <div class="col-sm-4">
                            <p class="form-control-static font-bold  h4 text-success">{{wo.OrderCount.ToDayCount}}</p>
                        </div>
                    </div>
                    <div class="form-group" ng-if="wo.OrderCount.ToTalCount>wo.OrderData.ERPQuantity">
                        <label class="control-label col-sm-2">警告:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static font-bold text-danger"> 当前工单投入量已大于工单计划量</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--<pre>{{ wo.OrderData | json }}</pre>-->
        </div>
    </div>
    <!--<div class="col-sm-2">
        <div class="panel panel-default">
            <div class="panel-heading font-bold text-center">今日上线内控码</div>
            <div class="panel-body" style="height: 500px">
                <div class="list-group" ng-show="wo.TodayInCodeList">
                    <a class="list-group-item" ng-repeat="sn in wo.TodayInCodeList">
                        <span class="badge badge-sm bg-danger pull-left">{{ $index + 1 }}</span>
                        <span class="padder">{{ sn.InternalCode }}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>-->
</div>
