<uib-tabset active="active" type="tabs" class="h-100" cg-busy="pie.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">PIE生产报表</uib-tab-heading>
        <div class="wrapper-md col-md-12">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="pie.Ser.ProCode" placeholder="料号">
                </div>
                <div class="form-group">
                    <input type="text" date-time-picker class="form-control" ng-model="pie.Ser.StartDate" placeholder="开始时间" option="vm.DateTimeOption">
                </div>
                <div class="form-group">
                    <input type="text" date-time-picker class="form-control" ng-model="pie.Ser.EndDate" placeholder="结束时间" option="vm.DateTimeOption">
                </div>
                <button class="btn btn-sm btn-info " ng-click="pie.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
                <button class="btn btn-sm btn-success " ng-click="pie.ExportExcel() "><i class="glyphicon glyphicon-export "></i> 导出</button>
            </div>
        </div>
        <div class="padder-md m-t-xs scroll-x col-md-12">
            <table class="table">
                <tr>
                    <td style="width:80px ">供应商</td>
                    <td style="width:100px ">料号</td>
                    <td style="width:100px ">型号</td>
                    <td style="width:100px ">ReprintLabelOK</td>
                    <td style="width:100px ">ReprintLabelNg</td>
                    <td style="width:100px ">ProductSnOk</td>
                    <td style="width:100px ">ProductSnNg</td>
                    <td style="width:100px ">MTBTestOk</td>
                    <td style="width:100px ">MTBTestNg</td>
                    <td style="width:100px ">TRTestOk</td>
                    <td style="width:100px ">TRTestNg</td>
                    <td style="width:100px ">PackagingOk</td>
                    <td style="width:100px ">PackagingNg</td>
                    <td style="width:100px ">StartSc</td>
                    <td style="width:100px ">EndSc</td>
                </tr>
                <tr ng-repeat="item in pie.List ">
                    <td>{{ item.UserNo }}</td>
                    <td>{{ item.ProItemCode }}</td>
                    <td>{{ item.AuModelCode }}</td>
                    <td>{{ item.ReprintLabelOK }}</td>
                    <td>{{ item.ReprintLabelNg }}</td>
                    <td>{{ item.ProductSnOk }}</td>
                    <td>{{ item.ProductSnNg }}</td>
                    <td>{{ item.MTBTestOk }}</td>
                    <td>{{ item.MTBTestNg }}</td>
                    <td>{{ item.TRTestOk }}</td>
                    <td>{{ item.TRTestNg }}</td>
                    <td>{{ item.PackagingOk }}</td>
                    <td>{{ item.PackagingNg }}</td>
                    <td>{{ item.StartSc }}</td>
                    <td>{{ item.EndSc }}</td>
                </tr>
            </table>
            <div class="col-md-12 text-center " ng-if="pie.page.total>pie.page.size ">
                <div uib-pagination total-items="pie.page.total " ng-model="pie.page.index " items-per-page="pie.page.size " max-size="10 " first-text="第一页 " previous-text="上一页 "
                        ng-change="pie.PageChange() " next-text="下一页 " last-text="最后页 " boundary-links="true " boundary-link-numbers="true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
