<uib-tabset active="active" type="tabs" class="h-100" cg-busy="br.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">产品工艺</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <button class= "btn btn-sm btn-success " ng-click= "br.Insert() "><i class= "glyphicon glyphicon-plus "></i>新增</button>
                <div class="form-group">
                    <!--<input type="text" class="form-control"  ng-model="br.Ser.a_ProductID" placeholder="总成名称">-->
                    <div basic-select="BoRouting_MC" ng-name="a_ProductID" placeholder="料号（品名）" clear="true" ng-model="br.Ser.a_ProductID" width="100px"></div>
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "br.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                <button class= "btn btn-sm btn-success " ng-click= "br.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>
            </div>
        </div>
        <div class= "padder-md ">
            <table class= "table pad-xs" >
                <thead>
                    <tr>
                        <td style= "width:60px">操作</td>
                        <td style= "width:100px ">料号（品名）</td>
                        <td style= "width:100px ">工艺名称</td>
                        <td style= "width:100px ">是否默认</td>
                        <td style= "width:100px ">是否后焊控制</td>
                        <td style= "width:100px ">创建人</td>
                        <td style= "width:100px ">创建时间</td>
                    </tr>
                </thead>
                <tr ng-if="br.IsInsert" ng-form="br.InsertForm">
                    <td>
                        <button class="btn btn-xs btn-success" ng-disabled="br.InsertForm.$invalid" ng-click="br.AddBoRouting()"><i class="glyphicon glyphicon-save"></i></button>
                        <button class="btn btn-xs btn-warning" ng-click="br.IsInsert=false" ><i class="fa fa-undo"></i></button>
                    </td>
                    <td>
                        <div ng-class="{ 'has-error': br.InsertForm.ProductID.$invalid }">
                            <div basic-select="BoRouting_MC" ng-name="ProductID" placeholder="料号（品名）" ng-model="br.NewItem.ProductID"  ng-required ="true"></div>
                        </div>
                    </td>
                    <td>
                        <div ng-class="{ 'has-error': br.InsertForm.RoutingName.$invalid }">
                            <input type="text" name="RoutingName" class="form-control" placeholder="工艺名称" ng-model="br.NewItem.RoutingName" required />
                        </div>
                    </td>
                    <td>
                        <div >
                            <input type="checkbox" name="IsDefault"  class="form-control" placeholder="是否默认" ng-model="br.NewItem.IsDefault"  />
                        </div>
                    </td>
                    <td>
                        <div >
                            <input type="checkbox" name="IsControl" class="form-control" placeholder="是否后焊控制" ng-model="br.NewItem.IsControl"  />
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-repeat= "item in br.List " ng-form="item.ItemForm">
                    <td>
                        <span ng-if="!item.IsEdit">
                            <button class="btn btn-xs btn-primary" ng-click="br.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                            <button class="btn btn-xs btn-danger" ng-confirm="{text:'确定要删除吗'}" ng-click="br.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                        <span ng-if="item.IsEdit">
                            <button class="btn btn-xs btn-success" ng-disabled="item.ItemForm.$invalid" ng-click="br.SaveEdit($index)"><i class="glyphicon glyphicon-save"></i></button>
                            <button class="btn btn-xs btn-warning" ng-click="item.IsEdit=false"><i class="fa fa-undo"></i></button>
                        </span>
                    </td>
                    <td>
                        <span>{{ item.MaterialName.MaterialName +'('+ item.MaterialName.MaterialName+')' }}</span>
                        <!--<div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_ProductID.$invalid }">
                            <div  basic-select="BoRouting_MC" ng-name="item_ProductID" placeholder="总成名称" ng-model="br.EditItem.ProductID"  ng-required ="true"></div>
                        </div>-->
                    </td>
                    <td>
                        <span ng-if="!item.IsEdit">{{ item.RoutingName }}</span>
                        <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_RoutingName.$invalid }">
                            <input type="text" name="item_RoutingName" class="form-control" placeholder="工艺名称" ng-model="br.EditItem.RoutingName" required />
                        </div>
                    </td>
                    <td>
                        <!--<span ng-if="!item.IsEdit">{{ item.IsDefault }}</span>-->
                        <div ng-if="!item.IsEdit">
                            <input  disabled="disabled" type="checkbox" name="item_IsDefault" class="form-control" placeholder="a_IsDefault" ng-model="item.IsDefault" />
                        </div>
                        <div ng-if="item.IsEdit">
                            <input type="checkbox" name="item_IsDefault" class="form-control" placeholder="a_IsDefault" ng-model="br.EditItem.IsDefault" />
                        </div>
                    </td>
                    <td>
                        <!--pan ng-if="!item.IsEdit" >{{ item.IsControl }}</span>-->
                        <div ng-if="!item.IsEdit">
                            <input disabled="disabled" type="checkbox" name="item_IsControl" class="form-control" placeholder="a_IsDefault" ng-model="item.IsControl" />
                        </div>
                        <div ng-if="item.IsEdit">
                            <input type="checkbox" name="item_IsControl" class="form-control" placeholder="a_IsControl" ng-model="br.EditItem.IsControl"  />
                        </div>
                    </td>
                    <td title="{{ item.CreateBy }}">{{ item.UserName }}</td>
                    <td title="{{ item.CreateDate }}">{{ item.CreateDate | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                </tr>
            </table>
            <div class= "col-md-12 text-center " ng-if= "br.page.total>br.page.size ">
                <div uib-pagination total-items= "br.page.total " ng-model= "br.page.index " items-per-page= "br.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "br.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
