<div class="modal-header">
    <h3 class="modal-title">返修记录登记</h3>
</div>
<div class="modal-body wrapper-xs" ng-form="DialogForm">
    <div class="panel panel-default" >
        <div class="panel-body wrapper-xs">
            <div class="form-horizontal">
                    <div class="form-group-xs col-md-8" style="font-size:18px;color:cornflowerblue">
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">条码信息</label>
                         </div>
                    </div>
                    <div class="form-group-xs col-md-12">
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">内控码：</label>
                            <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.BarCode.$invalid }">
                                <input  type="text" class="form-control" name="BarCode" placeholder="内控码（必填）"
                                       ng-model="qlBad.BarCode" ng-disabled="ma.form.index == 1" ng-blur="ma.isExists()" >
                                <button ng-model="qlBad.BarCode" class="btn btn-sm btn-info " ng-click="qlBad.SelectqlBad() "><i class="glyphicon glyphicon-search "></i>查询</button>
                                <div ng-messages="DialogForm.BarCode.$error" class="help-block" role="alert">
                                    <div ng-message="required" style="font-size:0.1px;">内控码（必填）</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 padder-xs" >
                            <label class="control-label col-sm-4 padder-xs">当前条码：</label>
                            <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.Spec.$invalid }" >
                                <input type="text" name="BarCode" class="form-control" placeholder="当前条码" ng-model="qlBad.item.BarCode" disabled="disabled" required>
                            </div>
                        </div>
                    </div>
              
                    <div class="form-group-xs col-md-8" style="font-size:18px;color:cornflowerblue">
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">工单信息</label>
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12" >
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">工单号：</label>
                            <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.WorOrder.$invalid }">
                                <input type="text" class="form-control" name="WorOrder" placeholder="工单号"
                                       ng-model="qlBad.item.WorOrder"  disabled="disabled">
                            </div>
                        </div>
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">客户订单号：</label>
                            <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.CustomerOrder.$invalid }">
                                <input type="text" class="form-control" name="CustomerOrder" placeholder="客户订单号"
                                       ng-model="qlBad.item.CustomerOrder" disabled="disabled">
                            </div>
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12">
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">产品名称：</label>
                            <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.MaterialName.$invalid }">
                                <input type="text" class="form-control" name="MaterialName" placeholder="产品名称"
                                       ng-model="qlBad.item.MaterialName" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">客户名称：</label>
                            <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.CustomerName.$invalid }">
                                <input type="text" name="CustomerName" class="form-control" placeholder="客户名称" ng-model="qlBad.item.CustomerName" disabled="disabled">

                            </div>
                        </div>
                    </div>
                    <div class="form-group-xs col-md-8" style="font-size:18px;color:cornflowerblue">
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">不良信息</label>
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12">
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">不良类别：</label>
                            <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.FirstPoorName.$invalid }">
                                <input type="text" class="form-control" name="FirstPoorName" placeholder="不良类别"
                                       ng-model="qlBad.item.FirstPoorName" disabled="disabled">
                            </div>
                        </div>
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">不良信息：</label>
                            <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.SecondPoorName.$invalid }">
                                <input type="text" name="SecondPoorName" class="form-control" placeholder="不良信息" ng-model="qlBad.item.SecondPoorName" disabled="disabled"> 

                            </div>
                        </div>
                    </div>
                    <div class="form-group-xs col-md-8" style="font-size:18px;color:cornflowerblue">
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">维修信息</label>
                        </div>
                    </div>
                    <!--<div class="form-group-xs col-md-12">
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">维修条码：</label>
                            <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.BarCode.$invalid }">
                                <input  type="text" class="form-control" name="BarCode" placeholder="维修条码"
                                       ng-model="BarCode" >
                            </div>
                        </div>
                    </div>-->
                    <div class="form-group-xs col-md-12">
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">维修类别：</label>
                            <div class="col-sm-8 padder-xs" basic-select="syRPoorSelect" ng-change="qlBad.syRPoorSelect(qlBad.AName.ID)" ng-name="syRPoorSelect" placeholder="维修类别"
                                 ng-model="qlBad.AName" required>
                            </div>
                            <!--<div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.Weight.$invalid }">
                                <input type="number" name="Name" class="form-control" placeholder="维修类别" ng-model="qlBad.Name" required>
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group-xs col-md-12">
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">维修信息：</label>
                            <div class="col-sm-8 padder-xs" ng-class="{ 'has-error': DialogForm.Name.$invalid }">
                                <ui-select ng-model="qlBad.BName" ng-change="ValueChange()" theme="bootstrap" ng-required="ngRequired" >
                                    <ui-select-match placeholder="{{ placeholder }}">{{ $select.selected.Name }}</ui-select-match>
                                    <ui-select-choices repeat="item in qlBad.syRPoorName | filter: $select.search | limitTo:50" refresh="refresh($select.search)">
                                        <div ng-bind-html="item.Name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <!--<div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.PalletSumWight.$invalid }">
                                <input  type="number" class="form-control" name="PalletSumWight" placeholder="维修信息"
                                       ng-model="ma.Item.PalletSumWight" required>
                            </div>-->
                        </div>
                    </div>

                    <div class="form-group-xs col-md-12">
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">是否修复：</label>
                            <div class="col-sm-1 padder-xs" ng-class="{ 'has-error' : DialogForm.IsRepair.$invalid }">
                                <label class="i-checks i-checks-sm control-label">
                                    <input type="checkbox" ng-model="qlBad.IsRepair" name="IsRepair" class="ng-pristine ng-untouched ng-valid ng-not-empty"><i></i>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 padder-xs">
                            <label class="control-label col-sm-4 padder-xs">维修备注：</label>
                            <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.PoorReason.$invalid }">
                                <textarea class="form-control" rows="2" name="PoorReason" ng-model="qlBad.PoorReason" placeholder="输入备注信息"></textarea>
                            </div>
                        </div>
                        
                </div>
        </div>
    </div>
   
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-success" type="button" ng-disabled="DialogForm.$invalid" ng-click="qlBad.Alter()">保存</button>
        <button class="btn btn-warning" type="button" ng-click="qlBad.cancel()">取消</button>
    </div>
    <pre>{{qlBad.syRPoorName | json}}</pre>
</div>


