<uib-tabset active="active" type="tabs" class="h-100" cg-busy="ll.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">领料单登记列表</uib-tab-heading>
        <div class="wrapper-xs m-t-xs">
            <div class="form-inline">
                <button class="btn btn-sm btn-success " ng-click="ll.Open({}) "><i class="glyphicon glyphicon-plus "></i>新增登记</button>
                <div class="form-group">
                    <input autocomplete="off"  type="text" date-picker class="form-control"  ng-model="ll.Ser.NeedTime" placeholder="登记日期" option="ll.DateOption">
                </div>
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="ll.Ser.bDocNo" placeholder="领料单号">
                </div>
                <div class="form-group">
                    <input autocomplete="off" type="text" class="form-control" ng-model="ll.Ser.WorkOrder" placeholder="工单号">
                </div>
                <div class="form-group">
                    <input autocomplete="off" type="text" class="form-control" ng-model="ll.Ser.MateCode" placeholder="产品编号">
                </div>
                <!--<div class="form-group">
                    <div basic-select="User"  ng-model="ll.Ser.aCreateBy" placeholder="确认人" ></div>
                </div>-->
                <button class= "btn btn-sm btn-info " ng-click= "ll.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                <!--<button class= "btn btn-sm btn-success " ng-click= "ll.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>-->
            </div>
        </div>
        <div class= "padder-xs ">
            <div class="col-md-12 scroll-x no-padder">
                <table class= "table " >
                    <thead>
                        <tr>
                            <td style= "width:40px ">详细</td>
                            <td title="需求时间" style= "width:100px ">需求时间</td>
                            <td title="领料单号" style= "width:60px ">领料单号</td>
                            <td title="线别" style="width:90px ">线别</td>
                            <td title="工单号" style="width:60px ">工单号</td>
                            <td title="产品号" style="width:60px ">产品号</td>
                            <td title="产品名称" style="width:150px ">产品名称</td>
                            <td title="状态" style= "width:60px ">状态</td>
                            <td title="登记人" style= "width:60px ">登记人</td>
                            <td title="登记时间" style= "width:90px ">登记时间</td>
                            <td title="开始备料时间" style="width:100px ">开始备料时间</td>
                            <td title="完成备料时间" style="width:100px ">完成备料时间</td>
                        </tr>
                    </thead>
                    <tr ng-repeat= "item in ll.List ">
                        <td title="查看详细">
                            <a class="text-info" ng-click="ll.Open(item)"><i class="glyphicon glyphicon-search "></i></a>
                        </td>
                        <td title="{{ item.NeedTime }}">{{ item.NeedTime | date:'yyyy-MM-dd HH:mm' }}</td>
                        <td title="{{ item.PickDocNo }}">
                            <a ng-click="ll.Open(item)">
                                {{ item.PickDocNo }}
                            </a>
                        </td>
                        <td title="{{ item.LLDocData.LineName }}">{{ item.LLDocData.LineName}}</td>
                        <td title="{{ item.WorkOrder }}">{{ item.WorkOrder }}</td>
                        <td title="{{ item.MateCode }}">{{ item.MateCode }}</td>
                        <td class="text-left"title="{{ item.MateName }}">{{ item.MateName }}</td>
                        <td title="{{ item.StateDesc }}">
                            <button class="btn btn-sm btn-info btn-rounded" ng-if="item.State == '0'" ng-click="ll.ChangeSate(item, 'S') ">开始备料</button>
                            <div style="background-color:#00ff00" ng-if="item.State == '1'">{{ item.StateDesc }}</div>
                            <div style="background-color:#ffff00" ng-if="item.State == '2'">{{ item.StateDesc }}</div>
                            <div style="background-color:#ff005e" ng-if="item.State == '3'">{{ item.StateDesc }}</div>
                            <div style="background-color:#32bb35" ng-if="item.State == '4'">{{ item.StateDesc }}</div>
                        </td>
                        <td title="{{ item.Creator }}">{{ item.Creator }}</td>
                        <td title="{{ item.RegTime }}">{{ item.RegTime | date:'yyyy-MM-dd HH:mm' }}</td>
                        <td title="{{ item.StPreTime }}">{{ item.StPreTime | date:'yyyy-MM-dd HH:mm' }}</td>
                        <td title="{{ item.EdPreTime }}">{{ item.EdPreTime | date:'yyyy-MM-dd HH:mm' }}</td>
                    </tr>
                </table>
            </div>
            <div class= "col-md-12 text-center " ng-if= "ll.page.total>ll.page.size ">
                <div uib-pagination total-items= "ll.page.total " ng-model= "ll.page.index " items-per-page= "ll.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "ll.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>

            <!--<pre>{{ ll.List | json }}</pre>-->
        </div>
    </uib-tab>
</uib-tabset>