<uib-tabset active="active" type="tabs" class="h-100" cg-busy="mouldInfo.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">模具档案</uib-tab-heading>
        <div class="wrapper-md">
            <div class="input-group m-b-xxs">
                <div class="form-inline">
                    <button class="btn btn-sm btn-success " ng-click="mouldInfo.Add() "><i class="glyphicon glyphicon-plus "></i>新增</button>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="mouldInfo.Ser.Code" placeholder="模具料号">
                            <span class="input-group-addon">
                                <a><i ng-click="mouldInfo.Ser.Code = undefined" class="glyphicon glyphicon-trash text-danger"></i></a>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="mouldInfo.Ser.Name" placeholder="模具名称">
                            <span class="input-group-addon">
                                <a><i ng-click="mouldInfo.Ser.Name = undefined" class="glyphicon glyphicon-trash text-danger"></i></a>
                            </span>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="mouldInfo.Ser.Holder" placeholder="使用厂商">
                            <span class="input-group-addon">
                                <a><i ng-click="mouldInfo.Ser.Holder = undefined" class="glyphicon glyphicon-trash text-danger"></i></a>
                            </span>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="mouldInfo.Ser.ModelType" placeholder="使用机型">
                            <span class="input-group-addon">
                                <a><i ng-click="mouldInfo.Ser.ModelType = undefined" class="glyphicon glyphicon-trash text-danger"></i></a>
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-info " ng-click="mouldInfo.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
                    <button class="btn btn-sm btn-success " ng-click="mouldInfo.Export() "><i class="glyphicon glyphicon-export "></i>导出</button>
                    <button class="btn btn-sm btn-success " ng-click="mouldInfo.OpenImport() "><i class="glyphicon glyphicon-export "></i>导入</button>
                </div>
            </div>
        </div>
        <div class="padder-md table-responsive">
            <table class="table one-line">
                <thead>
                    <tr>
                        <td style="width:90px ">编辑</td>
                        <td style="width:100px ">模具料号</td>
                        <td style="width:140px ">模具名称</td>
                        <td style="width:140px ">模具规格</td>
                        <td style="width:100px ">模具穴数</td>
                        <td style="width:120px ">寿命(K)</td>
                        <td style="width:60px ">日产能</td>
                        <td style="width:60px ">日模次</td>
                        <td style="width:120px">剩余模次(K)</td>
                        <td style="width:120px ">使用厂商</td>
                        <td style="width:120px ">制造厂商</td>
                        <td style="width:100px ">成型周期(s)</td>
                        <td style="width:100px ">产品重量(g)</td>
                        <td style="width:100px ">水口重量(g)</td>
                        <td style="width:140px ">购买日期</td>
                        <td style="width:140px ">启用日期</td>
                        <td style="width:140px ">机台吨位</td>
                        <td style="width:140px ">使用机型</td>
                    </tr>
                </thead>
                <tr ng-repeat="item in mouldInfo.List ">
                    <td>
                        <button class="btn btn-xs btn-primary" title="查看" ng-click="mouldInfo.Edit(item.ID)"><i class="glyphicon glyphicon-edit"></i></button>
                        <button class="btn btn-xs btn-danger" title="删除" ng-confirm="{text:'确定要删除料号'+item.Code+'吗'}" ng-click="mouldInfo.Delete(item.ID)"><i class="glyphicon glyphicon-remove"></i></button>                        
                    </td>
                    <td title="{{ item.Code }}">{{ item.Code }}</td>
                    <td title="{{ item.Name }}" style="white-space:normal;">{{ item.Name }}</td>
                    <td title="{{ item.SPECS }}">{{ item.SPECS }}</td>
                    <td title="{{ item.HoleNum }}">{{ item.HoleNum }}</td>
                    <td title="{{ item.TotalNum }}">{{ item.TotalNum }}</td>
                    <td title="{{ item.DailyCapacity }}">{{ item.DailyCapacity }}</td>
                    <td title="{{ item.DailyNum }}">{{ item.DailyNum }}</td>
                    <td title="{{ item.RemainNum }}" >{{ item.RemainNum }}</td>
                    <td title="{{ item.Holder }}">{{ item.Holder }}</td>
                    <td title="{{ item.Manufacturer }}" style="white-space:normal;">{{ item.Manufacturer }}</td>
                    <td title="{{ item.CycleTime }}">{{ item.CycleTime }}</td>
                    <td title="{{ item.ProductWeight }}">{{ item.ProductWeight }}</td>
                    <td title="{{ item.NozzleWeight }}">{{ item.NozzleWeight }}</td>
                    <td title="{{ item.DealDate }}" style="white-space:normal;">{{ item.DealDate |date:'yyyy-MM-dd'}}</td>
                    <td title="{{ item.EffectiveDate }}" style="white-space:normal;">{{ item.EffectiveDate|date:'yyyy-MM-dd' }}</td>
                    <td title="{{ item.MachineWeight }}" style="white-space:normal;">{{ item.MachineWeight }}</td>
                    <td title="{{ item.ModelType }}" style="white-space:normal;">{{ item.ModelType }}</td>
                </tr>
            </table>
        </div>
        <div class="col-md-12 text-center " ng-if="mouldInfo.page.total>mouldInfo.page.pageSize ">
            <div uib-pagination total-items="mouldInfo.page.total " ng-model="mouldInfo.page.pageIndex " items-per-page="mouldInfo.page.pageSize " max-size="10 " first-text="第一页 " previous-text="上一页 "
                 ng-change="mouldInfo.DataBind() " next-text="下一页 " last-text="最后页 " boundary-links="true " boundary-link-numbers="true ">
            </div>
        </div>
    </uib-tab>
</uib-tabset>

<div class="pro-file d-r lg bg-light dk wrapper-md padder-md scroll-y">
    <div class="padder-md wrapper">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="modal-header">
                    <h3 class="modal-title">模具信息导入<button class="btn btn-xs btn-danger center pull-right" ng-click="mouldInfo.CloseImport()"><i class="glyphicon glyphicon-remove"></i></button></h3>
                </div>
                <div class="modal-body wrapper-md">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-inline">
                                    <div id="file1" import-sheet-js opts="mouldInfo.FileData" ng-model="mouldInfo.nm" ng-complete="mouldInfo.Do()"></div>
                                </div>
                                <div class="col-md-12 form-inline" style="padding-left:30px;">
                                    <button ng-disabled="!mouldInfo.IsValid" class="btn btn-sm btn-success" ng-click="mouldInfo.Import()"><i class="glyphicon glyphicon-import"></i>导入</button>
                                    <a class="btn btn-link text-danger" href="\File\DownLoad\模具导入模板.xlsx">点击下载模具导入模板</a>
                                </div>
                                <!--<pre style="margin-left:30px;height:300px;">{{ mouldInfo.ListImport | json }}</pre>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<pre>{{ sdk.FileItem | json }}</pre>-->
    </div>

</div>