<div class="modal-header text-center">
    <span class="modal-title h3">物料信息{{ m.form.title }}</span>
</div>
<div class="modal-body wrapper-xs">
    <div class="panel panel-default scroll-y" ng-form="m.DialogForm">
        <div class="panel-body">
            <div class="form-horizontal no-padder">
                <div class="form-group no-padder">
                    <div class="col-md-12 padder-xs">
                        <label class="col-md-3 control-label">料号</label>
                        <div class="col-md-8 no-padder" ng-class="{ 'has-error' : m.DialogForm.MateCode.$invalid }">
                            <input type="text" class="form-control" name="MateCode" placeholder="料号"
                                   ng-model="m.Item.MateCode" ng-disabled="m.form.index == 1" ng-blur="m.isExists()" required>
                            <div ng-messages="m.DialogForm.MateCode.$error" class="help-block" role="alert">
                                <div ng-message="unique">料号重复</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group no-padder">
                    <div class="col-md-12 padder-xs">
                        <label class="col-md-3 control-label">料名</label>
                        <div class="col-md-8 no-padder" title="料名" ng-class="{ 'has-error' : m.DialogForm.MateName.$invalid }">
                            <input type="text" class="form-control" name="MateName" placeholder="料名" ng-model="m.Item.MateName" required>
                        </div>
                    </div>
                </div>
                <div class="form-group no-padder">
                    <div class="col-md-12 padder-xs">
                        <label class="col-md-3 control-label">力同料号</label>
                        <div class="col-md-8 no-padder" ng-class="{ 'has-error' : m.DialogForm.AucMateCode.$invalid }">
                            <input type="text" class="form-control" name="AucMateCode" placeholder="力同料号" ng-model="m.Item.AucMateCode" required>
                        </div>
                    </div>
                </div>
                <div class="form-group no-padder">
                    <div class="col-md-12 padder-xs">
                        <label class="col-md-3 control-label">力同料名</label>
                        <div class="col-md-8 no-padder" title="力同料名" ng-class="{ 'has-error' : m.DialogForm.AucMateName.$invalid }">
                            <input type="text" class="form-control" name="AucMateName" placeholder="力同料名" ng-model="m.Item.AucMateName" required>
                        </div>
                    </div>
                </div>
                <div class="form-group no-padder">
                    <div class="col-md-12 padder-xs">
                        <label class="col-md-3 control-label">力同型号</label>
                        <div class="col-md-8 no-padder" title="ATE测试对应的型号" ng-class="{ 'has-error' : m.DialogForm.AucModelName.$invalid }">
                            <textarea type="text" rows="2" name="AucModelName" class="form-control" placeholder="ATE测试对应的型号， 需要填写准确" ng-model="m.Item.AucModelName" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group no-padder">
                    <div class="col-md-12 padder-xs">
                        <label class="col-md-3 control-label">力同规格</label>
                        <div class="col-md-8 no-padder" title="力同规格">
                            <textarea type="text" rows="2" name="AucMateSpes" class="form-control" placeholder="力同规格" ng-model="m.Item.AucMateSpes"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-12 text-center">
        <button class="btn btn-success pull-none" type="button" ng-disabled="m.DialogForm.$invalid" ng-click="m.Save()">储存</button>
        <button class="btn btn-warning pull-none" type="button" ng-click="m.cancel()">取消</button>
    </div>
</div>
<!--<pre>{{ m.SerList | json }}</pre>-->