<div cg-busy="w.promise">
    <div class="wrapper-md m-n font-bold h3 text-center">料品信息</div>
    <div class="padder-md">
        <div class="form-inline">
            <button class="btn btn-sm btn-success " ng-click="w.Add() "><i class="glyphicon glyphicon-plus "></i>新增</button>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="w.Ser.a_AucMateCode" placeholder="Auctus料号">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="w.Ser.a_MateCode" placeholder="外协厂料号">
            </div>
            <button class="btn btn-sm btn-info " ng-click="w.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
        </div>
    </div>
    <div class="padder-md wrapper-sm">
        <table class="table ">
            <tr>
                <td style="width:60px ">操作</td>
                <td style="width:100px ">料号</td>
                <td style="width:150px ">料名</td>
                <td style="width:100px ">力同料号</td>
                <td style="width:100px ">力同料名</td>
                <td style="width:150px ">力同型号</td>
                <td style="width:200px ">力同规格</td>
            </tr>
            <tr ng-repeat="item in w.List ">
                <td>
                    <button class="btn btn-xs btn-primary" ng-click="w.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-xs btn-danger" ng-confirm="{text:'确定要删除吗'}" ng-click="w.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
                <td>{{ item.MateCode }}</td>
                <td>{{ item.MateName }}</td>
                <td>{{ item.AucMateCode }}</td>
                <td>{{ item.AucMateName }}</td>
                <td>{{ item.AucModelName }}</td>
                <td>{{ item.AucMateSpes }}</td>
            </tr>
        </table>
        <div class="col-md-12 text-center " ng-if="w.page.total>w.page.size ">
            <div uib-pagination total-items="w.page.total " ng-model="w.page.index " items-per-page="w.page.size " max-size="10 " first-text="第一页 " previous-text="上一页 "
                 ng-change="w.PageChange() " next-text="下一页 " last-text="最后页 " boundary-links="true " boundary-link-numbers="true "></div>
        </div>
    </div>
</div>
