<div class="modal-header text-center">
    <span class="modal-title h3">{{ m.form.title }}生产工单</span>
</div>
<div class="modal-body wrapper-xs">
    <div class="panel panel-default scroll-y" ng-form="m.DialogForm">
        <div class="panel-body">
            <div class="form-horizontal no-padder">
                <div class="form-group no-padder">
                    <div class="col-md-12 padder-xs">
                        <label class="col-md-3 control-label">生产工单号</label>
                        <div class="col-md-8 no-padder" ng-class="{ 'has-error' : m.DialogForm.MO.$invalid }">
                            <input type="text" class="form-control"  ng-disabled="m.form.index == 1" name="MO" ng-blur="m.isExists()" placeholder="厂商工单" ng-model="m.Item.MO" required>
                            <div ng-messages="m.DialogForm.MO.$error" class="help-block" role="alert">
                                <div ng-message="unique">单据重复</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group no-padder">
                    <div class="col-md-12 padder-xs">
                        <label class="col-md-3 control-label">力同委外单号</label>
                        <div class="col-md-8 no-padder" ng-class="{ 'has-error' : m.DialogForm.AucWPO.$invalid }">
                            <input type="text" class="form-control" name="AucWPO" placeholder="力同委外单号"
                                   ng-model="m.Item.AucWPO" ng-disabled="m.IsPack"  required>
                        </div>
                    </div>
                </div>
                <div class="form-group no-padder">
                    <div class="col-md-12 padder-xs">
                        <label class="col-md-3 control-label">力同料号</label>
                        <div class="col-md-8 no-padder" title="力同料号" ng-class="{ 'has-error' : m.DialogForm.AucMateId.$invalid }">
                            <div basic-select="WPOMate" ng-name="AucMateId" placeholder="力同公司料号"  ng-required="true" ng-model="m.Item.AucMateId" ng-disabled="m.IsPack"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group no-padder">
                    <div class="col-md-12 padder-xs">
                        <label class="col-md-3 control-label">工单数量</label>
                        <div class="col-md-8 no-padder" title="工单数量" ng-class="{ 'has-error' : m.DialogForm.AucPOQty.$invalid }">
                            <input type="number" min="0" class="form-control" name="AucPOQty" placeholder="工单数量" ng-model="m.Item.AucPOQty" required>
                        </div>
                    </div>
                </div>
                <div class="form-group no-padder">
                    <div class="col-md-12 padder-xs">
                        <label class="col-md-3 control-label">包装数量/箱</label>
                        <div class="col-md-8 no-padder" title="包装数量/箱" ng-class="{ 'has-error' : m.DialogForm.PackNum.$invalid }">
                            <input type="number" min="0" class="form-control" name="PackNum" placeholder="包装数量/箱" ng-model="m.Item.PackNum" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-12 text-center">
        <button class="btn btn-success pull-none" type="button" ng-disabled="m.DialogForm.$invalid" ng-click="m.Save()">储存</button>
        <button class="btn btn-warning pull-none" type="button" ng-click="m.cancel()">取消</button>
    </div>
</div>
<!--<pre>{{ m.SerList | json }}</pre>-->