<div cg-busy="w.promise">
    <div class="wrapper-md m-n font-bold h3 text-center">Auctus WPO 单据信息</div>
    <div class="padder-md">
        <div class="form-inline">
            <button class="btn btn-sm btn-success " ng-click="w.Add() "><i class="glyphicon glyphicon-plus "></i>新增</button>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="w.Ser.AucWPO" placeholder="Auctus WPO单">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="w.Ser.MO" placeholder="外协厂工单">
            </div>
            <button class="btn btn-sm btn-info " ng-click="w.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
        </div>
    </div>
    <div class="padder-md wrapper-sm">
        <table class="table ">
            <tr>
                <td style="width:60px ">操作</td>
                <td style="width:100px ">力同委外单</td>
                <td style="width:100px ">制造工单号</td>
                <td style="width:120px ">力同料号</td>
                <td style="width:120px ">型号</td>
                <td style="width:200px ">工单数量</td>
                <td style="width:100px ">包装数数/箱</td>
            </tr>
            <tr ng-repeat="item in w.List ">
                <td>
                    <button class="btn btn-xs btn-primary" ng-click="w.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-xs btn-danger" ng-confirm="{text:'确定要删除吗'}" ng-click="w.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
                <td>{{ item.AucWPO }}</td>
                <td>{{ item.MO }}</td>
                <td>{{ item.Mate.AucMateCode }}</td>
                <td>{{ item.Mate.AucModelName }}</td>
                <td>{{ item.AucPOQty }}</td>
                <td>{{ item.PackNum }}</td>
            </tr>
        </table>
        <div class="col-md-12 text-center " ng-if="w.page.total>w.page.size ">
            <div uib-pagination total-items="w.page.total " ng-model="w.page.index " items-per-page="w.page.size " max-size="10 " first-text="第一页 " previous-text="上一页 "
                 ng-change="w.PageChange() " next-text="下一页 " last-text="最后页 " boundary-links="true " boundary-link-numbers="true "></div>
        </div>
    </div>
</div>
