<div class="modal-header text-center">
    <span class="modal-title h5">{{ w.Item.IQCFormNo }}详细抽检SN列表</span>
</div>
<div class="modal-body wrapper-xs">
    <div class="panel-body padder-xs" style="min-height:400px">
        <div class="scroll-y m-t-xs" style="max-height:530px">
            <table class="table-striped col-md-12">
                <tr>
                    <td class="col-md-1">序号</td>
                    <td class="col-md-1">BSN</td>
                    <td class="col-md-2">结果</td>
                    <td class="col-md-8">备注</td>
                </tr>
                <tr ng-repeat="item in w.SNList">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ item.BSN }}</td>
                    <td>
                        <div toggle-switch ng-model="item.CheckResult" class="w-xxs switch-small switch-bool" on-label="合格" off-label="不合格"
                             on-value="1" off-value="0" is-disabled="true"></div>
                    </td>
                    <td>
                        {{ item.Remark }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-12 text-center">
        
        <button class="btn btn-warning pull-none" type="button" ng-click="w.cancel()">关闭</button>
    </div>
</div>