<uib-tabset active="active" type="tabs" class="h-100" cg-busy="ate.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">ATE测试数据查询</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control"  ng-model="ate.Ser.a_BSN" placeholder="BSN">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  ng-model="ate.Ser.a_MODEL_NAME" placeholder="型号">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  ng-model="ate.Ser.a_STATE" placeholder="结果">
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "ate.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                <button class= "btn btn-sm btn-success " ng-click= "ate.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>
            </div>
        </div>
        <div class= "padder-md ">
            <table class= "table " >
                <tr>
                    <td style= "width:100px ">a_BSN</td>
                    <td style= "width:100px ">a_BT_RX_Sensitivity</td>
                    <td style= "width:100px ">a_BT_TX_Power</td>
                    <td style= "width:100px ">a_Call_Dev</td>
                    <td style= "width:100px ">a_DateTime</td>
                    <td style= "width:100px ">a_ElapsedTime</td>
                    <td style= "width:100px ">a_ID</td>
                    <td style= "width:100px ">a_MODEL_NAME</td>
                    <td style= "width:100px ">a_PROD_STAGE</td>
                    <td style= "width:100px ">a_RX_Audio_Distortion</td>
                    <td style= "width:100px ">a_RX_Audio_Distortion_Adj</td>
                    <td style= "width:100px ">a_RX_Audio_Output</td>
                    <td style= "width:100px ">a_RX_BER</td>
                    <td style= "width:100px ">a_RX_CDC_SNR</td>
                    <td style= "width:100px ">a_RX_CTC_SNR</td>
                    <td style= "width:100px ">a_RX_CTCSS_Sensitivity</td>
                    <td style= "width:100px ">a_RX_Current</td>
                    <td style= "width:100px ">a_RX_Max_Audio_Output</td>
                    <td style= "width:100px ">a_RX_Sensitivity</td>
                    <td style= "width:100px ">a_RX_SNR</td>
                    <td style= "width:100px ">a_RX_SQ_Sensitivity_Close</td>
                    <td style= "width:100px ">a_RX_SQ_Sensitivity_Open</td>
                    <td style= "width:100px ">a_RX_SQ_Sensitivity_SINAD_Close</td>
                    <td style= "width:100px ">a_RX_SQ_Sensitivity_SINAD_Open</td>
                    <td style= "width:100px ">a_RX_Weather_forecast</td>
                    <td style= "width:100px ">a_Software_Version</td>
                    <td style= "width:100px ">a_Standby_Current</td>
                    <td style= "width:100px ">a_STATE</td>
                    <td style= "width:100px ">a_time</td>
                    <td style= "width:100px ">a_TS</td>
                    <td style= "width:100px ">a_TX_462Freq_HiPower</td>
                    <td style= "width:100px ">a_TX_462Freq_HiPower_Current</td>
                    <td style= "width:100px ">a_TX_462Freq_LowPower</td>
                    <td style= "width:100px ">a_TX_462Freq_LowPower_Current</td>
                    <td style= "width:100px ">a_TX_467Freq_HiPower</td>
                    <td style= "width:100px ">a_TX_467Freq_HiPower_Current</td>
                    <td style= "width:100px ">a_TX_467Freq_LowPower</td>
                    <td style= "width:100px ">a_TX_467Freq_LowPower_Current</td>
                    <td style= "width:100px ">a_TX_CarrierFreq_Tolerance</td>
                    <td style= "width:100px ">a_TX_CDCSS_Decoder</td>
                    <td style= "width:100px ">a_TX_Channel_Current</td>
                    <td style= "width:100px ">a_TX_Channel_Power</td>
                    <td style= "width:100px ">a_TX_Channel_Power_0</td>
                    <td style= "width:100px ">a_TX_Channel_Power_0_Current</td>
                    <td style= "width:100px ">a_TX_Channel_Power_1</td>
                    <td style= "width:100px ">a_TX_Channel_Power_1_Current</td>
                    <td style= "width:100px ">a_TX_Channel_Power_2</td>
                    <td style= "width:100px ">a_TX_Channel_Power_2_Current</td>
                    <td style= "width:100px ">a_TX_Channel_Power_3</td>
                    <td style= "width:100px ">a_TX_Channel_Power_3_Current</td>
                    <td style= "width:100px ">a_TX_Channel_Power_4</td>
                    <td style= "width:100px ">a_TX_Channel_Power_4_Current</td>
                    <td style= "width:100px ">a_TX_Channel_Power_Current</td>
                    <td style= "width:100px ">a_TX_CTCSS_Decoder</td>
                    <td style= "width:100px ">a_TX_CTCSS_Deviation</td>
                    <td style= "width:100px ">a_TX_Dev_Limit</td>
                    <td style= "width:100px ">a_TX_Freq_Error</td>
                    <td style= "width:100px ">a_TX_Freq_Power</td>
                    <td style= "width:100px ">a_TX_Freq1_10mW_Power</td>
                    <td style= "width:100px ">a_TX_Freq1_10mW_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq1_Hi_Power</td>
                    <td style= "width:100px ">a_TX_Freq1_Hi_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq1_Lo_Power</td>
                    <td style= "width:100px ">a_TX_Freq1_Lo_Power_3V6</td>
                    <td style= "width:100px ">a_TX_Freq1_Lo_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq1_Lo_Power_Current_3V6</td>
                    <td style= "width:100px ">a_TX_Freq2_10mW_Power</td>
                    <td style= "width:100px ">a_TX_Freq2_10mW_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq2_Hi_Power</td>
                    <td style= "width:100px ">a_TX_Freq2_Hi_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq2_Lo_Power</td>
                    <td style= "width:100px ">a_TX_Freq2_Lo_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq3_10mW_Power</td>
                    <td style= "width:100px ">a_TX_Freq3_10mW_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq3_Hi_Power</td>
                    <td style= "width:100px ">a_TX_Freq3_Hi_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq3_Lo_Power</td>
                    <td style= "width:100px ">a_TX_Freq3_Lo_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq4_10mW_Power</td>
                    <td style= "width:100px ">a_TX_Freq4_10mW_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq4_Hi_Power</td>
                    <td style= "width:100px ">a_TX_Freq4_Hi_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq4_Lo_Power</td>
                    <td style= "width:100px ">a_TX_Freq4_Lo_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq5_10mW_Power</td>
                    <td style= "width:100px ">a_TX_Freq5_10mW_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq5_Hi_Power</td>
                    <td style= "width:100px ">a_TX_Freq5_Hi_Power_Current</td>
                    <td style= "width:100px ">a_TX_Freq5_Lo_Power</td>
                    <td style= "width:100px ">a_TX_Freq5_Lo_Power_Current</td>
                    <td style= "width:100px ">a_TX_Hi_Volt_Power</td>
                    <td style= "width:100px ">a_TX_HiPower</td>
                    <td style= "width:100px ">a_TX_HiPower_Current</td>
                    <td style= "width:100px ">a_TX_Lo_Volt_Power</td>
                    <td style= "width:100px ">a_TX_Max_Deviation</td>
                    <td style= "width:100px ">a_TX_Modulation_Distortion</td>
                    <td style= "width:100px ">a_TX_Modulation_Sensitivity</td>
                    <td style= "width:100px ">a_TX_Modulation_SNR</td>
                    <td style= "width:100px ">a_TX_Power_Current</td>
                    <td style= "width:100px ">a_TX_U_Freq_Error</td>
                    <td style= "width:100px ">a_TX_U_Power</td>
                    <td style= "width:100px ">a_TX_VOX1_Sensitivity</td>
                    <td style= "width:100px ">a_TX_VOX2_Sensitivity</td>
                    <td style= "width:100px ">a_TX_VOX3_Sensitivity</td>
                    <td style= "width:100px ">a_TX_VOX5_Sensitivity</td>
                    <td style= "width:100px ">a_TX_VOX9_Sensitivity</td>
                    <td style= "width:100px ">a_User_ID</td>
                    <td style= "width:100px ">a_WORK_PROC</td>
                    <td style= "width:100px ">a_WR_Sensitivity</td>
                </tr>
                <tr ng-repeat= "item in ate.List ">
                    <td>{{ item.BSN }}</td>
                    <td>{{ item.BT_RX_Sensitivity }}</td>
                    <td>{{ item.BT_TX_Power }}</td>
                    <td>{{ item.Call_Dev }}</td>
                    <td>{{ item.DateTime }}</td>
                    <td>{{ item.ElapsedTime }}</td>
                    <td>{{ item.ID }}</td>
                    <td>{{ item.MODEL_NAME }}</td>
                    <td>{{ item.PROD_STAGE }}</td>
                    <td>{{ item.RX_Audio_Distortion }}</td>
                    <td>{{ item.RX_Audio_Distortion_Adj }}</td>
                    <td>{{ item.RX_Audio_Output }}</td>
                    <td>{{ item.RX_BER }}</td>
                    <td>{{ item.RX_CDC_SNR }}</td>
                    <td>{{ item.RX_CTC_SNR }}</td>
                    <td>{{ item.RX_CTCSS_Sensitivity }}</td>
                    <td>{{ item.RX_Current }}</td>
                    <td>{{ item.RX_Max_Audio_Output }}</td>
                    <td>{{ item.RX_Sensitivity }}</td>
                    <td>{{ item.RX_SNR }}</td>
                    <td>{{ item.RX_SQ_Sensitivity_Close }}</td>
                    <td>{{ item.RX_SQ_Sensitivity_Open }}</td>
                    <td>{{ item.RX_SQ_Sensitivity_SINAD_Close }}</td>
                    <td>{{ item.RX_SQ_Sensitivity_SINAD_Open }}</td>
                    <td>{{ item.RX_Weather_forecast }}</td>
                    <td>{{ item.Software_Version }}</td>
                    <td>{{ item.Standby_Current }}</td>
                    <td>{{ item.STATE }}</td>
                    <td>{{ item.time }}</td>
                    <td>{{ item.TS }}</td>
                    <td>{{ item.TX_462Freq_HiPower }}</td>
                    <td>{{ item.TX_462Freq_HiPower_Current }}</td>
                    <td>{{ item.TX_462Freq_LowPower }}</td>
                    <td>{{ item.TX_462Freq_LowPower_Current }}</td>
                    <td>{{ item.TX_467Freq_HiPower }}</td>
                    <td>{{ item.TX_467Freq_HiPower_Current }}</td>
                    <td>{{ item.TX_467Freq_LowPower }}</td>
                    <td>{{ item.TX_467Freq_LowPower_Current }}</td>
                    <td>{{ item.TX_CarrierFreq_Tolerance }}</td>
                    <td>{{ item.TX_CDCSS_Decoder }}</td>
                    <td>{{ item.TX_Channel_Current }}</td>
                    <td>{{ item.TX_Channel_Power }}</td>
                    <td>{{ item.TX_Channel_Power_0 }}</td>
                    <td>{{ item.TX_Channel_Power_0_Current }}</td>
                    <td>{{ item.TX_Channel_Power_1 }}</td>
                    <td>{{ item.TX_Channel_Power_1_Current }}</td>
                    <td>{{ item.TX_Channel_Power_2 }}</td>
                    <td>{{ item.TX_Channel_Power_2_Current }}</td>
                    <td>{{ item.TX_Channel_Power_3 }}</td>
                    <td>{{ item.TX_Channel_Power_3_Current }}</td>
                    <td>{{ item.TX_Channel_Power_4 }}</td>
                    <td>{{ item.TX_Channel_Power_4_Current }}</td>
                    <td>{{ item.TX_Channel_Power_Current }}</td>
                    <td>{{ item.TX_CTCSS_Decoder }}</td>
                    <td>{{ item.TX_CTCSS_Deviation }}</td>
                    <td>{{ item.TX_Dev_Limit }}</td>
                    <td>{{ item.TX_Freq_Error }}</td>
                    <td>{{ item.TX_Freq_Power }}</td>
                    <td>{{ item.TX_Freq1_10mW_Power }}</td>
                    <td>{{ item.TX_Freq1_10mW_Power_Current }}</td>
                    <td>{{ item.TX_Freq1_Hi_Power }}</td>
                    <td>{{ item.TX_Freq1_Hi_Power_Current }}</td>
                    <td>{{ item.TX_Freq1_Lo_Power }}</td>
                    <td>{{ item.TX_Freq1_Lo_Power_3V6 }}</td>
                    <td>{{ item.TX_Freq1_Lo_Power_Current }}</td>
                    <td>{{ item.TX_Freq1_Lo_Power_Current_3V6 }}</td>
                    <td>{{ item.TX_Freq2_10mW_Power }}</td>
                    <td>{{ item.TX_Freq2_10mW_Power_Current }}</td>
                    <td>{{ item.TX_Freq2_Hi_Power }}</td>
                    <td>{{ item.TX_Freq2_Hi_Power_Current }}</td>
                    <td>{{ item.TX_Freq2_Lo_Power }}</td>
                    <td>{{ item.TX_Freq2_Lo_Power_Current }}</td>
                    <td>{{ item.TX_Freq3_10mW_Power }}</td>
                    <td>{{ item.TX_Freq3_10mW_Power_Current }}</td>
                    <td>{{ item.TX_Freq3_Hi_Power }}</td>
                    <td>{{ item.TX_Freq3_Hi_Power_Current }}</td>
                    <td>{{ item.TX_Freq3_Lo_Power }}</td>
                    <td>{{ item.TX_Freq3_Lo_Power_Current }}</td>
                    <td>{{ item.TX_Freq4_10mW_Power }}</td>
                    <td>{{ item.TX_Freq4_10mW_Power_Current }}</td>
                    <td>{{ item.TX_Freq4_Hi_Power }}</td>
                    <td>{{ item.TX_Freq4_Hi_Power_Current }}</td>
                    <td>{{ item.TX_Freq4_Lo_Power }}</td>
                    <td>{{ item.TX_Freq4_Lo_Power_Current }}</td>
                    <td>{{ item.TX_Freq5_10mW_Power }}</td>
                    <td>{{ item.TX_Freq5_10mW_Power_Current }}</td>
                    <td>{{ item.TX_Freq5_Hi_Power }}</td>
                    <td>{{ item.TX_Freq5_Hi_Power_Current }}</td>
                    <td>{{ item.TX_Freq5_Lo_Power }}</td>
                    <td>{{ item.TX_Freq5_Lo_Power_Current }}</td>
                    <td>{{ item.TX_Hi_Volt_Power }}</td>
                    <td>{{ item.TX_HiPower }}</td>
                    <td>{{ item.TX_HiPower_Current }}</td>
                    <td>{{ item.TX_Lo_Volt_Power }}</td>
                    <td>{{ item.TX_Max_Deviation }}</td>
                    <td>{{ item.TX_Modulation_Distortion }}</td>
                    <td>{{ item.TX_Modulation_Sensitivity }}</td>
                    <td>{{ item.TX_Modulation_SNR }}</td>
                    <td>{{ item.TX_Power_Current }}</td>
                    <td>{{ item.TX_U_Freq_Error }}</td>
                    <td>{{ item.TX_U_Power }}</td>
                    <td>{{ item.TX_VOX1_Sensitivity }}</td>
                    <td>{{ item.TX_VOX2_Sensitivity }}</td>
                    <td>{{ item.TX_VOX3_Sensitivity }}</td>
                    <td>{{ item.TX_VOX5_Sensitivity }}</td>
                    <td>{{ item.TX_VOX9_Sensitivity }}</td>
                    <td>{{ item.User_ID }}</td>
                    <td>{{ item.WORK_PROC }}</td>
                    <td>{{ item.WR_Sensitivity }}</td>
                </tr>
            </table>
            <div class= "col-md-12 text-center " ng-if= "ate.page.total>ate.page.size ">
                <div uib-pagination total-items= "ate.page.total " ng-model= "ate.page.index " items-per-page= "ate.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "ate.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
