<uib-tabset active="active" type="tabs" class="h-100" cg-busy="HrUser.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">员工资料查询</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control"  ng-model="HrUser.Ser.a_Name" placeholder="姓名">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  ng-model="HrUser.Ser.a_UserNo" placeholder="工号">
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "HrUser.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                <button class= "btn btn-sm btn-success " ng-click= "HrUser.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>
            </div>
        </div>
        <div class= "padder-md ">
            <div class="col-md-12 scroll-x no-padder">
                <table class= "table " >
                    <thead>
                        <tr>
                            <td title="工号" style= "width:100px ">工号</td>
                            <td title="姓名" style= "width:100px ">姓名</td>
                            <td title="职位" style= "width:100px ">职位</td>
                            <td title="入职时间" style= "width:100px ">入职时间</td>
                            <td title="离职否" style= "width:100px ">离职否</td>
                        </tr>
                    </thead>
                    <tr ng-repeat= "item in HrUser.List ">
                        <td title="{{ item.UserNo }}">{{ item.UserNo }}</td>
                        <td title="{{ item.Name }}">{{ item.Name }}</td>
                        <td title="{{ item.Position }}">{{ item.Position }}</td>
                        <td title="{{ item.InDate }}">{{ item.InDate }}</td>
                        <td title="{{ item.IsLeave }}">{{ item.IsLeave }}</td>
                    </tr>
                </table>
            </div>
            <div class= "col-md-12 text-center " ng-if= "HrUser.page.total>HrUser.page.size ">
                <div uib-pagination total-items= "HrUser.page.total " ng-model= "HrUser.page.index " items-per-page= "HrUser.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "HrUser.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
