<uib-tabset active="active" type="tabs" class="h-100" cg-busy="QcATE.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">品质ATE4项查询</uib-tab-heading>
        <div class="wrapper-xs">
            <div class="form-inline">
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="QcATE.Ser.aBSN" placeholder="内控码">
                </div>
                <div class="form-group">
                    <input autocomplete="off"  type="text" class="form-control"  ng-model="QcATE.Ser.aMODELNAME" placeholder="测试机型">
                </div>
                <div class="form-group">
                    <input autocomplete="off"  type="text" date-time-picker class="form-control"  ng-model="QcATE.Ser.aTS" placeholder="起始时间" option="QcATE.DateTimeOption">
                </div>
                <div class="form-group">
                    <input autocomplete="off"  type="text" date-time-picker class="form-control"  ng-model="QcATE.Ser.aTS1" placeholder="结束时间" option="QcATE.DateTimeOption">
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "QcATE.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                <button class= "btn btn-sm btn-success " ng-click= "QcATE.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>
            </div>
        </div>
        <div class= "padder-xs ">
            <div class="col-md-12 scroll-x no-padder">
                <table class= "table " >
                    <thead>
                        <tr>
                            <td title="内控码" style= "width:100px ">内控码</td>
                            <td title="测试机型" style= "width:100px ">测试机型</td>
                            <td title="测试结果" style= "width:100px ">测试结果</td>
                            <td title="RX_SNR" style= "width:100px ">RX_SNR</td>
                            <td title="RX_SQ_Sensitivity_Open" style= "width:100px ">RX_SQ_Sensitivity_Open</td>
                            <td title="TX_Freq_Error" style= "width:100px ">TX_Freq_Error</td>
                            <td title="TX_Max_Deviation" style= "width:100px ">TX_Max_Deviation</td>
                            <td title="测试时间" style= "width:100px ">测试时间</td>
                            <td title="TX_Freq1_Lo_Power" style= "width:100px ">TX_Freq1_Lo_Power</td>
                            <td title="TX_Freq1_Hi_Power" style= "width:100px ">TX_Freq1_Hi_Power</td>
                            <td title="TX_Freq1_Hi_Power_Current" style= "width:100px ">TX_Freq1_Hi_Power_Current</td>
                            <td title="TX_Freq1_Lo_Power_Current" style= "width:100px ">TX_Freq1_Lo_Power_Current</td>
                            <td title="TX_462Freq_HiPower" style= "width:100px ">TX_462Freq_HiPower</td>
                            <td title="TX_462Freq_HiPower_Current" style= "width:100px ">TX_462Freq_HiPower_Current</td>
                            <td title="TX_462Freq_LowPower" style= "width:100px ">TX_462Freq_LowPower</td>
                            <td title="TX_462Freq_LowPower_Current" style= "width:100px ">TX_462Freq_LowPower_Current</td>
                            <td title="TX_467Freq_HiPower" style= "width:100px ">TX_467Freq_HiPower</td>
                            <td title="TX_467Freq_HiPower_Current" style= "width:100px ">TX_467Freq_HiPower_Current</td>
                            <td title="TX_467Freq_LowPower" style= "width:100px ">TX_467Freq_LowPower</td>
                            <td title="TX_467Freq_LowPower_Current" style= "width:100px ">TX_467Freq_LowPower_Current</td>
                            <td title="TX_Freq2_Hi_Power" style= "width:100px ">TX_Freq2_Hi_Power</td>
                            <td title="TX_Freq2_Hi_Power_Current" style= "width:100px ">TX_Freq2_Hi_Power_Current</td>
                            <td title="TX_Freq3_Hi_Power" style= "width:100px ">TX_Freq3_Hi_Power</td>
                            <td title="TX_Freq3_Hi_Power_Current" style= "width:100px ">TX_Freq3_Hi_Power_Current</td>
                            <td title="TX_Freq4_Hi_Power" style= "width:100px ">TX_Freq4_Hi_Power</td>
                            <td title="TX_Freq4_Hi_Power_Current" style= "width:100px ">TX_Freq4_Hi_Power_Current</td>
                            <td title="TX_Freq5_Hi_Power" style= "width:100px ">TX_Freq5_Hi_Power</td>
                            <td title="TX_Freq5_Hi_Power_Current" style= "width:100px ">TX_Freq5_Hi_Power_Current</td>
                            <td title="TX_Freq2_Lo_Power" style= "width:100px ">TX_Freq2_Lo_Power</td>
                            <td title="TX_Freq2_Lo_Power_Current" style= "width:100px ">TX_Freq2_Lo_Power_Current</td>
                            <td title="TX_Freq3_Lo_Power" style= "width:100px ">TX_Freq3_Lo_Power</td>
                            <td title="TX_Freq3_Lo_Power_Current" style= "width:100px ">TX_Freq3_Lo_Power_Current</td>
                            <td title="TX_Freq4_Lo_Power" style= "width:100px ">TX_Freq4_Lo_Power</td>
                            <td title="TX_Freq4_Lo_Power_Current" style= "width:100px ">TX_Freq4_Lo_Power_Current</td>
                            <td title="TX_Freq5_Lo_Power" style= "width:100px ">TX_Freq5_Lo_Power</td>
                            <td title="TX_Freq5_Lo_Power_Current" style= "width:100px ">TX_Freq5_Lo_Power_Current</td>
                            <td title="TX_Freq1_10mW_Power" style= "width:100px ">TX_Freq1_10mW_Power</td>
                            <td title="TX_Freq1_10mW_Power_Current" style= "width:100px ">TX_Freq1_10mW_Power_Current</td>
                            <td title="TX_Freq2_10mW_Power" style= "width:100px ">TX_Freq2_10mW_Power</td>
                            <td title="TX_Freq2_10mW_Power_Current" style= "width:100px ">TX_Freq2_10mW_Power_Current</td>
                            <td title="TX_Freq3_10mW_Power" style= "width:100px ">TX_Freq3_10mW_Power</td>
                            <td title="TX_Freq3_10mW_Power_Current" style= "width:100px ">TX_Freq3_10mW_Power_Current</td>
                            <td title="TX_Freq4_10mW_Power" style= "width:100px ">TX_Freq4_10mW_Power</td>
                            <td title="TX_Freq4_10mW_Power_Current" style= "width:100px ">TX_Freq4_10mW_Power_Current</td>
                            <td title="TX_Freq5_10mW_Power" style= "width:100px ">TX_Freq5_10mW_Power</td>
                            <td title="TX_Freq5_10mW_Power_Current" style= "width:100px ">TX_Freq5_10mW_Power_Current</td>
                            <td title="TX_HiPower" style= "width:100px ">TX_HiPower</td>
                            <td title="TX_HiPower_Current" style= "width:100px ">TX_HiPower_Current</td>
                            <td title="TX_Hi_Volt_Power" style= "width:100px ">TX_Hi_Volt_Power</td>
                            <td title="TX_Lo_Volt_Power" style= "width:100px ">TX_Lo_Volt_Power</td>
                            <td title="TX_U_Power" style= "width:100px ">TX_U_Power</td>
                            <td title="TX_Channel_Power_Current" style= "width:100px ">TX_Channel_Power_Current</td>
                            <td title="TX_Channel_Power_0" style= "width:100px ">TX_Channel_Power_0</td>
                            <td title="TX_Channel_Power_0_Current" style= "width:100px ">TX_Channel_Power_0_Current</td>
                            <td title="TX_Channel_Power_1" style= "width:100px ">TX_Channel_Power_1</td>
                            <td title="TX_Channel_Power_1_Current" style= "width:100px ">TX_Channel_Power_1_Current</td>
                            <td title="TX_Channel_Power_2" style= "width:100px ">TX_Channel_Power_2</td>
                            <td title="TX_Channel_Power_2_Current" style= "width:100px ">TX_Channel_Power_2_Current</td>
                            <td title="TX_Channel_Power_3" style= "width:100px ">TX_Channel_Power_3</td>
                            <td title="TX_Channel_Power_3_Current" style= "width:100px ">TX_Channel_Power_3_Current</td>
                            <td title="TX_Channel_Power_4" style= "width:100px ">TX_Channel_Power_4</td>
                            <td title="TX_Channel_Power_4_Current" style= "width:100px ">TX_Channel_Power_4_Current</td>
                            <td title="TX_Freq1_Lo_Power_3V6" style= "width:100px ">TX_Freq1_Lo_Power_3V6</td>
                            <td title="TX_Freq1_Lo_Power_Current_3V6" style= "width:100px ">TX_Freq1_Lo_Power_Current_3V6</td>
                            <td title="BT_TX_Power" style= "width:100px ">BT_TX_Power</td>
                            <td title="TX_Freq_Power" style= "width:100px ">TX_Freq_Power</td>
                            <td title="TX_Power_Current" style= "width:100px ">TX_Power_Current</td>
                            <td title="TX_Freq_Power_Hi_1" style= "width:100px ">TX_Freq_Power_Hi_1</td>
                            <td title="TX_Freq1_Hi_Power_6V" style= "width:100px ">TX_Freq1_Hi_Power_6V</td>
                            <td title="TX_Freq1_Hi_Power_Current_6V" style= "width:100px ">TX_Freq1_Hi_Power_Current_6V</td>
                            <td title="TX_Freq2_Hi_Power_6V" style= "width:100px ">TX_Freq2_Hi_Power_6V</td>
                            <td title="TX_Freq2_Hi_Power_Current_6V" style= "width:100px ">TX_Freq2_Hi_Power_Current_6V</td>
                            <td title="TX_Freq1_Mi_Power" style= "width:100px ">TX_Freq1_Mi_Power</td>
                            <td title="TX_Freq1_Mi_Power_Current" style= "width:100px ">TX_Freq1_Mi_Power_Current</td>
                            <td title="TX_Freq2_Mi_Power" style= "width:100px ">TX_Freq2_Mi_Power</td>
                            <td title="TX_Freq2_Mi_Power_Current" style= "width:100px ">TX_Freq2_Mi_Power_Current</td>
                            <td title="TX_Freq3_Mi_Power" style= "width:100px ">TX_Freq3_Mi_Power</td>
                            <td title="TX_Freq3_Mi_Power_Current" style= "width:100px ">TX_Freq3_Mi_Power_Current</td>
                        </tr>
                    </thead>
                    <tr ng-repeat= "item in QcATE.List ">
                        <td title="{{ item.BSN }}">{{ item.BSN }}</td>
                        <td title="{{ item.MODEL_NAME }}">{{ item.MODEL_NAME }}</td>
                        <td title="{{ item.STATE }}">{{ item.STATE }}</td>
                        <td title="{{ item.RX_SNR }}">{{ item.RX_SNR }}</td>
                        <td title="{{ item.RX_SQ_Sensitivity_Open }}">{{ item.RX_SQ_Sensitivity_Open }}</td>
                        <td title="{{ item.TX_Freq_Error }}">{{ item.TX_Freq_Error }}</td>
                        <td title="{{ item.TX_Max_Deviation }}">{{ item.TX_Max_Deviation }}</td>
                        <td title="{{ item.TS }}">{{ item.TS }}</td>
                        <td title="{{ item.TX_Freq1_Lo_Power }}">{{ item.TX_Freq1_Lo_Power }}</td>
                        <td title="{{ item.TX_Freq1_Hi_Power }}">{{ item.TX_Freq1_Hi_Power }}</td>
                        <td title="{{ item.TX_Freq1_Hi_Power_Current }}">{{ item.TX_Freq1_Hi_Power_Current }}</td>
                        <td title="{{ item.TX_Freq1_Lo_Power_Current }}">{{ item.TX_Freq1_Lo_Power_Current }}</td>
                        <td title="{{ item.TX_462Freq_HiPower }}">{{ item.TX_462Freq_HiPower }}</td>
                        <td title="{{ item.TX_462Freq_HiPower_Current }}">{{ item.TX_462Freq_HiPower_Current }}</td>
                        <td title="{{ item.TX_462Freq_LowPower }}">{{ item.TX_462Freq_LowPower }}</td>
                        <td title="{{ item.TX_462Freq_LowPower_Current }}">{{ item.TX_462Freq_LowPower_Current }}</td>
                        <td title="{{ item.TX_467Freq_HiPower }}">{{ item.TX_467Freq_HiPower }}</td>
                        <td title="{{ item.TX_467Freq_HiPower_Current }}">{{ item.TX_467Freq_HiPower_Current }}</td>
                        <td title="{{ item.TX_467Freq_LowPower }}">{{ item.TX_467Freq_LowPower }}</td>
                        <td title="{{ item.TX_467Freq_LowPower_Current }}">{{ item.TX_467Freq_LowPower_Current }}</td>
                        <td title="{{ item.TX_Freq2_Hi_Power }}">{{ item.TX_Freq2_Hi_Power }}</td>
                        <td title="{{ item.TX_Freq2_Hi_Power_Current }}">{{ item.TX_Freq2_Hi_Power_Current }}</td>
                        <td title="{{ item.TX_Freq3_Hi_Power }}">{{ item.TX_Freq3_Hi_Power }}</td>
                        <td title="{{ item.TX_Freq3_Hi_Power_Current }}">{{ item.TX_Freq3_Hi_Power_Current }}</td>
                        <td title="{{ item.TX_Freq4_Hi_Power }}">{{ item.TX_Freq4_Hi_Power }}</td>
                        <td title="{{ item.TX_Freq4_Hi_Power_Current }}">{{ item.TX_Freq4_Hi_Power_Current }}</td>
                        <td title="{{ item.TX_Freq5_Hi_Power }}">{{ item.TX_Freq5_Hi_Power }}</td>
                        <td title="{{ item.TX_Freq5_Hi_Power_Current }}">{{ item.TX_Freq5_Hi_Power_Current }}</td>
                        <td title="{{ item.TX_Freq2_Lo_Power }}">{{ item.TX_Freq2_Lo_Power }}</td>
                        <td title="{{ item.TX_Freq2_Lo_Power_Current }}">{{ item.TX_Freq2_Lo_Power_Current }}</td>
                        <td title="{{ item.TX_Freq3_Lo_Power }}">{{ item.TX_Freq3_Lo_Power }}</td>
                        <td title="{{ item.TX_Freq3_Lo_Power_Current }}">{{ item.TX_Freq3_Lo_Power_Current }}</td>
                        <td title="{{ item.TX_Freq4_Lo_Power }}">{{ item.TX_Freq4_Lo_Power }}</td>
                        <td title="{{ item.TX_Freq4_Lo_Power_Current }}">{{ item.TX_Freq4_Lo_Power_Current }}</td>
                        <td title="{{ item.TX_Freq5_Lo_Power }}">{{ item.TX_Freq5_Lo_Power }}</td>
                        <td title="{{ item.TX_Freq5_Lo_Power_Current }}">{{ item.TX_Freq5_Lo_Power_Current }}</td>
                        <td title="{{ item.TX_Freq1_10mW_Power }}">{{ item.TX_Freq1_10mW_Power }}</td>
                        <td title="{{ item.TX_Freq1_10mW_Power_Current }}">{{ item.TX_Freq1_10mW_Power_Current }}</td>
                        <td title="{{ item.TX_Freq2_10mW_Power }}">{{ item.TX_Freq2_10mW_Power }}</td>
                        <td title="{{ item.TX_Freq2_10mW_Power_Current }}">{{ item.TX_Freq2_10mW_Power_Current }}</td>
                        <td title="{{ item.TX_Freq3_10mW_Power }}">{{ item.TX_Freq3_10mW_Power }}</td>
                        <td title="{{ item.TX_Freq3_10mW_Power_Current }}">{{ item.TX_Freq3_10mW_Power_Current }}</td>
                        <td title="{{ item.TX_Freq4_10mW_Power }}">{{ item.TX_Freq4_10mW_Power }}</td>
                        <td title="{{ item.TX_Freq4_10mW_Power_Current }}">{{ item.TX_Freq4_10mW_Power_Current }}</td>
                        <td title="{{ item.TX_Freq5_10mW_Power }}">{{ item.TX_Freq5_10mW_Power }}</td>
                        <td title="{{ item.TX_Freq5_10mW_Power_Current }}">{{ item.TX_Freq5_10mW_Power_Current }}</td>
                        <td title="{{ item.TX_HiPower }}">{{ item.TX_HiPower }}</td>
                        <td title="{{ item.TX_HiPower_Current }}">{{ item.TX_HiPower_Current }}</td>
                        <td title="{{ item.TX_Hi_Volt_Power }}">{{ item.TX_Hi_Volt_Power }}</td>
                        <td title="{{ item.TX_Lo_Volt_Power }}">{{ item.TX_Lo_Volt_Power }}</td>
                        <td title="{{ item.TX_U_Power }}">{{ item.TX_U_Power }}</td>
                        <td title="{{ item.TX_Channel_Power_Current }}">{{ item.TX_Channel_Power_Current }}</td>
                        <td title="{{ item.TX_Channel_Power_0 }}">{{ item.TX_Channel_Power_0 }}</td>
                        <td title="{{ item.TX_Channel_Power_0_Current }}">{{ item.TX_Channel_Power_0_Current }}</td>
                        <td title="{{ item.TX_Channel_Power_1 }}">{{ item.TX_Channel_Power_1 }}</td>
                        <td title="{{ item.TX_Channel_Power_1_Current }}">{{ item.TX_Channel_Power_1_Current }}</td>
                        <td title="{{ item.TX_Channel_Power_2 }}">{{ item.TX_Channel_Power_2 }}</td>
                        <td title="{{ item.TX_Channel_Power_2_Current }}">{{ item.TX_Channel_Power_2_Current }}</td>
                        <td title="{{ item.TX_Channel_Power_3 }}">{{ item.TX_Channel_Power_3 }}</td>
                        <td title="{{ item.TX_Channel_Power_3_Current }}">{{ item.TX_Channel_Power_3_Current }}</td>
                        <td title="{{ item.TX_Channel_Power_4 }}">{{ item.TX_Channel_Power_4 }}</td>
                        <td title="{{ item.TX_Channel_Power_4_Current }}">{{ item.TX_Channel_Power_4_Current }}</td>
                        <td title="{{ item.TX_Freq1_Lo_Power_3V6 }}">{{ item.TX_Freq1_Lo_Power_3V6 }}</td>
                        <td title="{{ item.TX_Freq1_Lo_Power_Current_3V6 }}">{{ item.TX_Freq1_Lo_Power_Current_3V6 }}</td>
                        <td title="{{ item.BT_TX_Power }}">{{ item.BT_TX_Power }}</td>
                        <td title="{{ item.TX_Freq_Power }}">{{ item.TX_Freq_Power }}</td>
                        <td title="{{ item.TX_Power_Current }}">{{ item.TX_Power_Current }}</td>
                        <td title="{{ item.TX_Freq_Power_Hi_1 }}">{{ item.TX_Freq_Power_Hi_1 }}</td>
                        <td title="{{ item.TX_Freq1_Hi_Power_6V }}">{{ item.TX_Freq1_Hi_Power_6V }}</td>
                        <td title="{{ item.TX_Freq1_Hi_Power_Current_6V }}">{{ item.TX_Freq1_Hi_Power_Current_6V }}</td>
                        <td title="{{ item.TX_Freq2_Hi_Power_6V }}">{{ item.TX_Freq2_Hi_Power_6V }}</td>
                        <td title="{{ item.TX_Freq2_Hi_Power_Current_6V }}">{{ item.TX_Freq2_Hi_Power_Current_6V }}</td>
                        <td title="{{ item.TX_Freq1_Mi_Power }}">{{ item.TX_Freq1_Mi_Power }}</td>
                        <td title="{{ item.TX_Freq1_Mi_Power_Current }}">{{ item.TX_Freq1_Mi_Power_Current }}</td>
                        <td title="{{ item.TX_Freq2_Mi_Power }}">{{ item.TX_Freq2_Mi_Power }}</td>
                        <td title="{{ item.TX_Freq2_Mi_Power_Current }}">{{ item.TX_Freq2_Mi_Power_Current }}</td>
                        <td title="{{ item.TX_Freq3_Mi_Power }}">{{ item.TX_Freq3_Mi_Power }}</td>
                        <td title="{{ item.TX_Freq3_Mi_Power_Current }}">{{ item.TX_Freq3_Mi_Power_Current }}</td>
                    </tr>
                </table>
            </div>
            <div class= "col-md-12 text-center " ng-if= "QcATE.page.total>QcATE.page.size ">
                <div uib-pagination total-items= "QcATE.page.total " ng-model= "QcATE.page.index " items-per-page= "QcATE.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "QcATE.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
