<div class="modal-header text-center">
    <button class="btn btn-sm btn-success pull-left" type="button" ng-click="msc.OKClose()">确定</button>
    <button class="btn btn-sm btn-warning pull-right" type="button" ng-click="msc.Cancel()">取消</button>
    <h3 class="modal-title">U9工单</h3>
</div>
<div class="modal-body wrapper-xs h6" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body padder-xs padder-v-xxs">
            <div class="wrapper-sm">
                <div class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control"  ng-model="msc.Ser.aDocNo" placeholder="工单号">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"  ng-model="msc.Ser.aWPO" placeholder="委外单号">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control"  ng-model="msc.Ser.aCode" placeholder="料号">
                    </div>
                    <button class= "btn btn-sm btn-info " ng-click= "msc.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                </div>
            </div>
            <div class="padder-sm table-responsive">
                <table class="table one-line">
                    <thead>
                        <tr>
                            <td title="工单号" style= "width:100px ">工单号</td>
                            <td title="料号" style= "width:100px ">料号</td>
                            <td title="品名" style= "width:100px ">品名</td>
                            <td title="委外单号" style= "width:100px ">委外单号</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in msc.List " ng-click="msc.Select(item)" ng-dblclick="msc.OK(item)">
                        <td title="{{ item.DocNo }}">{{ item.DocNo }}</td>
                        <td title="{{ item.Code }}">{{ item.Code }}</td>
                        <td title="{{ item.Name }}">{{ item.Name }}</td>
                        <td title="{{ item.WPO }}">{{ item.WPO }}</td>
                    </tr>
                </table>
                <div class= "col-md-12 text-center " ng-if= "msc.page.total>msc.page.size ">
                    <div uib-pagination total-items= "msc.page.total " ng-model= "msc.page.index " items-per-page= "msc.page.size " max-size= "10 " first-text= "<< " previous-text= "< "
                     ng-change= "msc.PageChange() " next-text= "> " last-text= ">> " boundary-links= "true " boundary-link-numbers= "true "></div>
                </div>
            </div>
        </div>
    </div>
</div>
