<div class="modal-header">
    <h3 class="modal-title">完工报告</h3>
</div>
<div class="modal-body wrapper-sm" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body wrapper-xs">
            <div class="form-group">
                <button class="btn btn-success" type="button" ng-disabled="DialogForm.$invalid" ng-click="crdc.Save()">储存</button>
                <button class="btn btn-warning" type="button" ng-click="crdc.Cancel()">取消</button>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <!--<div class="col-sm-4 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">单号</label>
                        <div class="col-sm-8 padder-xs">
                            <input autocomplete="off"  type="text" name="DocNo" disabled="disabled" class="form-control" placeholder="单号" ng-model="crdc.Item.DocNo" required>
                        </div>
                    </div>-->
                    <div class="col-sm-4 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">工单号</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.WorkOrder.$invalid }">
                            <div class="input-group">
                                <input autocomplete="off"  type="text" disabled="disabled" name="WorkOrder" class="form-control" placeholder="工单号" ng-model="crdc.Item.WorkOrder" required>
                                <span class="input-group-addon">
                                    <a ng-click="crdc.SelectWorkOrder()"><i class="glyphicon glyphicon-search"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">完工日期</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.CompleteDate.$invalid }">
                            <input autocomplete="off"  date-time-picker type="text" class="form-control" name="CompleteDate" placeholder="完工日期"
                                   ng-model="crdc.Item.CompleteDate" required option="crdc.DateOption">
                        </div>
                    </div>
                    <div class="col-sm-4 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">完工数量</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.CompleteQty.$invalid }">
                            <input autocomplete="off"  type="number" class="form-control" name="CompleteQty" placeholder="完工数量"
                                   ng-model="crdc.Item.CompleteQty" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">料号</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.MaterialCode.$invalid }">
                            <input autocomplete="off"  type="text" name="MaterialCode" disabled="disabled" class="form-control" placeholder="品名" ng-model="crdc.Item.MaterialCode" required>
                        </div>
                        <!--<div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.MaterialCode.$invalid }">
                            <div class="input-group">
                                <input autocomplete="off"  type="text" name="MaterialCode" disabled="disabled" class="form-control" placeholder="品名" ng-model="crdc.Item.MaterialCode" required>
                                <span class="input-group-addon">
                                    <a ng-click="crdc.SelectProduct()"><i class="glyphicon glyphicon-search"></i></a>
                                </span>
                            </div>
                        </div>-->
                    </div>
                    <div class="col-sm-4 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">品名</label>
                        <div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.MaterialName.$invalid }">
                            <input autocomplete="off"  type="text" name="MaterialName" disabled="disabled" class="form-control" placeholder="品名" ng-model="crdc.Item.MaterialName" required>
                        </div>
                        <!--<div class="col-sm-8 padder-xs" ng-class="{ 'has-error' : DialogForm.MaterialName.$invalid }">
                            <div class="input-group">
                                <input autocomplete="off"  type="text" name="MaterialName" disabled="disabled" class="form-control" placeholder="品名" ng-model="crdc.Item.MaterialName" required>
                                <span class="input-group-addon">
                                    <a ng-click="crdc.SelectProduct()"><i class="glyphicon glyphicon-search"></i></a>
                                </span>
                            </div>
                        </div>-->
                    </div>
                    <div class="col-sm-4 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">累计完工数量</label>
                        <div class="col-sm-8 padder-xs" >
                            <input autocomplete="off"  type="number" disabled="disabled" class="form-control" name="ActualRcvQty" placeholder="累计完工数量"
                                   ng-model="crdc.TotalCompleteQty" >
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 padder-xs">
                        <label class="control-label col-sm-4 padder-xs">U9开工数量</label>
                        <div class="col-sm-8 padder-xs">
                            <input autocomplete="off" type="number" disabled="disabled" class="form-control" name="TotalStartQty" placeholder="U9开工数量"
                                   ng-model="crdc.TotalStartQty">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 padder-xs">
                    <ol class="text-danger font-bold">
                        <li><span>注：请确保工单已经排班！</span></li>
                        <li><span>非[完工报告]工单，不能选择（系统已过滤）！</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

