<uib-tabset active="active" type="tabs" class="h-100" cg-busy="crc.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">完工报告</uib-tab-heading>
        <div class="wrapper-md">
            <div class="input-group m-b-xxs">
                <div class="form-inline">
                    <button class="btn btn-sm btn-success " ng-click="crc.Add() "><i class="glyphicon glyphicon-plus "></i>新增</button>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="crc.Ser.DocNo" placeholder="工单号">
                            <span class="input-group-addon">
                                <a><i ng-click="crc.Ser.DocNo = undefined" class="glyphicon glyphicon-trash text-danger"></i></a>
                            </span>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <div class="input-group">
                            <input type="text" date-picker class="form-control" name="AssemblyDate" placeholder="完工日期" option="auctusSO.UnExist2"
                                   ng-model="crc.Ser.AssemblyDate" required>
                            <span class="input-group-addon">
                                <a><i ng-click="crc.Ser.AssemblyDate = undefined" class="glyphicon glyphicon-trash text-danger"></i></a>
                            </span>
                        </div>
                    </div>-->
                    <button class="btn btn-sm btn-info " ng-click="crc.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
                </div>
            </div>
        </div>
        <div class="padder-md table-responsive">
            <table class="table one-line">
                <thead>
                    <tr>
                        <td style="width:90px ">编辑</td>
                        <td style="width:100px ">单号</td>
                        <td style="width:100px ">工单号</td>
                        <td style="width:100px ">工单数量</td>
                        <td style="width:100px ">料号</td>
                        <td style="width:100px ">品名</td>
                        <td style="width:100px ">完工时间</td>
                        <td style="width:100px ">完工数量</td>
                        <!--<td style="width:100px ">累计完工数量</td>-->

                    </tr>
                </thead>
                <tr ng-repeat="item in crc.List ">
                    <td>
                        <button class="btn btn-xs btn-primary" title="编辑" ng-click="crc.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                        <button class="btn btn-xs btn-danger" title="删除" ng-confirm="{text:'确定要删除吗'}" ng-click="crc.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>
                    <td title="{{ item.DocNo }}">{{ item.DocNo }}</td>
                    <td title="{{ item.WorkOrder }}">{{ item.WorkOrder }}</td>
                    <td title="{{ item.Quantity.Quantity }}">{{ item.Quantity.Quantity }}</td>
                    <td title="{{ item.MaterialCode }}">{{ item.MaterialCode }}</td>
                    <td title="{{ item.MaterialName }}">{{ item.MaterialName }}</td>
                    <td title="{{ item.CompleteDate }}">{{ item.CompleteDate|date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td title="{{ item.CompleteQty }}">{{ item.CompleteQty }}</td>
                    <!--<td title="{{ item.ActualRcvQty }}">{{ item.ActualRcvQty }}</td>-->
                </tr>
            </table>
        </div>
        <div class="col-md-12 text-center " ng-if="crc.page.total>crc.page.pageSize ">
            <div uib-pagination total-items="crc.page.total " ng-model="crc.page.pageIndex " items-per-page="crc.page.pageSize " max-size="10 " first-text="第一页 " previous-text="上一页 "
                 ng-change="crc.DataBind() " next-text="下一页 " last-text="最后页 " boundary-links="true " boundary-link-numbers="true ">
            </div>
        </div>
    </uib-tab>
</uib-tabset>
