<div class="modal-header">
    <h3 class="modal-title">客户信息</h3>
</div>

<div class="modal-body wrapper-sm h6" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body wrapper-xs">
            <div class="wrapper-md">
                <div class="form-inline">
                    <div class="form-group">
                        <input autocomplete="off"  type="text" class="form-control" ng-model="mcSer.Ser.a_Code" placeholder="客户编码">
                    </div>
                    <div class="form-group">
                        <input autocomplete="off"  type="text" class="form-control" ng-model="mcSer.Ser.a_Name" placeholder="客户名称">
                    </div>
                    <button class="btn btn-sm btn-info " ng-click="mcSer.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
                </div>
            </div>
            <div class="padder-md ">
                <table class="table ">
                    <thead>
                        <tr>
                            <td style="width:100px ">客户编码</td>
                            <td style="width:100px ">客户名称</td>
                            <td style="width:100px ">备注</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in mcSer.List " ng-click="mcSer.Cancel(item)">
                        <td title="{{ item.Code }}">{{ item.Code }}</td>
                        <td title="{{ item.Name }}">{{ item.Name }}</td>
                        <td title="{{ item.Remark }}">{{ item.Remark }}</td>
                    </tr>
                </table>
                <div class="col-md-12 text-center " ng-if="mcSer.page.total>mcSer.page.size ">
                    <div uib-pagination total-items="mcSer.page.total " ng-model="mcSer.page.index " items-per-page="mcSer.page.size " max-size="10 " first-text="第一页 " previous-text="上一页 "
                         ng-change="mcSer.PageChange() " next-text="下一页 " last-text="最后页 " boundary-links="true " boundary-link-numbers="true "></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-warning" type="button" ng-click="mcSer.Cancel()">取消</button>
    </div>
</div>