<div class="modal-header">
    <h3 class="modal-title">产品信息</h3>
</div>
<div class="modal-body wrapper-sm h6" ng-form="DialogForm">
    <div class="panel panel-default">
        <div class="panel-body wrapper-xs">
            <div class="wrapper-md">
                <div class="form-inline">
                    <div class="form-group">
                        <input autocomplete="off"  type="text" class="form-control" ng-model="wos.Ser.WorkOrder" placeholder="工单号">
                    </div>
                    <div class="form-group">
                        <input autocomplete="off"  type="text" class="form-control" ng-model="wos.Ser.MaterialCode" placeholder="产品编码">
                    </div>
                    <div class="form-group">
                        <input autocomplete="off"  type="text" class="form-control" ng-model="wos.Ser.MaterialName" placeholder="产品名称">
                    </div>
                    <button class="btn btn-sm btn-info " ng-click="wos.Search() "><i class="glyphicon glyphicon-search "></i>查询</button>
                </div>
            </div>
            <div class="padder-md table-responsive">
                <table class="table one-line">
                    <thead>
                        <tr>
                            <td style="width:100px ">工单号</td>
                            <td style="width:100px ">产品编码</td>
                            <td style="width:100px ">产品名称</td>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in wos.List " ng-click="wos.Cancel(item)">
                        <td title="{{ item.WorkOrder }}">{{ item.WorkOrder }}</td>
                        <td title="{{ item.MaterialCode }}">{{ item.MaterialCode }}</td>
                        <td title="{{ item.MaterialName }}">{{ item.MaterialName }}</td>
                    </tr>
                </table>
                <div class="col-md-12 text-center " ng-if="wos.page.total>wos.page.size ">
                    <div uib-pagination total-items="wos.page.total " ng-model="wos.page.index " items-per-page="wos.page.size " max-size="10 " first-text="第一页 " previous-text="上一页 "
                         ng-change="wos.PageChange() " next-text="下一页 " last-text="最后页 " boundary-links="true " boundary-link-numbers="true "></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-center">
        <button class="btn btn-warning" type="button" ng-click="wos.Cancel()">取消</button>
    </div>
</div>

