<div class="form-group col-md-12 has-feedback m-b-xxs" ng-if="ngDisabled=='false'">
    <div class="col-md-12 input-group">
        <span class="input-group-addon">
            <a class="pull-left" ng-click="Open($event)"><i class="fa fa-folder-open">浏览</i></a>
            <!--<a class="pull-right text-success" ng-click="uploader.uploadAll()"><i class="glyphicon glyphicon-upload">上传</i></a>-->
        </span>
        <div ng-if="ableDrag=='true'" nv-file-drop="" uploader="uploader">
            <div nv-file-over="" uploader="uploader" over-class="b-danger" class="b-a b-2x b-dashed wrapper-lg lter text-center">
                可拖曳文件到此上传
            </div>
        </div>
        <input type="text" class="form-control" name="{{ ngName }}" placeholder="{{ placeholder }}" disabled ng-required="ngRequired"/>
        <span class="input-group-addon">
            <a class="pull-right text-success" ng-click="uploader.uploadAll()"><i class="glyphicon glyphicon-upload">上传</i></a>
        </span>
        <input type="file" class="fileType" nv-file-select="" multiple uploader="uploader" style="display: none" accept="{{ fileType }}">
    </div>
</div>
<div ng-repeat="f in fileData">
    <div class="form-group col-md-12 has-feedback  m-b-none">
        <div class="col-md-12 input-group">
            <span class="input-group-addon" ng-if="ngDisabled=='false'" ng-click="Delete($index)">
                <a class="text-danger"><i class="glyphicon glyphicon-trash"></i></a>
            </span>
            <input class="form-control" ng-disabled="ngDisabled == 'true'" type="text" ng-model="f.OriginalName">
            <span class="input-group-addon text-success">{{ f.FileType }}</span>
            <span class="input-group-addon">
                <a ng-click="DownLoad(f.FileUrl)" class="text-success"><i class="glyphicon glyphicon-download"></i></a>
                <!--<a href="{{ f.FileUrl }}" download="{{ f.OriginalName }}{{ f.FileType }}" class="text-success"><i class="glyphicon glyphicon-download"></i></a>-->
            </span>

        </div>
    </div>
</div>
<div ng-repeat="item in uploader.queue">
    <div class="form-group col-md-12 has-feedback m-b-none" ng-if="!item.isSuccess">
        <div class="col-md-12 input-group">
            <span ng-if="item.isSuccess" class="input-group-addon text-success"><i class="glyphicon glyphicon-ok"></i></span>
            <input class="form-control" type="text" ng-model="item.file.name" disabled>
            <span class="input-group-addon" ng-click="item.cancel()" ng-if="item.isUploading">
                <a class="text-warning"><i class="glyphicon glyphicon-ban-circle"></i></a>
            </span>
            <span class="input-group-addon" ng-click="item.remove()">
                <a class="text-danger"><i class="glyphicon glyphicon-trash"></i></a>
            </span>
        </div>
    </div>
    <div class="form-group-sm col-md-12" ng-if="item.progress<100 && item.progress>0">
        <div class="progress progress-striped progress-xs m-t-none">
            <div class="progress-bar progress-bar-success " role="progressbar"
                 aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 ng-style="{ 'width': item.progress + '%' }">
            </div>
        </div>
    </div>
</div>
<!--<pre>{{ fileData|json }}</pre>-->
