<uib-tabset active="active" type="tabs" class="h-100" ng-attr-active="aql.tabIndex" cg-busy="aql.promise">
    <uib-tab index="$index" select="aql.ChangeTab(item.ClInf)" ng-repeat="item in aql.ATypeData">
        <uib-tab-heading class="h5">{{ item.ClDesc }}检验属性</uib-tab-heading>
    </uib-tab>
</uib-tabset>
<!--<div class="wrapper-md">
    <div class="form-group-xs text-center">
        <span class="btn-group">
            <label class="btn btn-success" ng-model="aql.Atype" ng-repeat="item in aql.ATypeData" uib-btn-radio="item.ClInf" ng-click="aql.GetAqlData()">{{ item.ClDesc }}</label>
        </span>
    </div>
</div>-->
<div class="wrapper-xs">
    <div class="form-inline">
        <button class="btn btn-sm btn-success " ng-click="aql.Insert() "><i class="glyphicon glyphicon-plus "></i>新增</button>
        <div class="form-group">
            <input type="number" class="form-control" ng-model="aql.Ser.AChar" placeholder="字码查询">
        </div>
        <button class="btn btn-sm btn-info " ng-click="aql.Search()"><i class="glyphicon glyphicon-search "></i>查询</button>
    </div>
</div>
<div class="padder-xs">
    <div class="col-md-12 scroll-x no-padder">
        <div class="wrapper-xs" ng-if="aql.IsEdit">
            <button class="btn btn-sm btn-success " ng-if="aql.IsEdit" ng-click="aql.IsEdit =!aql.IsEdit"><i class="glyphicon glyphicon-plus "></i>取消</button>
            <button class="btn btn-sm btn-success " ng-if="aql.IsEdit" ng-click="aql.Insert() "><i class="glyphicon glyphicon-save "></i>保存</button>
            <button class="btn btn-sm btn-warning " ng-if="aql.IsEdit" ng-click="aql.IsEdit =!aql.IsEdit">取消</button>
        </div>
        <div class="col-md-12 scroll-x no-padder text-left">
            <table class="table pad-xs pull-left" style="min-width:1000px">
                <thead>
                    <tr>
                        <td style="width:40px" rowspan="2">操作</td>
                        <td style="width:30px" rowspan="2">字码</td>
                        <td style="width:40px" rowspan="2">抽样数</td>
                        <td style="width:60px; background-color:burlywood; border-bottom: 1px solid #790808" class="font-bold" colspan="2" ng-repeat="item in aql.ParaData.data1">{{ item.AValue }}</td>
                    </tr>
                    <tr>
                        <td style="width:30px;" ng-repeat="item in aql.ParaData.data2">
                            <div ng-class="{ 'bg-success': item.ColType=='AC', 'bg-danger-light': item.ColType=='RE' }">{{ item.ColType }}</div>
                        </td>
                    </tr>
                </thead>
                <tr ng-if="aql.IsInsert" ng-form="aql.InsertForm">
                    <td>
                        <button class="btn btn-xs btn-success" ng-disabled="aql.InsertForm.$invalid" ng-click="aql.Save(aql.NewItem, true)"><i class="glyphicon glyphicon-save"></i></button>
                        <button class="btn btn-xs btn-warning" ng-click="aql.IsInsert=false"><i class="fa fa-undo"></i></button>
                    </td>
                    <td>
                        <div ng-class="{ 'has-error': aql.InsertForm.AChar.$invalid }">
                            <input type="text" maxlength="1" name="AChar" class="form-control" placeholder="样本字码" ng-model="aql.NewItem.AChar" required />
                        </div>
                    </td>
                    <td>
                        <div ng-class="{ 'has-error': aql.InsertForm.SampleNum.$invalid }">
                            <input type="number" name="SampleNum" class="form-control" placeholder="抽样值" ng-model="aql.NewItem.SampleNum" required />
                        </div>
                    </td>
                    <td ng-repeat="col in aql.ParaData.data2">
                        <div ng-class="{ 'has-error': aql.InsertForm.$invalid }">
                            <input type="number" name="insert_{{ col.ColName }}" class="form-control" placeholder="{{ col.ColName }}" ng-model="aql.NewItem[col.ColName]" required />
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="item in aql.ParaData.data " ng-form="item.ItemForm">
                    <td>
                        <span ng-if="!item.IsEdit">
                            <button class="btn btn-xs btn-primary" ng-click="aql.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                            <button class="btn btn-xs btn-danger" ng-confirm="{text:'确定要删除吗'}" ng-click="aql.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                        <span ng-if="item.IsEdit">
                            <button class="btn btn-xs btn-success" ng-disabled="item.ItemForm.$invalid" ng-click="aql.Save(aql.EditItem)"><i class="glyphicon glyphicon-save"></i></button>
                            <button class="btn btn-xs btn-warning" ng-click="item.IsEdit=false"><i class="fa fa-undo"></i></button>
                        </span>
                    </td>
                    <td>{{ item.AChar }}</td>
                    <td>
                        <span ng-if="!item.IsEdit">{{ item.SampleNum }}</span>
                        <div ng-if="item.IsEdit" ng-class="{ 'has-error' : item.ItemForm.item_SampleNum.$invalid }">
                            <input type="number" name="item_SampleNum" class="form-control" placeholder="抽样值" ng-model="aql.EditItem.SampleNum" required />
                        </div>
                    </td>
                    <td ng-repeat="col in aql.ParaData.data2">
                        <span ng-if="!item.IsEdit">{{ item[col.ColName] }}</span>
                        <div ng-if="item.IsEdit" ng-class="{ 'has-error' : item.ItemForm.$invalid }">
                            <input type="number" name="item_{{ col.ColName }}" class="form-control" ng-model="aql.EditItem[col.ColName]" required />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
