<div class="app-content-full" cg-busy="qti.promise">
    <div class="hbox hbox-auto-xs hbox-auto-sm bg-light">
        <div class="col w-xl padder b-r h-100">
            <div class="vbox">
                <div class="wrapper">
                    <div class="h4 text-center">检验维护项</div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="wrapper-xs">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input autocomplete="off"  type="text" class="form-control input-sm ng-pristine ng-untouched ng-valid ng-empty" placeholder="查询" ng-model="qti.TypeName">                                       
                                        <span class="input-group-btn">
                                            <button class="btn btn-sm btn-default" ng-click="qti.searchTreeView(qti.TypeName)">
                                                <i class="glyphicon glyphicon-search text-success">查询</i>
                                            </button>
                                        </span>

                                    </div>
                                </div>
                                <div class="list-group">
                                    <!--树状控件内容-->
                                    <div id="tree" class="h6">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col w-auto w-lg lt b-r text-xs">
            <div class="row-row">
                <div class="cell scrollable hover">
                    <div class="cell-inner">
                        <div class="wrapper-md">
                            <div class="input-group m-b-xxs" style="padding-bottom:10px;">
                                <div class="form-inline">
                                    <button class="btn btn-sm btn-success" ng-click="qti.Add()"><i class="glyphicon glyphicon-plus"></i>新增分类</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped b-2x table-responsive" style="word-break:break-all; word-wrap:break-word;">
                                        <tr class="text-center bg-gd-dk h4">
                                            <td style="width:7%;">编辑</td>
                                            <td style="width:7%;" class="">编码</td>
                                            <td style="width:17%;">名称</td>
                                            <td style="width:7%;" class="">排序</td>
                                        </tr>
                                        <!--filter: auctusSO.search-->
                                        <!---->
                                        <tr ng-repeat="item in qti.List">
                                            <td>
                                                <button class="btn btn-xs btn-primary" ng-click="qti.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button class="btn btn-xs btn-danger" ng-confirm="{text:'确定要删除此分类以及下阶所有数据吗'}" ng-click="qti.Delete(item.ID)"><i class="glyphicon glyphicon-remove"></i></button>
                                            </td>
                                            <td>{{ item.Code }}</td>
                                            <td class="text-left">{{ item.text }}</td>
                                            <td>{{ item.OrderNo }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="col-md-12 text-center" ng-if="qti.page.total>qti.page.pageSize">
                                <div uib-pagination total-items="qti.page.total" ng-model="qti.page.pageIndex" items-per-page="qti.page.pageSize" max-size="qti.page.maxSize" first-text="第一页" previous-text="上一页"
                                     ng-change="qti.DataBind()" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--右侧弹出框-->
<div class="pro-file d-r md bg-light dk wrapper-md padder-md scroll-y" ng-form="DialogForm">
    <div class="b-b wrapper-md text-center">
        <a href class="text-danger pull-left" ui-remove-class="active" target=".pro-file"><i class="glyphicon glyphicon-remove"></i></a>
        <h3>检验维修项</h3>
    </div>
    <div class="padder-md wrapper">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="input-group m-b-xxs" style="padding-bottom:10px;">
                        <div class="form-inline">
                            <button class="btn btn-sm btn-success" ng-click="qti.Save()" ng-disabled="DialogForm.$invalid"><i class="glyphicon glyphicon-save"></i>保存</button>
                            <button class="btn btn-sm btn-warning" ui-remove-class="active" target=".pro-file"><i class="glyphicon glyphicon-remove"></i>放弃</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">编码</label>
                        <div class="col-md-10" ng-class="{ 'has-error' : DialogForm.Code.$invalid }">
                            <input autocomplete="off"  type="text" name="Code" ng-disabled="qti.ItemData.ID>0" ng-model="qti.ItemData.Code" class="form-control" required/>
                        </div>
                        </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">名称</label>
                        <div class="col-md-10" ng-class="{ 'has-error' : DialogForm.text.$invalid }">
                            <input autocomplete="off" type="text" name="text" ng-model="qti.ItemData.text" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">排序</label>
                        <div class="col-md-10" ng-class="{ 'has-error' : DialogForm.OrderNo.$invalid }">
                            <input autocomplete="off"  type="number" name="OrderNo" ng-model="qti.ItemData.OrderNo" class="form-control" required/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
