<div class="bg-light lter b-b wrapper-md" cg-busy="itemmaster.promise">
    <h3 class="m-n font-thin h3 text-center">
        电子料列表
        <button class="btn btn-sm btn-success pull-left" ng-click="itemmaster.Insert()"><i class="glyphicon glyphicon-plus"></i> 新增</button>
    </h3>
</div>
<div class="wrapper-md">
    <div class="input-group m-b-xxs">
        <div class="form-inline">
            <div class="form-group">
                <input autocomplete="off"  type="text" class="form-control" ng-model="itemmaster.S.DocLineNo" placeholder="行号">
            </div>
            <div class="form-group">
                <input autocomplete="off"  type="text" class="form-control" ng-model="itemmaster.S.Code" placeholder="料号">
            </div>
            <button class="btn btn-sm btn-info" ng-click="itemmaster.Search()"><i class="glyphicon glyphicon-search"></i>查询</button>
            <button class="btn btn-sm btn-success" ng-click="itemmaster.Export()"><i class="glyphicon glyphicon-export"></i>导出</button>
        </div>
    </div>
    <div>
        <table class="table b-2x" cg-busy="sys.promise">
            <tr class="text-left bg-gd-dk h4">
                <td class="col-md-1">编辑</td>
                <td class="col-md-1">组号</td>
                <td class="col-md-1">料号</td>
                <td class="col-md-3">品名</td>
                <!--<td class="col-md-1">类型</td>-->
                <td class="col-md-1">优选顺序</td>
                <td class="col-md-5">规格</td>
            </tr>
            <!--filter: itemmaster.search-->
            <tr ng-repeat="item in itemmaster.List |orderBy:['DocLineNo']">
                <td>
                    <button class="btn btn-xs btn-primary" ng-click="itemmaster.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                    <button class="btn btn-xs btn-danger" ng-confirm="{text:'确定要删除吗'}" ng-click="itemmaster.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
                <td>{{ item.DocLineNo }}</td>
                <td>{{ item.Code }}</td>
                <td>{{ item.Name }}</td>
                <!--<td ng-if="item.ComponentType==null">无</td>
                <td ng-if="item.ComponentType==0">标准</td>
                <td ng-if="item.ComponentType==2">替代</td>-->
                <td>{{item.OrderNo}}</td>
                <td>{{ item.SPEC }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-12 text-center" ng-if="itemmaster.page.total>itemmaster.page.size">
        <div uib-pagination total-items="itemmaster.page.total" ng-model="itemmaster.page.index" items-per-page="itemmaster.page.size" max-size="itemmaster.page.maxSize" first-text="第一页" previous-text="上一页"
             ng-change="itemmaster.PageChange()" next-text="下一页" last-text="最后页" boundary-links="true" boundary-link-numbers="true"></div>
    </div>
</div>
