<div class="app-content-full" cg-busy="customer.promise">
    <div class="hbox hbox-auto-xs hbox-auto-sm bg-light">
        <div class="col w-md lt b-r text-xs">
            <div class="vbox">
                <div class="wrapper">
                    <div class="h4 text-center">用户列表</div>
                </div>
                <div class="wrapper b-t m-b-md">
                    <div class="form-group">
                        <div class="input-group">
                            <input autocomplete="off"  type="text" class="form-control input-sm" ng-keypress="($event.which === 13)?customer.Search():0" placeholder="账号/姓名/公司名称" ng-model="customer.S.WhereClause">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-default" ng-click="customer.Search()">
                                    <i class="glyphicon glyphicon-search text-success">查询</i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="padder">
                                <div class="list-group">
                                    <a ng-repeat="item in customer.List" class="list-group-item b-l-3x hover-anchor cl" ng-class="{'hover': item.Account == customer.selectedCustomer.Account, ' b-l-info':$index%2==0, 'b-l-primary':$index%2==1}" ng-click="customer.SelectCustomer(item)">
                                        <span class="pull-left h2 mr-1">
                                            <i class="fa" ng-class="{ 'fa-male text-success': item.Sex=='M', 'fa-female text-danger': item.Sex=='F' }"></i>
                                        </span>
                                        <div class="clear ml-1">
                                            <span class="block text-info text-lg" ng-bind-html="item.Account | highlight: customer.S.WhereClause"></span>
                                            <small class="text-muted">
                                                <span>{{ item.Contact }}</span>
                                            </small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col w-auto w-lg lt b-r text-xs">
            <div class="vbox">
                <div class="row-row">
                    <div class="cell scrollable hover">
                        <div class="cell-inner">
                            <div class="padder">
                                <div class="padder-md" ng-if="customer.selectedCustomer" ng-form="customer.form">
                                    <div class="row">
                                        <div class="col-md-9 b-r m-t-xs">
                                            <div class="row">
                                                <span class="m-l-md">
                                                    <button class="btn btn-sm btn-success" ng-if="!customer.isEdit" ng-click="customer.EditCustomer()">
                                                        <i class="glyphicon glyphicon-edit">编辑</i>
                                                    </button>
                                                    <button class="btn btn-sm btn-success" ng-if="customer.isEdit" ng-click="customer.SaveCustomer()" ng-disabled="customer.form.$invalid">
                                                        <i class="glyphicon glyphicon-edit">确定</i>
                                                    </button>
                                                    <button class="btn btn-sm btn-warning m-l-xs m-r-lg" ng-if="customer.isEdit" ng-click="customer.CancelCustomer()"> 取消</button>
                                                </span>
                                            </div>
                                            <div class="form form-horizontal b m-t-md">
                                                <div class="form-group pull-in clearfix  m-t-xs col-md-6" title="">
                                                    <label class="col-md-12  font-bold">注册账号:</label>
                                                    <div class="col-md-12">
                                                        <input autocomplete="off"  type="text" class="form-control text-xs" name="Account" placeholder="注册账号" ng-model="customer.selectedCustomer.Account" disabled required>
                                                    </div>
                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs col-md-6" title="">
                                                    <label class="col-md-12  font-bold">公司地址:</label>
                                                    <div class="col-md-12" ng-class="{ 'has-error' : customer.form.Address.$invalid }">
                                                        <input autocomplete="off"  type="text" class="form-control text-xs" ng-disabled="!customer.isEdit" name="Address" placeholder="公司地址" ng-model="customer.selectedCustomer.Address" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs  col-md-6" title="">
                                                    <label class="col-md-12  font-bold">公司名称:</label>
                                                    <div class="col-md-12" ng-class="{ 'has-error' : customer.form.CompanyName.$invalid }">
                                                        <input autocomplete="off"  type="text" name="CompanyName" class="form-control" ng-disabled="!customer.isEdit" placeholder="公司名称" ng-model="customer.selectedCustomer.CompanyName" required>
                                                        <div ng-messages="customer.form.CompanyName.$error" class="help-block" role="alert">
                                                            <div ng-message="required">公司名称不能为空</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs  col-md-6" title="">
                                                    <label class="col-md-12  font-bold">公司邮箱:</label>
                                                    <div class="col-md-12" ng-class="{ 'has-error' : customer.form.Email.$invalid }">
                                                        <input autocomplete="off"  type="email" class="form-control" name="Email" ng-disabled="!customer.isEdit" placeholder="公司邮箱"
                                                               ng-pattern="/^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/" ng-model="customer.selectedCustomer.Email" required>
                                                        <div ng-messages="customer.form.email.$error" class="help-block" role="alert">
                                                            <div ng-message="required">邮箱地址不对</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs  col-md-6" title="">
                                                    <label class="col-md-12  font-bold">公司授权联系人:</label>
                                                    <div class="col-md-12" ng-class="{ 'has-error' : customer.form.Contact.$invalid }">
                                                        <input autocomplete="off"  type="text" name="Contact" class="form-control" ng-disabled="!customer.isEdit" placeholder="公司授权联系人" ng-model="customer.selectedCustomer.Contact" required>
                                                        <div ng-messages="customer.form.Contact.$error" class="help-block" role="alert">
                                                            <div ng-message="required">公司授权联系人不能为空</div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs  col-md-6" title="">
                                                    <label class="col-md-12  font-bold">联系人座机:</label>
                                                    <div class="col-md-12" ng-class="{ 'has-error' : customer.form.Phone.$invalid }">
                                                        <input autocomplete="off"  type="text" class="form-control" name="Phone" ng-disabled="!customer.isEdit" placeholder="联系人座机" ng-model="customer.selectedCustomer.Phone" required>
                                                        <div ng-messages="customer.form.Phone.$error" class="help-block" role="alert">
                                                            <div ng-message="required">联系人座机不能为空</div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group pull-in clearfix  m-t-xs col-md-6" title="">
                                                    <label class="col-md-12  font-bold">联系人手机:</label>
                                                    <div class="col-md-12" ng-class="{ 'has-error' : customer.form.Mobile.$invalid }">
                                                        <input autocomplete="off"  type="text" name="Mobile" class="form-control" ng-disabled="!customer.isEdit" placeholder="联系人手机" ng-model="customer.selectedCustomer.Mobile" required>
                                                        <div ng-messages="customer.form.Mobile.$error" class="help-block" role="alert">
                                                            <div ng-message="required">联系人手机不能为空</div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs col-md-6" title="">
                                                    <label class="col-md-12 font-bold">联系人职务:</label>
                                                    <div class="col-md-12" ng-class="{ 'has-error' : customer.form.Position.$invalid }">
                                                        <input autocomplete="off"  type="text" class="form-control" name="Position" ng-disabled="!customer.isEdit" placeholder="联系人职务" ng-model="customer.selectedCustomer.Position" required>
                                                        <div ng-messages="customer.form.Position.$error" class="help-block" role="alert">
                                                            <div ng-message="required">联系人职务不能为空</div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group pull-in clearfix  m-t-xs col-md-6" title="">
                                                    <label class="col-md-12 font-bold">社会信用代码:</label>
                                                    <div class="col-md-12">
                                                        <input autocomplete="off"  type="text" name="Code" class="form-control" ng-disabled="!customer.isEdit" placeholder="社会信用代码" ng-model="customer.selectedCustomer.Code">
                                                    </div>

                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs col-md-6" title="">
                                                    <label class="col-md-12 font-bold">公司开户银行:</label>
                                                    <div class="col-md-12">
                                                        <input autocomplete="off"  type="text" class="form-control" name="Bank" ng-disabled="!customer.isEdit" placeholder="公司开户银行" ng-model="customer.selectedCustomer.Bank">
                                                    </div>
                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs col-md-6" title="">
                                                    <label class="col-md-12 font-bold">法人:</label>
                                                    <div class="col-md-12">
                                                        <input autocomplete="off"  type="text" name="LegalPerson" class="form-control" ng-disabled="!customer.isEdit" placeholder="法人" ng-model="customer.selectedCustomer.LegalPerson">
                                                    </div>

                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs col-md-6" title="">
                                                    <label class="col-md-12  font-bold">公司收款账号:</label>
                                                    <div class="col-md-12">
                                                        <input autocomplete="off"  type="text" class="form-control" name="ReceiveAccount" ng-disabled="!customer.isEdit" placeholder="公司收款账号" ng-model="customer.selectedCustomer.ReceiveAccount">
                                                    </div>
                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs col-md-6" title="">
                                                    <label class="col-md-12 font-bold">股东信息:</label>
                                                    <div class="col-md-12">
                                                        <input autocomplete="off"  type="text" name="ShareHolder" class="form-control" ng-disabled="!customer.isEdit" placeholder="股东信息" ng-model="customer.selectedCustomer.ShareHolder">
                                                    </div>
                                                
                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs col-md-6" title="">
                                                    <label class="col-md-12 font-bold">营业执照:</label>
                                                    <div class="col-md-12">
                                                        <input autocomplete="off"  type="text" class="form-control" name="BusinessLicense" ng-disabled="!customer.isEdit" placeholder="营业执照" ng-model="customer.selectedCustomer.BusinessLicense">
                                                    </div>
                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs col-md-6" title="">
                                                    <label class="col-md-12 font-bold">名片正面:</label>
                                                    <div class="col-md-12" ng-disabled="!customer.isEdit">
                                                        <div file-upload file-data="customer.selectedCustomer.CardFile.File" placeholder="名片反面" file-type=".jpeg,.jpg,.png,.bmp"></div>
                                                        <img ng-if="customer.selectedCustomer.CardFile.File" ng-src="{{ customer.selectedCustomer.CardFile.File.FileUrl }}" class="img-responsive center-block" alt="名片反面" />
                                                    </div>
                                                    
                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs col-md-6" title="">
                                                    <label class="col-md-12 font-bold">名片反面:</label>
                                                    <div class="col-md-12">
                                                        <div file-upload file-data="customer.selectedCustomer.CardReverseFile.File" placeholder="名片反面" file-type=".jpeg,.jpg,.png,.bmp"></div>
                                                        <img ng-if="customer.selectedCustomer.CardReverseFile.File" ng-src="{{ customer.selectedCustomer.CardReverseFile.File.FileUrl }}" class="img-responsive center-block" alt="名片反面" />
                                                    </div>
                                                </div>
                                                <div class="form-group pull-in clearfix  m-t-xs col-md-12" title="">
                                                    <label class="col-md-12 font-bold">NDA协议:</label>
                                                    <div class="col-md-12">
                                                        <div ng-repeat="item in customer.selectedCustomer.NDAFile">
                                                            <a class="btn btn-link btn-sm" ng-href="{{item.File.FileUrl}}"><i class="glyphicon glyphicon-download"></i>{{item.File.OriginalName+item.File.FileType}}</a>
                                                        </div>
                                                        <div file-upload-multi file-data="customer.fileData" placeholder="NDA协议" file-type="*"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="row">
                                                <div class="bg-light wrapper-md lter b-b text-center">
                                                    <h3 class="m-n font-thin h5 font-bold">已分配给{{ customer.selectedCustomer.Account}}{的权限</h3>
                                                </div>
                                                <div class="padder m-t-xs">
                                                    <div class="form-group" uib-collapse="!customer.isAddUserRole">
                                                        <div class="input-group col-md-12">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default" ng-click="customer.InsertCustomerRight()" ng-disabled="!customer.isNewRight">
                                                                    <i class="glyphicon glyphicon-plus text-success"></i>
                                                                </button>
                                                            </span>
                                                            <ui-select ng-model="customer.newProduct" theme="bootstrap" search-enabled="true" ng-change="customer.SelectProduct( $select.selected.ProNo+$select.selected.Version)">
                                                                <ui-select-match placeholder="选择产品...">{{ $select.selected.ProNo+$select.selected.Version }}</ui-select-match>
                                                                <ui-select-choices repeat="item in customer.Products|filter:$select.search track by item.ProNo+item.Version">
                                                                    <div ng-bind-html="item.ProNo+item.Version|highlight:$select.search"></div>
                                                                    <small ng-bind-html="item.ProNo "></small>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default" ng-click="customer.isAddUserRole=!customer.isAddUserRole">
                                                                    <i class="glyphicon glyphicon-search text-success"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" uib-collapse="customer.isAddUserRole">
                                                        <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-success" ng-click="customer.isAddUserRole=!customer.isAddUserRole">
                                                                    <i class="glyphicon glyphicon-plus"></i>
                                                                </button>
                                                            </span>
                                                            <input autocomplete="off"  type="text" class="form-control" placeholder="查询" ng-model="customer.S2.WhereClause">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default" ng-click="customer.SearchPro()" disabled>
                                                                    <i class="glyphicon glyphicon-search text-success"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="list-group">
                                                        <ul class="list-group bg-white">
                                                            <li class="list-group-item" ng-repeat="item in customer.CustomerRights">
                                                                <a herf class="pull-left">
                                                                    <b class="badge bg-success h2"><i class="glyphicon glyphicon-lock text-white"></i></b>
                                                                </a>
                                                                <div class="clear">
                                                                    <div>
                                                                        <a ng-click='customer.DeleteCustomerRight(item)' class="pull-right hover text-muted h4"><i class="fa fa-times text-danger"></i></a>
                                                                        <div class="text-info h4">{{ item.ProNo+item.Version }}</div>
                                                                    </div>
                                                                    <small class="text-muted">{{ item.ProName }}</small>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

