<uib-tabset active="active" type="tabs" class="h-100" cg-busy="qz.promise">
    <uib-tab index="0">
        <uib-tab-heading class="h5">代理商管理</uib-tab-heading>
        <div class="wrapper-md">
            <div class="form-inline">
                <button class= "btn btn-sm btn-success " ng-click= "qz.Insert() "><i class= "glyphicon glyphicon-plus "></i>新增</button>
                <div class="form-group">
                    <input type="text" class="form-control"  ng-model="qz.Ser.a_AgentNo" placeholder="代理商编号">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"  ng-model="qz.Ser.a_AgentName" placeholder="代理商名称">
                </div>
                <button class= "btn btn-sm btn-info " ng-click= "qz.Search() "><i class= "glyphicon glyphicon-search "></i>查询</button>
                <button class= "btn btn-sm btn-success " ng-click= "qz.ExportExcel() "><i class= "glyphicon glyphicon-export "></i> 导出</button>
            </div>
        </div>
        <div class= "padder-md ">
            <div class="col-md-12 scroll-x no-padder">
                <table class= "table pad-xs" >
                    <thead>
                        <tr>
                            <td style= "width:60px">操作</td>
                            <td style= "width:100px ">代理商编号</td>
                            <td style= "width:300px ">代理商名称</td>
                            <td style= "width:300px ">备注</td>
                        </tr>
                    </thead>
                    <tr ng-if="qz.IsInsert" ng-form="qz.InsertForm">
                        <td>
                            <button class="btn btn-xs btn-success" ng-disabled="qz.InsertForm.$invalid" ng-click="qz.SaveInsert()"><i class="glyphicon glyphicon-save"></i></button>
                            <button class="btn btn-xs btn-warning" ng-click="qz.IsInsert=false" ><i class="fa fa-undo"></i></button>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': qz.InsertForm.AgentNo.$invalid }">
                                <input type="text" name="AgentNo" class="form-control" placeholder="代理商编号" ng-model="qz.NewItem.AgentNo" required  ng-blur="qz.IsAddAgentNoExists()" />
                                <div ng-messages="qz.InsertForm.AgentNo.$error" class="help-block" role="alert">
                                    <div ng-message="unique">代理商编号重复</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div ng-class="{ 'has-error': qz.InsertForm.AgentName.$invalid }">
                                <input type="text" name="AgentName" class="form-control" placeholder="代理商名称" ng-model="qz.NewItem.AgentName" required />
                            </div>
                        </td>
                        <td>
                            <div >
                                <input type="text" name="Remark" class="form-control" placeholder="备注" ng-model="qz.NewItem.Remark"  />
                            </div>
                        </td>
                    </tr>
                    <tr ng-repeat= "item in qz.List " ng-form="item.ItemForm">
                        <td>
                            <span ng-if="!item.IsEdit">
                                <button class="btn btn-xs btn-primary" ng-click="qz.Edit(item)"><i class="glyphicon glyphicon-edit"></i></button>
                                <button class="btn btn-xs btn-danger" ng-confirm="{text:'确定要删除吗'}" ng-click="qz.Delete(item)"><i class="glyphicon glyphicon-remove"></i></button>
                            </span>
                            <span ng-if="item.IsEdit">
                                <button class="btn btn-xs btn-success" ng-disabled="item.ItemForm.$invalid" ng-click="qz.SaveEdit($index)"><i class="glyphicon glyphicon-save"></i></button>
                                <button class="btn btn-xs btn-warning" ng-click="item.IsEdit=false"><i class="fa fa-undo"></i></button>
                            </span>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.AgentNo }}</span>
                            <div ng-if="item.IsEdit" ng-class="{ 'has-error' : item.ItemForm.item_AgentNo.$invalid }">
                                 <input type="text" name="item_AgentNo" class="form-control" placeholder="代理商编号" ng-model="qz.EditItem.AgentNo" required  ng-blur="qz.IsEditAgentNoExists()" />
                                 <div ng-if="item.ItemForm.item_AgentNo.$error" ng-messages="item.ItemForm.item_AgentNo.$error" class="help-block" role="alert">
                                      <div ng-message="unique">代理商编号重复</div>
                                 </div>
                            </div>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.AgentName }}</span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_AgentName.$invalid }">
                                 <input type="text" name="item_AgentName" class="form-control" placeholder="代理商名称" ng-model="qz.EditItem.AgentName" required />
                            </div>
                        </td>
                        <td>
                            <span ng-if="!item.IsEdit">{{ item.Remark }}</span>
                            <div ng-if="item.IsEdit"  ng-class="{ 'has-error' : item.ItemForm.item_Remark.$invalid }">
                                 <input type="text" name="item_Remark" class="form-control" placeholder="备注" ng-model="qz.EditItem.Remark"  />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class= "col-md-12 text-center " ng-if= "qz.page.total>qz.page.size ">
                <div uib-pagination total-items= "qz.page.total " ng-model= "qz.page.index " items-per-page= "qz.page.size " max-size= "10 " first-text= "第一页 " previous-text= "上一页 "
                     ng-change= "qz.PageChange() " next-text= "下一页 " last-text= "最后页 " boundary-links= "true " boundary-link-numbers= "true "></div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
